#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="retailer">
					<div class="page-header">
						<h1>$!mainContentTitle</h1>
					</div>
					<div style="float: right; padding-right: 15px; font-size: 15px;">
						<a href="$!urlAdd" class="btn btn-primary">$wording.get("bo.common.add_label")</a>
					</div>
					<div style="float: left;">
						<form method="POST" class="navbar-search pull-right" action="">
							<input type="text" placeholder="Text" class="search-query" name="search-txt" id="search-txt">
						</form>
					</div>
					<div style="clear: both;"></div>
					#parse("../../_include/body-pagination-pagelistholder.vm")
					<div>
						<table class="table" style="width: 100%">
							<thead>
								<tr>
									<th width="70px">$wording.get("bo.retailer.code_label")</th>
									<th width="150px">$wording.get("bo.retailer.name_label")</th>
									<th width="240px">$wording.get("bo.retailer.description_label")</th>
									<th width="100px">$wording.get("bo.common.address_label")</th>
									<th width="100px">$wording.get("bo.retailer.website_label")</th>
									<th width="200px">$wording.get("bo.common.actions_label")</th>
								</tr>
							</thead>
							<tbody>
								#foreach($retailer in $pagedListHolder.pageList)
								<tr>
									<td>$!retailer.code</td>
									<td>$!retailer.name</td>
									<td>$!retailer.description</td>
									<td>$!retailer.defaultAddress.cityLabel $!retailer.defaultAddress.countryLabel </td>
									<td>$!retailer.website</td>
									<td><a href="$!retailer.detailsUrl" class="btn">$wording.get("bo.common.details_label")</a>&nbsp;<a href="$!retailer.editUrl" class="btn">$wording.get("bo.common.edit_label")</a>&nbsp;<a href="$!retailer.storeListUrl" class="btn">$wording.get("bo.retailer.stores_label")</a></td>
								</tr>
								#end
							</tbody>  
						</table> 
					</div>
					<div style="clear: both;"></div>

				</section>
