#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)
#set ($footer_script_content = "../content/retailer/retailer-edit-footer-script.vm")

				<section id="delivery-method-edit">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!retailer.dateCreate | $wording.get("bo.common.date_update_label") $!retailer.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a class="btn" href="$!urlBack" alt="">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<form id="retailerForm" name="retailerForm" action="" method="POST" enctype="multipart/form-data" class="form-edit">
								<input type="hidden" id="id" name="id" value="${retailerForm.id}" />
								<div>
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
								#set($beanName = "retailerForm")
								#parse("../../_include/body-form-error-message.vm")
								<div class="form-horizontal well">
									<div class="form-row">
										<div class="form-label-column">
											<label for="code" class="label-form">$wording.get("bo.retailer.code_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="code" name="code" value="$!retailerForm.code" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="name" class="label-form">$wording.get("bo.retailer.name_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="name" name="name" value="$!retailerForm.name" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="description" class="label-form">$wording.get("bo.retailer.description_label")</label>
										</div>
										<div class="form-input-column">
											<textarea id="description" name="description">$!retailerForm.description</textarea>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-label-column">
											<label class="label-form">$wording.get("bo.retailer.config_label")</label>
										</div>
										<div class="form-input-column">					
											<input type="checkbox" id="brand" #if ($!retailerForm.brand) checked="checked" #end/>&nbsp;<span>$wording.get("bo.retailer.is_brand_label")</span>&nbsp;
											<input type="checkbox" id="officialRetailer" #if ($!retailerForm.officialRetailer) checked="checked" #end/>&nbsp;<span>$wording.get("bo.retailer.is_offical_retailer_label")</span>&nbsp;
											<input type="checkbox" id="ecommerce" #if ($!retailerForm.ecommerce) checked="checked" #end/>&nbsp;<span>$wording.get("bo.retailer.is_ecommerce_label")</span>&nbsp;
											<input type="checkbox" id="corner" #if ($!retailerForm.corner) checked="checked" #end/>&nbsp;<span>$wording.get("bo.retailer.is_corner_label")</span>&nbsp;
											<input type="hidden" name="brand" value="$!retailerForm.brand"/>
											<input type="hidden" name="officialRetailer" value="$!retailerForm.officialRetailer"/>
											<input type="hidden" name="ecommerce" value="$!retailerForm.ecommerce"/>
											<input type="hidden" name="corner" value="$!retailerForm.corner"/>
										</div>
									</div>							
									
									<div class="form-row">
										<div class="form-label-column">
											<label class="label-form">$wording.get("bo.retailer.warehouse_label")</label>
										</div>
										<div class="form-input-column">
											<select id="warehouseId" name="warehouseId" style="width: 300px; height: 30px;" >
												<option value="">--</option>
												#foreach($warehouse in $warehouses)
													#if($warehouse.key == $retailerForm.warehouseId)
													<option value="$warehouse.key" selected="selected">$warehouse.value</option>
													#else
													<option value="$warehouse.key">$warehouse.value</option>
													#end
												#end
											</select>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-label-column">
											<label for="file" class="label-form">$wording.get("bo.retailer.logo_label")</label>
										</div>
										<div class="form-input-column">
											<span class="btn btn-file">Upload<input type="file" name="file" /></span>
											<span class="retialer-icon">
												<img src="$!retailer.img"/>
											</span>											
										</div>
									</div>									

									<div class="form-row">
										<div class="form-label-column">
											<label for="address1" class="label-form">$wording.get("bo.retailer.address1_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="address1" name="address1" value="$!retailerForm.address1" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="address2" class="label-form">$wording.get("bo.retailer.address2_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="address2" name="address2" value="$!retailerForm.address2" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="addressAdditionalInformation" class="label-form">$wording.get("bo.retailer.address_additional_information_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="addressAdditionalInformation" name="addressAdditionalInformation" value="$!retailerForm.addressAdditionalInformation" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="postalCode" class="label-form">$wording.get("bo.retailer.postal_code_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="postalCode" name="postalCode" value="$!retailerForm.postalCode" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="city" class="label-form">$wording.get("bo.retailer.city_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="city" name="city" value="$!retailerForm.city" />
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-label-column">
											<label for="country" class="label-form">$wording.get("bo.retailer.country_label")</label>
										</div>
										<div class="form-input-column">
											<select id="country" name="country" style="width: 300px; height: 30px;" >
												<option value="">--</option>
												#foreach($country in $countries)
													#if($country.key == $retailerForm.countryCode)
													<option value="$country.key" selected="selected">$country.value</option>
													#else
													<option value="$country.key">$country.value</option>
													#end
												#end
											</select>
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-label-column">
											<label for="longitude" class="label-form">$wording.get("common.geoloc.longitude_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="longitude" name="longitude" value="$!retailerForm.longitude" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="latitude" class="label-form">$wording.get("common.geoloc.latitude_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="latitude" name="latitude" value="$!retailerForm.latitude" style="width: 300px;" />
										</div>
									</div>
									
									<div class="form-row">
										<div class="form-label-column">
											<label for="email" class="label-form">$wording.get("bo.retailer.email_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="email" name="email" value="$!retailerForm.email" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="phone" class="label-form">$wording.get("bo.retailer.phone_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="phone" name="phone" value="$!retailerForm.phone" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
										<label for="fax" class="label-form">$wording.get("bo.retailer.fax_label")</label>
										</div>
										<div class="form-input-column">
										<input type="text" id="fax" name="fax" value="$!retailerForm.fax" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="mobile" class="label-form">$wording.get("bo.retailer.mobile_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="mobile" name="mobile" value="$!retailerForm.mobile" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="website" class="label-form">$wording.get("bo.retailer.website_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="website" name="website" value="$!retailerForm.website" style="width: 300px;" />
										</div>
									</div>
									
								</div>												
								<div style="clear: both; padding-top: 15px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
							</form>
						</div>
						<div style="clear: both;"></div>
					</div>
				</section>	
