#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="user-edit">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div style="width: 100%;" class="form-horizontal well">
						<form id="userForm" name="userForm" action="" method="POST">
						<input type="hidden" id="id" name="id" value="${userForm.id}" />
						#set($beanName = "userForm")
						#parse("../../_include/body-form-error-message.vm")
						<div style="float: left; width: 50%;">
							<button class="btn" onclick="javascript:window.location.href='$!urlBack'">$wording.get("bo.common.cancel_label")</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
							<br/><br/>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="lastname" class="label-form">$wording.get("bo.user.firstname_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="lastname" name="lastname" value="${userForm.lastname}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="firstname" class="label-form">$wording.get("bo.user.lastname_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="firstname" name="firstname" value="${userForm.firstname}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="email" class="label-form">$wording.get("bo.user.email_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="email" name="email" value="${userForm.email}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="login" class="label-form">$wording.get("bo.user.login_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="login" name="login" value="${userForm.login}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left;">
									$wording.get("bo.user.active_label")
									#if($userForm.active)
										<span style="color: green">$wording.get("bo.user.active_value_true")</span>
									#else
										<span style="color: red">$wording.get("bo.user.active_value_false")</span>
									#end
								</div>
							</div>
						</div>
						<div style="float: left; width: 50%;">
							
						</div>
						<div style="clear: both; padding-top: 15px;">
							<button class="btn" onclick="javascript:window.location.href='$!urlBack'">$wording.get("bo.common.cancel_label")</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
						</div>
						</form>
					</div>
					
					<div style="clear: both;"></div>

				</section>
