#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
			<section id="customer-create-account">
				#parse("../cart/_include/checkout-steps.vm")
				<div class="page-header">
					<h1>$wording.get("fo.header_title.customer_create_account")</h1>
				</div>
				<form id="createAccountForm" name="createAccountForm" action="customer-create-account.html" method="POST">
				#set($beanName = "createAccountForm")
				#parse("../../_include/body-form-error-message.vm")
				<div>
					<div style="float: left; width: 400px; height: 350px; border: 0px solid #B8B6B6; background-color: #ffffff; padding-left: 10px; margin-bottom: 50px;">
						<div style="padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="title" class="label-form">$wording.get("fo.customer.form_account_label_title")</label>
							</div>
							<div style="float: left;">
								<select id="title" name="title" style="width: 205px; height: 25px;" >
									<option value="">--</option>
									#foreach($title in $titles)
										#if($title.key == $createAccountForm.title)
										<option value="$title.key" selected="selected">$title.value</option>
										#else
										<option value="$title.key">$title.value</option>
										#end
									#end
								</select>
							</div>
						</div>
						<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="lastname" class="label-form">$wording.get("fo.customer.form_account_label_lastname")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="lastname" name="lastname" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="firstname" class="label-form">$wording.get("fo.customer.form_account_label_firstname")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="firstname" name="firstname" value="" style="width: 200px;" />
							</div>
						</div>
						
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="address1" class="label-form">$wording.get("fo.customer.form_address_label_address1")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="address1" name="address1" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="address2" class="label-form">$wording.get("fo.customer.form_address_label_address2")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="address2" name="address2" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="addressAdditionalInformation" class="label-form">$wording.get("fo.customer.form_address_label_address_additional_information")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="addressAdditionalInformation" name="addressAdditionalInformation" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="postalCode" class="label-form">$wording.get("fo.customer.form_address_label_zip_or_postal_code")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="postalCode" name="postalCode" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="city" class="label-form">$wording.get("fo.customer.form_address_label_city")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="city" name="city" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="stateCode" class="label-form">$wording.get("fo.customer.form_address_label_state")</label>
							</div>
							<div style="float: left;">
								<select id="stateCode" name="stateCode" style="width: 205px; height: 25px;" >
									<option value="">--</option>
									#foreach($state in $states)
										#if($state.key == $createAccountForm.stateCode)
										<option value="$state.key" selected="selected">$state.value</option>
										#else
										<option value="$state.key">$state.value</option>
										#end
									#end
								</select>
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="countryCode" class="label-form">$wording.get("fo.customer.form_address_label_country")</label>
							</div>
							<div style="float: left;">
								<select id="countryCode" name="countryCode" style="width: 205px; height: 25px;" >
									<option value="">--</option>
									#foreach($country in $countries)
										#if($country.key == $createAccountForm.countryCode)
										<option value="$country.key" selected="selected">$country.value</option>
										#else
										<option value="$country.key">$country.value</option>
										#end
									#end
								</select>
							</div>
						</div>
					</div>
					<div style="float:left; width: 550px; height: 350px; border: 0px solid #B8B6B6; background-color: #ffffff; padding-left: 10px;">
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="email" class="label-form">$wording.get("fo.customer.form_account_label_email")</label>
							</div>
							<div style="float: left;">
								<input type="email" id="email" name="email" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="password" class="label-form">$wording.get("fo.customer.form_account_label_password")</label>
							</div>
							<div style="float: left;">
								<input type="password" id="password" name="password" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="phone" class="label-form">$wording.get("fo.customer.form_account_label_phone")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="phone" name="phone" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
							<label for="fax" class="label-form">$wording.get("fo.customer.form_account_label_fax")</label>
							</div>
							<div style="float: left;">
							<input type="text" id="fax" name="fax" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="mobile" class="label-form">$wording.get("fo.customer.form_account_label_mobile")</label>
							</div>
							<div style="float: left;">
								<input type="text" id="mobile" name="mobile" value="" style="width: 200px;" />
							</div>
						</div>
						<div style="clear: both;"></div>
						<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="optin" class="label-form">$wording.get("fo.customer.form_account_label_optin")</label>
							</div>
							<div style="float: left;">
								<input type="checkbox" id="optin" value="test">
							</div>
						</div>
					  
						<div style="width: 600px; clear: both; text-align: right; padding-top: 5px; padding-bottom: 5px;">
							<a href="$!urlBack" class="btn">$wording.get("fo.customer.form_account_label_cancel")</a>
							<button class="btn btn-primary" type="submit">$wording.get("fo.customer.form_create_account_label_submit")</button>
						</div>
						<div style="padding-top: 15px; height: 70px;">
							<p style="color: #9b9b9b; font-style: italic; font-size: 12px; text-align: justify;">
								$legalTerms.warning
							</p>
						</div>
					</div>
					<div style="clear: both; padding-bottom: 20px;"></div>
				</div>
				</form>
			</section>
