#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="customer-order-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
	
					#parse("_include/customer-menu.vm")

					<div style="float: left; width: 80%;" class="form-horizontal well">
						ORDER DETAILS
					</div>
					<div style="clear: both;"></div>
				</section>
