#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="customer-order-list">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
	
					<div style="float: left; width: 15%;">
						#parse("_include/customer-menu.vm")
					</div>

					<div style="float: left; width: 80%;">
						<div>
							<div style="width: 950px; border: 0px solid #B8B6B6; background-color: #ffffff; padding: 10px; float:left;">
								#parse("../../_include/body-pagination-pagelistholder.vm")
								<div>
									<table class="table" style="width: 100%">
										<thead>
											<tr>
												<th width="100px">Order ID</th>
												<th width="200px">Date</th>
												<th width="200px">Total Amount</th>
												<th width="150px">Status</th>
												<th width="150px"></th>
											</tr>
										</thead>
										<tbody>
											#foreach($order in $pagedListHolder.pageList)
											<tr>
												<td>${order.orderNum}</td>
												<td>${order.dateCreate}</td>
												<td>${order.totalAmountWithCurrencySign}</td>
												<td>${order.status}</td>
												<td>
													<a class="btn" href="$order.orderDetailsUrl" alt="">details</a>
												</td>
											</tr>
											#end
										</tbody>  
									</table> 
								</div>
							</div>
						</div>					
					</div>
					<div style="clear: both;"></div>
				</section>
