#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="customer-details">
					<div class="page-header">
						<h1>$!mainContentTitle</h1>
					</div>

					<div style="float: left; width: 15%;">
						#parse("_include/customer-menu.vm")
					</div>
	
					<div style="float: left; width: 80%;">
						#foreach($customerAdress in $customerAdresses.customerAddressList)
						<div class="form-horizontal well">
							<fieldset>
								<div class="control-group">
									<label class="control-label">$wording.get("fo.customer.address_list_label_address_name")</label>
									<div class="controls">
										$!customerAdress.addressName
										#if($!customerAdress.isDefaultBilling)
											$wording.get("fo.customer.address_list_label_default_billing_address")
										#end
										#if($!customerAdress.isDefaultShipping)
											$wording.get("fo.customer.address_list_label_default_shipping_address")
										#end
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										$!customerAdress.titleLabel $!customerAdress.lastname $!customerAdress.firstname
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										$!customerAdress.address1
									</div>
								</div>
								#if($customerAdress.address2 != '')
								<div class="control-group">
									<div class="controls">
										$!customerAdress.address2
									</div>
								</div>
								#end
								#if($customerAdress.addressAdditionalInformation != '')
								<div class="control-group">
									<div class="controls">
										$!customerAdress.addressAdditionalInformation
									</div>
								</div>
								#end
								<div class="control-group">
									<div class="controls">
										$!customerAdress.postalCode $!customerAdress.city
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										$!customerAdress.stateLabel $!customerAdress.countryLabel
									</div>
								</div>
							</fieldset>
						</div>
						<div class="controls form-inline" style="clear: both; text-align: right; padding-top: 5px; padding-bottom: 5px; overflow: auto;">
							#if($velocityCount > 1)
							<span style="float: left;">
								<a href="$customerAdress.deleteUrl" alt="$wording.get("fo.customer.form_address_label_delete")" class="btn btn-primary">$wording.get("fo.customer.form_address_label_delete")</a>
							</span>
							#end
							<span style="float: right;">
								<a href="$customerAdress.editUrl" alt="$wording.get("fo.customer.form_address_label_edit")" class="btn btn-primary">$wording.get("fo.customer.form_address_label_edit")</a>
							</span>
						</div>
						<div style="clear: both;"></div>
						#end
					</div>

				</section>
