#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="engine-setting-value-edit">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!engineSetting.dateCreate | $wording.get("bo.common.date_update_label") $!engineSetting.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a class="btn" href="$!urlBack" alt="">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<form id="engineSettingForm" name="engineSettingForm" action="" method="POST">
								<input type="hidden" id="id" name="id" value="$!engineSettingForm.id" />
								<div>
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
								#set($beanName = "engineSettingForm")
								#parse("../../_include/body-form-error-message.vm")
								<div class="form-horizontal well">
									<div style="width: 100%">
										<strong>$wording.get("bo.engine_setting.code_label") :</strong> $!engineSetting.code
									</div>
									<div style="width: 100%">
										<strong>$wording.get("bo.engine_setting.name_label") :</strong> $!engineSetting.name
									</div>
									<div style="width: 100%">
										<strong>$wording.get("bo.engine_setting.description_label") :</strong> $!engineSetting.description
									</div>
									<div style="width: 100%">
										<strong>$wording.get("bo.common.date_create_label"):</strong> $!engineSetting.dateCreate
									</div>
									<div style="width: 100%">
										<strong>$wording.get("bo.common.date_update_label"):</strong> $!engineSetting.dateUpdate
									</div>	
									<div class="form-row">
										<div class="form-label-column">
											<label for="context" class="label-form">$wording.get("bo.engine_setting.contextualized_context_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="context" name="context" value="$!engineSettingValueForm.context" style="width: 300px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="value" class="label-form">$wording.get("bo.engine_setting.contextualized_value_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="value" name="value" value="$!engineSettingValueForm.value" style="width: 300px;" />
										</div>
									</div>
								</div>				
								<div style="clear: both; padding-top: 15px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
							</form>
						</div>
						<div style="clear: both;"></div>
					</div>
				</section>
				

