#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="follow-us">
					<div class="page-header">
						<h1>$wording.get("fo.follow_us.header_title")</h1>
					</div>
					
					<div>
						<div class="container-fluid">
							<div class="row-fluid">
								<div class="span4">
									#parse("_include/follow-us-options.vm")
								</div>
								<div class="span8">

								<form id="followUsForm" name="followUsForm" action="follow-us.html" method="POST">
									#set($beanName = "followUsForm")
									#parse("../../_include/body-form-error-message.vm")
									<div style="padding-top: 5px; padding-left: 50px;  padding-bottom: 5px;">
										<div style="float: left; width: 100px;">
											<label for="email" class="label-form">$wording.get("fo.follow_us.form_label_email")</label>
										</div>
										<div style="float: left;">
											<input type="text" id="email" name="email" value="" style="width: 200px; height: 20px;" />
										</div>
									</div>
									<div style="clear: both; text-align: right; padding-top: 5px; padding-bottom: 5px;">
										<button class="btn" onclick="javascript:window.location.href='$!urlBack'">$wording.get("fo.follow_us.form_label_cancel")</button>
										<button class="btn btn-primary" type="submit">$wording.get("fo.follow_us.form_label_submit")</button>
									</div>
									<div style="width: 100%; padding-top: 20px;">
										<p style="color: #9b9b9b; font-style: italic; font-size: 12px; text-align: justify;">
											$legalTerms.warning
										</p>
									</div>
								</form>
								</div>
							</div>
						</div>

					</div>
				</section>
