
/* Gallery styles */
#product-carousel-gallery {
	/* CSS3 Box Shadow */
	-moz-box-shadow:0 0 3px #AAAAAA;
	-webkit-box-shadow:0 0 3px #AAAAAA;
	box-shadow:0 0 3px #AAAAAA;
	
	/* CSS3 Rounded Corners */
	
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	border-bottom-left-radius:4px;
	
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	
	border: 1px solid white;
	width: 1170px;
	overflow: hidden;
}

#product-carousel-slides {
	height: 450px;
	width: 1170px;
	overflow: hidden;
}

#product-carousel-gallery .product-carousel-slide{
	float: left;
}

#product-carousel-menu {
	height: 80px;
	text-align: center;
}

#product-carousel-gallery ul {
	margin: 0px;
	padding: 0px;
}

#product-carousel-gallery li {
	display: inline-block;
	list-style: none;
	height: 80px;
	overflow: hidden;
}

#product-carousel-gallery li.product-carousel-inact:hover {
}

#product-carousel-gallery li.product-carousel-act,li.product-carousel-act:hover {
}

#product-carousel-gallery li.product-carousel-act a {
	cursor: default;
}

#product-carousel-gallery .product-carousel-fbar {
	width: 2px;
}

#product-carousel-gallery li a {
	display: block;
	height: 35px;
	padding-top: 10px;
}

#product-carousel-gallery a img {
	border: none;
}

#product-carousel-gallery h1 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 15px;
}

#product-carousel-gallery h2 {
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 0;
	text-transform: uppercase;
	top: 15px;
}

#product-carousel-gallery #product-carousel-main {
	margin: 15px auto;
	text-align: center;
	width: 920px;
	position: relative;
}

#product-carousel-gallery a, a:visited {
	color: #0196e3;
	text-decoration: none;
	outline: none;
}

#product-carousel-gallery a:hover{
	text-decoration: underline;
}

#product-carousel-gallery p {
	padding: 10px;
	text-align: center;
}
