#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div id="container-body">
				<div id="breadcrumb">
					#parse("../_include/breadcrumb.vm")
				</div>
					
				<section id="follow-us">
					<div>
						<div style="width: 400px; height: 350px; background-color: #ffffff; margin-top: 10px; padding: 10px; float:left;">
						#foreach( $followOption in $followUs.followOptions )
							<div style="height: 90px;">
								<div style="width: 80px; float: left;">
									<a href="$followOption.url" target="_blank">
										<img border="0" src="$followOption.urlImg" title="" alt="$followOption.urlLabel">
									</a>
								</div>
								<div style="float: left;">
									<p style="color: #9b9b9b; font-style: italic; font-size: 12px;">$followOption.text</p>
									<a href="$followOption.url" target="_blank" style="color: #9b9b9b; font-size: 14px;" alt="$followOption.urlLabel">
										$followOption.title
									</a>
								</div>
							</div>
						#end
						</div>
						<div style="width: 700px; height: 350px; background-color: #ffffff; margin: 10px; padding: 10px; float:left;">
							<div  style="height: 275px;">
								$followUs.successMessage
							</div>
							<div  style="height: 70px;">
								<p style="color: #9b9b9b; font-style: italic; font-size: 12px;">
									$legacy.warning
								</p>
							</div>
						</div>
					</div>

				</section>
			</div>
			
			<div style="clear: both;"></div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>

