#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)
			
				<section id="forgotten-password">
					<div class="page-header">
						<h1>$wording.get("bo.auth.header_title_forgotten_password")</h1>
					</div>
					<div style="padding-bottom: 50px;">
						#parse("_include/body-form-forgotten-password.vm")
					</div>
				</section>
