#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="legacy">
					<div class="page-header">
						<h1>${legacy.pageTitle}</h1>
					</div>
					<div style="padding-bottom: 50px;">
						${legacy.textHtml}
					</div>
				</section>
