#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#if( "$!beanName" == "" )
    #set($beanName = "dynamicBean")
#end
#springBind("$beanName.*")
#if($!status)
	#if($!status.errors.allErrors.size() > 0)
		<div class="alert alert-error" style="margin-top: 20px;">
		#foreach($error in $status.errors.allErrors)
			#if($!error.defaultMessage)
				#if($!error.defaultMessage != '')$!error.defaultMessage<br />#end
			#end
		#end
		</div>
	#end
#end
