#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html>
<html lang="$localeLanguageCode">
	<head>
		<title>${seoPageTitle}
		#if($!authenticatedUser)
			- (${authenticatedUser.lastname} ${authenticatedUser.firstname})
		#end
		</title>

		#parse("../_include/head-common.vm")
		
		#parse($!head_content)
		
		#if($!tracking)
		#parse("../_include/head-async-tracking.vm")
		#end

		#if($!monitoring)
		#parse("../_include/head-async-monitoring.vm")
		#end

	</head>
	<body>
		<div id="loader-popin"></div> 
		<div id="background-popin"></div> 

		#parse("../_include/body-popin-change-context.vm")
		
		#parse("../_include/body-header.vm")
			
		#parse("../_include/body-menu.vm")

		<div class="main">
			<div class="main-inner">
				<div class="container">
					#parse("../_include/body-transaction-messages.vm")
					$screen_content
				</div>
			</div>
		</div>

        #parse("../_include/body-footer.vm")

		#parse("../_include/body-bottom-javascript.vm")
		
		#parse($!footer_script_content)

	</body>
</html>
