#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/catalog/product-line-footer-script.vm")
#set ($page_title = $seoPageTitle)

<link rel="stylesheet" href="$!common.themeResourcePrefixPath/library/nivo-slider/default/default.css" type="text/css">
<link rel="stylesheet" href="$!common.themeResourcePrefixPath/library/nivo-slider/nivo-slider.css" type="text/css" media="screen" title="no title" charset="utf-8">

<link href="$!common.themeResourcePrefixPath/library/axe-carousel/axe-carousel.css" rel="stylesheet" type="text/css">

#parse("../../_include/body-popin-add-to-cart.vm")

#parse("../../_include/body-popin-add-to-wishlist.vm")
				
<div class="slider-wrapper theme-default axe-top-slider">
    <div id="slider" class="nivoSlider">
		#set( $subProductCategoryCounter = 1 )
		#foreach($subProductCategory in $catalogCategory.subCategories)
			<img src="$!subProductCategory.backgroundImage" alt="$!subProductCategory.name" title="#htmlcaption$!subProductCategoryCounter"/>
			#set( $subProductCategoryCounter = $subProductCategoryCounter + 1 )
		#end
    </div>
	#set( $subProductCategoryCounter = 1 )
	#foreach($subProductCategory in $catalogCategory.subCategories)
	<div id="htmlcaption$!subProductCategoryCounter" class="nivo-html-caption">
        <span class="banner-title">$!subProductCategory.name</span> 
		<span class="rating-stars star-5">&nbsp;</span>
		<p class="banner-des">$!subProductCategory.description [...]</p>
		<a href="#" class="banner-readmore">Readmore</a>
    </div>
	#set( $subProductCategoryCounter = $subProductCategoryCounter + 1 )
	#end    
</div>

<div style="clear: both;"></div>
	
<div class="row">	
<div class="side-bar span3">
	<span class="section-title sidebar-title">Category</span>
	<ul class="nav-category">
		#foreach($catalogCategory in $catalogCategories)
	    <li>
			<i class="fa fa-bars"></i>&nbsp;<a href="$!catalogCategory.productAxeUrl" class="level-top">$!catalogCategory.name</a>
			<ul class="level0">
			#foreach($subCategory in $catalogCategory.subCategories)
				<li class="level1">
					<a href="$!subCategory.productLineUrl">$!subCategory.name</a>
				</li>
			#end
			</ul>
		</li>
		#end
	</ul>
	
	#parse("../../_include/body-sidebar-recent-products.vm")
	
	#parse("../../_include/body-sidebar-light-cart-view.vm")
	
	<a href="" class="sidebar-banner">
		<img src="$!common.themeResourcePrefixPath/img/ads-banner1.jpg" alt="Ads Banner1">
	</a>
</div>
<!-- //category sidebar-->


<!-- category product section -->
<div class="span9">
	<div class="product-section">
		<span class="section-title category-title"><a href="${common.homeUrl}">Home</a> › <a href="$!catalogBreadcrumb.defaultParentCategory.detailsUrl">$!catalogBreadcrumb.defaultParentCategory.name</a> › $!catalogBreadcrumb.name</span>
		<div class="clear border-btm"></div>
		<form id="filter" method="get">
		<div class="filter-toolbar">
			<div class="tb">
				<div class="sorter">
					<p class="view-mode">
					#if(!$mode || $mode == "gird")
						#set ($mode = "gird")
					#else
						#set ($mode = "list")
					#end
					#if(!$sortBy)
						#set ($sortBy = "name")
					#end
					#if(!$orderBy || $orderBy == "asc")
						#set ($orderBy = "asc")
					#else
						#set ($orderBy = "desc")
					#end
					#if($mode == "list")
						<a href="?mode=gird&sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}" title="Gird" class="grid "><i class="fa fa-th"></i></a>
						<span title="List" class="list selected"><i class="fa fa-th-list"></i></span>
					#else
						<span title="Gird" class="grid selected"><i class="fa fa-th"></i></span>
						<a href="?mode=list&sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}" title="List" class="list"><i class="fa fa-th-list"></i></a>
					#end
					</p>

					<div class="sort-by">
						<label>View By</label>
						<select id="sortBy" name="sortBy">
							<option value="name" #if($sortBy == "name" || $sortBy != "price") selected="selected" #end>Name</option>
							<option value="price" #if($sortBy == "price") selected="selected" #end>Price</option>
						</select>
						
						<input name="orderBy" type="hidden" value="${orderBy}" style="display:none" />
						<input name="page" value="1" type="hidden" style="display:none" />
						
						<input name="mode" value="$mode" type="hidden" />
						#if($orderBy == "asc")
						<a id="orderBy" href="javascript:void(0)" title="Set Descending Direction">
							<img src="$!common.themeResourcePrefixPath/img/i_asc_arrow.gif" alt="Set Descending Direction" class="v-middle">
						</a>
						#else
						<a id="orderBy" href="javascript:void(0)" title="Set Ascending Direction">
							<img src="$!common.themeResourcePrefixPath/img/i_desc_arrow.gif" alt="Set Ascending Direction" class="v-middle">
						</a>
						#end
						
					</div>
				</div>
				<div class="pagination-wrap">
					<div class="pagination">
					#if($totalPage > 1)
					<ul class="pagination">
					
					#if($currentPage > 1 && $totalPage > 1)
					#set ($pagePrev =$currentPage-1 )
					<li><a href="?mode=${mode}&sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}&page=$pagePrev">Prev</a></li>
					#end
					#foreach($i in [1..$totalPage])
						<li><a class="#if($i==$currentPage) active #end" href="?mode=${mode}&sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}&page=${i}" data-page="${i}">${i}</a></li>
					#end
					#if( $currentPage < $totalPage && $totalPage > 1)
					#set ($pageNext =$currentPage + 1 )
					<li><a href="?mode=${mode}&sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}&page=$pageNext">Next</a></li>
					#end
					</ul>
					#end
					</div>
				</div>
				<div class="pager hidden-phone">
					<div class="limiter">
						<label>Display</label>
						<select name="pageSize">
							<option value="3" #if($pageSize == 3) selected="selected" #end>3</option>
							<option value="6" #if($pageSize == 6) selected="selected" #end>6</option>
							<option value="9" #if($pageSize != 3 && $pageSize != 6) selected="selected" #end>9</option>
						</select> on page        
					</div>
				</div>
			</div>
		</div>
		</form>
		#if($mode == "gird")
		<ul class="products-grid row">
			#foreach($productMarketing in $catalogCategory.productMarketings)
			<li class="item span3">
				<a href="$!productMarketing.detailsUrl" class="product-image product-line-image">
					<span>
						<img class="lazy" data-original="$!productMarketing.carouselImage" src="$!common.themeResourcePrefixPath/img/product-asset-loader.gif" alt="$!productMarketing.i18nName"/>
						<noscript><img src="$!productMarketing.carouselImage"></noscript>
					</span>
				</a>
				<a href="$!productMarketing.detailsUrl" class="product-name">
				#if($productMarketing.i18nName.length() > 31)
					$productMarketing.i18nName.substring(0,27)...
				#else
					${productMarketing.i18nName}
				#end
				</a>
				<span class="rating-stars star-$!productMarketing.customerProductRates.avgRateStar">&nbsp;</span>
				<p class="product-price">$!productMarketing.getPriceWithCurrencySign()</p>
				<a href="#" class="cart-btn trigger-add-to-cart" data-value-catalog-category-code="$catalogCategory.code" data-value-sku-code="$!productMarketing.skuCode" data-value-sku-quantity="1"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</a>
				#if($!customer)
					<a href="#" class="wishlist-btn trigger-add-to-wishlist" data-value-sku-code="$!productMarketing.skuCode"><i class="fa fa-heart"></i></a>
				#else
					<a href="$common.loginUrl" class="wishlist-btn"><i class="fa fa-heart"></i><span class="wishlist-btn-des">Add to wishlist</span></a>
				#end
			</li>			
			#end
		</ul>
		#else
		<ul class="products-grid row list-view">
			#foreach($productMarketing in $catalogCategory.productMarketings)
			<li class="item span3">
				<a href="$!productMarketing.detailsUrl" class="product-image product-line-image">
					<span><img src="$!productMarketing.carouselImage" alt="$!productMarketing.i18nName"></span>
				</a>
				<div class="product-info-wrap">
					<a href="$!productMarketing.detailsUrl" class="product-name">$!productMarketing.i18nName</a>
					<span class="rating-stars star-$!productMarketing.customerProductRates.avgRateStar">&nbsp;</span>
					<p class="product-short-des hide-as-grid">$!productMarketing.description</p>
					<p class="product-price">$!productMarketing.getPriceWithCurrencySign()</p>
					<a href="#" class="cart-btn trigger-add-to-cart" data-value-catalog-category-code="$catalogCategory.code" data-value-sku-code="$!productMarketing.skuCode" data-value-sku-quantity="1"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</a>
					#if($!customer)
						<a href="#" class="wishlist-btn trigger-add-to-wishlist" data-value-sku-code="$!productMarketing.skuCode"><i class="fa fa-heart"></i></a>
					#else
						<a href="$common.loginUrl" class="wishlist-btn"><i class="fa fa-heart"></i><span class="wishlist-btn-des">Add to wishlist</span></a>
					#end
				</div>
			</li>			
			#end
		</ul>
		#end
	</div>
</div>

</div>

<div class="clear border-btm"></div>

#parse("_include/brands.vm")
