#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/font/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/default/default.css" type="text/css">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/nivo-slider.css" type="text/css" media="screen" title="no title" charset="utf-8">

<link href="${common.themeResourcePrefixPath}/js/library/axe-carousel/axe-carousel.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
	function startupPage(){
		$('#featured-products').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#linked-logos-slide').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#slider').nivoSlider({
	    	controlNav: false
	    });
	    $('#sortBy').change(function(){
	    	if($(this).val() == ""){
	    		return ;
	    	}
			$('form#filter').submit();
		});
		
		$('input[name="page"]').change(function(){
			$('form#filter').submit();
		});
		$('#orderBy').click(function(){
			if($('input[name="orderBy"]').val() == "desc"){
				$('input[name="orderBy"]').val("asc");
			}else{
				$('input[name="orderBy"]').val("desc");
			}
			$('form#filter').submit();
		});
		$('select[name="pageSize"]').change(function(){
			$('form#filter').submit();
		});
	}
</script>

<!-- nivo slider - top banner -->
				
<div class="slider-wrapper theme-default axe-top-slider">
    <div id="slider" class="nivoSlider">
		#set( $subProductCategoryCounter = 1 )
		#foreach($subProductCategory in $productCategory.subCategories)
			<img src="${subProductCategory.backgroundImage}" alt="${subProductCategory.name}" title="#htmlcaption${subProductCategoryCounter}"/>
			#set( $subProductCategoryCounter = $subProductCategoryCounter + 1 )
		#end		
    </div>
	#set( $subProductCategoryCounter = 1 )
	#foreach($subProductCategory in $productCategory.subCategories)
	<div id="htmlcaption${subProductCategoryCounter}" class="nivo-html-caption">
        <span class="banner-title">${subProductCategory.name}</span> 
		<span class="rating-stars star-5">&nbsp;</span>
		<p class="banner-des">${subProductCategory.description} [...]</p>
		<a href="#" class="banner-readmore">Readmore</a>
    </div>
	#set( $subProductCategoryCounter = $subProductCategoryCounter + 1 )
	#end    
</div>
<!-- //nivo slider - top banner -->

<div style="clear: both;"></div>
	
<div class="row">	
<!-- category sidebar-->
<div class="side-bar span3">
	<span class="section-title sidebar-title">Category</span>
	<ul class="nav-category">
		#foreach($catalogCategory in $catalogCategories)
	    <li class="level0 active parent">
			<a href="${catalogCategory.productAxeUrl}" class="level-top">${catalogCategory.name}</a>
			<ul class="level0">
			#foreach($subCategory in $catalogCategory.subCategories)
				<li class="level1">
					<a href="${subCategory.productLineUrl}">${subCategory.name}</a>
				</li>
			#end
			</ul>
		</li>
		#end
	</ul>
	
	#if($recentProducts.size() > 0)
	<span class="section-title sidebar-title">Recent products</span>
	<ul class="nav-category">
		#foreach($recentProduct in $recentProducts)
	    <li class="level0 parent">
			<a href="${recentProduct.detailsUrl}" class="">${recentProduct.i18nName}</a>
		</li>
		#end
	</ul>
	#end
	
	<span class="section-title sidebar-title">Your cart</span>
	<ul class="nav-category">
		#if($cart.cartItems.size() > 0)
			#foreach($cartItem in $cart.cartItems)
			<li class="level0 parent">
			 <a href="$cartItem.productDetailsUrl">${cartItem.i18nName}</a>
			</li>
			#end
			<a href="$cart.cartDetailsUrl"> Cart Detail</a>
		#else
	    <li class="level0 parent">
			<span>There is 0 item(s) in your cart.</span>
		</li>
		#end
	</ul>
	
	<a href="" class="sidebar-banner">
		<img src="${common.themeResourcePrefixPath}/img/ads-banner1.jpg" alt="Ads Banner1">
	</a>
</div>
<!-- //category sidebar-->


<!-- category product section -->
<div class="span9">
	<div class="product-section">
		<span class="section-title category-title"><a href="${common.homeUrl}">Home</a> › <a href="$catalogBreadcrumb.defaultParentCategory.detailsUrl">$catalogBreadcrumb.defaultParentCategory.name</a> › $catalogBreadcrumb.name</span>
		<div class="clear border-btm"></div>
		<form id="filter" method="get">
		<div class="filter-toolbar">
			<div class="tb">
				<div class="sorter">
					<p class="view-mode">
						<span title="Gird" class="grid selected"><i class="icon-th"></i></span>
						<!--
						<a href="#" title="List" class="list"><i class="icon-th-list"></i></a>
						-->
					</p>

					<div class="sort-by">
						<label>View By</label>
						<select id="sortBy" name="sortBy">
							<option value="name" #if($sortBy == "name" || $sortBy != "price") selected="selected" #end>Name</option>
							<option value="price" #if($sortBy == "price") selected="selected" #end>Price</option>
						</select>
						#if(!$orderBy || $orderBy == "asc")
						#set ($orderBy = "asc")
						#else
						#set ($orderBy = "desc")
						#end
						<input name="orderBy" type="hidden" value="${orderBy}" style="display:none" />
						<input name="page" value="1" type="hidden" style="display:none" />
						#if($orderBy == "asc")
						<a id="orderBy" href="javascript:void(0)" title="Set Descending Direction">
							<img src="${common.themeResourcePrefixPath}/img/i_asc_arrow.gif" alt="Set Descending Direction" class="v-middle">
						</a>
						#else
						<a id="orderBy" href="javascript:void(0)" title="Set Ascending Direction">
							<img src="${common.themeResourcePrefixPath}/img/i_desc_arrow.gif" alt="Set Ascending Direction" class="v-middle">
						</a>
						#end
						
					</div>
				</div>
				<div class="pager hidden-phone">
					<div class="limiter">
						<label>Display</label>
						<select name="pageSize">
							<option value="1" #if($pageSize != 2 && $pageSize != 3) selected="selected" #end>1</option>
							<option value="2" #if($pageSize == 2) selected="selected" #end>2</option>
							<option value="3" #if($pageSize == 3) selected="selected" #end>3</option>
						</select> on page        
					</div>
				</div>
			</div>
		</div>
		</form>
		
		<ul class="products-grid row">
			#foreach($productMarketing in $catalogCategory.productMarketings) 
			<li class="item span3">
				<a href="${productMarketing.detailsUrl}" class="product-image product-line-image">
					<span><img src="${productMarketing.carouselImage}" alt="${productMarketing.i18nName}"></span>
				</a>
				<a href="${productMarketing.detailsUrl}" class="product-name">${productMarketing.i18nName}</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">${productMarketing.getPriceWithCurrencySign()}</p>
				<a href="${productMarketing.getAddToCartUrl()}" class="cart-btn1">
					<i class="icon-shopping-cart"></i>&nbsp;Add to cart</a>
				<a href="${productMarketing.getAddToWishlistUrl()}" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</li>			
			#end
		</ul>
		#if($totalPage > 1)
		<ul class="pagination">
		#if(!$sortBy)
		#set ($sortBy = "name")
		#end
		#foreach($i in [1..$totalPage])
			<li><a class="#if($i==$currentPage) active #end" href="?sortBy=${sortBy}&orderBy=${orderBy}&pageSize=${pageSize}&page=${i}" data-page="${i}">${i}</a></li>
		#end
		</ul>
		#end

	</div>
</div>
<!-- //category product section -->

</div>

<div class="clear border-btm"></div>

#parse("_include/brands.vm")
