#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/catalog/product-details-footer-script.vm")
#set ($page_title = $seoPageTitle)

<div class="product-detail-wrap">
	<span class="section-title category-title">Home › <a href="$catalogBreadcrumb.defaultParentCategory.detailsUrl">$catalogBreadcrumb.defaultParentCategory.name</a> › <a href="$catalogBreadcrumb.detailsUrl">$catalogBreadcrumb.name</a> › $productMarketing.i18nName</span>
	<div class="clear border-btm"></div>
	<div class="product-detail-content row">
		<div class="product-image-wrap span4">
			<a href="javascript:void(0);" class="product-image">
				<img src="${productMarketing.backgroundImage}" alt="$productMarketing.i18nName" />
			</a>
		</div>
		<div class="product-info span8">
			<h3 class="product-name">$productMarketing.i18nName</h3>
			<span class="rating-stars star-4">&nbsp;</span>
			<p class="product-sku"><strong>SKU:</strong> $productMarketing.skuCode</p>
			<span class="product-add2cart">
				<span class="product-price">$productMarketing.priceWithCurrencySign</span>
				<form class="add2cart-form">
					<label>Quantity</label>
					<input type="text" value="" class="ql-textbox quantity">
					<a href="$productMarketing.addToCartUrl" class="cart-btn1"><i class="icon-shopping-cart"></i>&nbsp;Add to cart</a>
				</form>
			</span>
			<span class="product-des">
				<p>$productMarketing.description</p>				
			</span>
			<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
		</div>
	</div>
	
	<div class="product-spec">
		<ul class="spec-list product-spec-headrow">
			<li class="active">
				<a href="#">Features</a>
			</li>
			<!--
			<li>
				<a href="#">Lorem ipsum</a>
			</li>
			<li>
				<a href="#">Lorem ipsum</a>
			</li>
			-->
		</ul>
		<table class="product-spec-content">
			<!--
			<tr>
				<td class="product-spec-name">Model</td>
				<td class="product-spec-detail">A14155</td>
			</tr>
			<tr>
				<td class="product-spec-name">Dimensions</td>
				<td class="product-spec-detail">17264 x 19455 mm</td>
			</tr>
			<tr>
				<td class="product-spec-name">Finish</td>
				<td class="product-spec-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
			</tr>
			<tr>
				<td class="product-spec-name">Country of Orgin</td>
				<td class="product-spec-detail">USA</td>
			</tr>
			-->
			<tr>
				<td>$productMarketing.description</td>
			</tr>
		</table>
	</div>
</div>
<!-- //product detail content -->


<!-- category product section -->
#if($relatedProductMarketings.size() > 0)
<div class="product-section">
	<span class="section-title category-title">Related products</span>
	<div class="clear border-btm"></div>
	<ul class="products-grid row">
		#foreach($relatedProduct in $relatedProductMarketings)
		<li class="item span3">
			<a href="#" class="product-image">
				<span><img src="${relatedProduct.carouselImage}" alt="$relatedProduct.i18nName"></span>
			</a>
			<a href="#" class="product-name">$relatedProduct.i18nName</a>
			<span class="rating-stars star-4">&nbsp;</span>
			<p class="product-price">$relatedProduct.priceWithCurrencySign</p>
			<a href="$relatedProduct.addToCartUrl" class="cart-btn1"><i class="icon-shopping-cart"></i>&nbsp;Add to cart</a>
			<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
		</li>	
		#end
	</ul>
</div>
#end
<!-- //category product section -->
<div class="clear border-btm"></div>
    
