#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/font/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/default/default.css" type="text/css">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/nivo-slider.css" type="text/css" media="screen" title="no title" charset="utf-8">

<link href="${common.themeResourcePrefixPath}/js/library/axe-carousel/axe-carousel.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
	function startupPage(){
		$('#featured-products').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#linked-logos-slide').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#slider').nivoSlider({
	    	controlNav: false
	    });
	}
</script>

<!-- nivo slider - top banner -->
				
<div class="slider-wrapper theme-default axe-top-slider">
    <div id="slider" class="nivoSlider">
		#set( $subcatalogCategoryCounter = 1 )
		#foreach($subcatalogCategory in $catalogCategory.subCategories)
			<img src="${subcatalogCategory.slideshowImage}" alt="${subcatalogCategory.name}" title="#htmlcaption${subcatalogCategoryCounter}"/>
			#set( $subcatalogCategoryCounter = $subcatalogCategoryCounter + 1 )
		#end		
    </div>
	#set( $subcatalogCategoryCounter = 1 )
	#foreach($subcatalogCategory in $catalogCategory.subCategories)
	<div id="htmlcaption${subcatalogCategoryCounter}" class="nivo-html-caption">
        <span class="banner-title">${subcatalogCategory.name}</span> 
		<span class="rating-stars star-5">&nbsp;</span>
		<p class="banner-des">${subcatalogCategory.description} [...]</p>
		<a href="#" class="banner-readmore">Readmore</a>
    </div>
	#set( $subcatalogCategoryCounter = $subcatalogCategoryCounter + 1 )
	#end    
</div>
<!-- //nivo slider - top banner -->

<div style="clear: both;"></div>

<!-- slide featured products  -->
<div id="featured-products" class="featured-products">
	<span class="section-title featured-title category-title">Featured Products</span>
	<div class="clear border-btm"></div>
	<div class="slides_container row  products-grid">
		#set( $count = 0 )
		#set( $items = 0 )
		#set( $size = $catalogCategory.featuredProductMarketings.size() - 1)
		#foreach($featuredProduct in $catalogCategory.featuredProductMarketings)
			#if($count % 4 == 0)
			<div class="slide">
			#end
			#set( $items = $items + 1 )
			<div class="item span3">
				<a href="${featuredProduct.detailsUrl}" class="product-image product-line-image">
					<span><img src="${featuredProduct.carouselImage}" alt="News1"></span>
				</a>
				<a href="${featuredProduct.detailsUrl}" class="product-name">${featuredProduct.i18nName}</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">${featuredProduct.priceWithCurrencySign}</p>
				<a href="${featuredProduct.addToCartUrl}" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="${featuredProduct.addToWishlistUrl}" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			#if($items % 4 == 0 || $size == $count)
			#set( $items = 0 )
			</div>
			#end
			#set( $count = $count + 1 )
		#end
	</div>
	<!-- //slide featured products -->
</div>
	
<div class="clear border-btm"></div>

<!-- Products -->
#foreach($subcatalogCategory in $catalogCategory.subCategories)
	#if($subcatalogCategory.productMarketings.size() > 0)
	<div class="product-section">
    	<span class="section-title category-title">${subcatalogCategory.name}</span>
    	<div class="clear border-btm"></div>
    	<ul class="row  products-grid">
			#foreach($productMarketing in $subcatalogCategory.productMarketings)
				<li class="item span3">
        			<a href="${productMarketing.detailsUrl}" class="product-image product-line-image">
        				<span>
							<!--
							<img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1">
							-->							
							<img src="${productMarketing.carouselImage}" alt="${productMarketing.i18nName}"/>
						</span>
        			</a>
        			<a href="${productMarketing.detailsUrl}" class="product-name">${productMarketing.i18nName} #if($productMarketing.isFeatured())*#end</a>
        			<span class="rating-stars star-4">&nbsp;</span>
        			<p class="product-price">${productMarketing.priceWithCurrencySign}</p>
        			<a href="${productMarketing.addToCartUrl}" class="cart-btn1">
        				<i class="icon-shopping-cart"></i>&nbsp;Add to cart</a>
        			<a href="${productMarketing.addToWishlistUrl}" class="wishlist-btn1"><i class="icon-heart"></i></a>
        		</li>
			#end
    	</ul>
	</div>
	#end
#end
<div class="clear border-btm"></div>
<!-- End Products -->

#parse("_include/brands.vm")
