#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/catalog/product-details-footer-script.vm")
#set ($page_title = $seoPageTitle)


#parse("../../_include/body-popin-add-to-cart.vm")
#parse("../../_include/body-popin-add-to-wishlist.vm")
	
<div class="product-detail-wrap">
	<span class="section-title category-title"><a href="${common.homeUrl}">Home</a> › <a href="$catalogBreadcrumb.defaultParentCategory.detailsUrl">$catalogBreadcrumb.defaultParentCategory.name</a> › <a href="$catalogBreadcrumb.detailsUrl">$catalogBreadcrumb.name</a> › $productMarketing.i18nName</span>
	<div class="clear border-btm"></div>
	<div class="product-detail-content row">
		<div class="product-image-wrap span4">
			<a href="javascript:void(0);" class="product-image product-line-image">
				<img src="${productMarketing.backgroundImage}" alt="$productMarketing.i18nName" />
			</a>
		</div>
		<div class="product-info span8">
			<h3 class="product-name">$productMarketing.i18nName</h3>
			<span class="rating-stars star-$!productMarketing.customerProductRates.avgRateStar">&nbsp;</span>
			<p class="product-sku"><strong>SKU:</strong> $productMarketing.skuCode</p>
			<span class="product-add2cart">
				<span class="product-price">$productMarketing.priceWithCurrencySign</span>
				<form class="add2cart-form">
					<label>Quantity</label>
					<input type="text" value="1" class="ql-textbox quantity">
					<a href="#" class="cart-btn trigger-add-to-cart" data-value-catalog-category-code="$catalogBreadcrumb.code" data-value-sku-code="$productMarketing.skuCode" data-value-sku-quantity="1"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</a>
				</form>
			</span>
			<span class="product-des">
				<p>$productMarketing.description</p>				
			</span>
			#if($!customer)
				<a href="#" class="wishlist-btn trigger-add-to-wishlist" data-value-sku-code="$productMarketing.skuCode"><i class="fa fa-heart"></i></a>
			#else
				<a href="$common.loginUrl" class="wishlist-btn"><i class="fa fa-heart"></i></a>
			#end
		</div>
	</div>
	
	<div class="product-spec">
		<ul class="spec-list product-spec-headrow">
			<li class="active">
				<a class="tab" href="#features">Features</a>
			</li>
			<li>
				<a class="tab" href="#review">Review</a>
			</li>
			<li>
				<a href="#review">Comment</a>
			</li>
			<!--
			<li>
				<a href="#">Lorem ipsum</a>
			</li>
			-->
		</ul>
		<table id="features" class="product-spec-content">
			<!--
			<tr>
				<td class="product-spec-name">Model</td>
				<td class="product-spec-detail">A14155</td>
			</tr>
			<tr>
				<td class="product-spec-name">Dimensions</td>
				<td class="product-spec-detail">17264 x 19455 mm</td>
			</tr>
			<tr>
				<td class="product-spec-name">Finish</td>
				<td class="product-spec-detail">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</td>
			</tr>
			<tr>
				<td class="product-spec-name">Country of Orgin</td>
				<td class="product-spec-detail">USA</td>
			</tr>
			-->
			<tr>
				<td>$productMarketing.description</td>
			</tr>
		</table>
		<table id="review" class="product-spec-content product-review-table" style="display:none">
			<tr>
				<td class="product-review-name">$wording.get("fo.product.vote_quality_of_service")</td>
				<td class="product-review-rating">
					<div class="review-rating-wrap">
						<span id="product-quality-rating" data-star="$!customerProductRates.avgQualityStar" class="rating-stars star-$!customerProductRates.avgQualityStar">&nbsp;</span>
						<a href="javascript:void(0)" data-type="quality" data-star="5" class="review-rating-star star-5">&nbsp;</a>
						<a href="javascript:void(0)" data-type="quality" data-star="4" class="review-rating-star star-4">&nbsp;</a>
						<a href="javascript:void(0)" data-type="quality" data-star="3" class="review-rating-star star-3">&nbsp;</a>
						<a href="javascript:void(0)" data-type="quality" data-star="2" class="review-rating-star star-2">&nbsp;</a>
						<a href="javascript:void(0)" data-type="quality" data-star="1" class="review-rating-star star-1">&nbsp;</a>
					</div>
				</td>
				<td class="product-review-number"><strong class="product-rating-point">$!customerProductRates.avgQualityRates</strong> - $!customerProductRates.qualityRateCount votes</td>
			</tr>
			<tr>
				<td class="product-review-name">$wording.get("fo.product.vote_ratio_quality_price")</td>
				<td class="product-review-rating">
					<div class="review-rating-wrap">
						<span id="product-price-rating" data-star="$!customerProductRates.avgPriceStar" class="rating-stars star-$!customerProductRates.avgPriceStar">&nbsp;</span>
						<a href="javascript:void(0)" data-type="price" data-star="5" class="review-rating-star star-5">&nbsp;</a>
						<a href="javascript:void(0)" data-type="price" data-star="4" class="review-rating-star star-4">&nbsp;</a>
						<a href="javascript:void(0)" data-type="price" data-star="3" class="review-rating-star star-3">&nbsp;</a>
						<a href="javascript:void(0)" data-type="price" data-star="2" class="review-rating-star star-2">&nbsp;</a>
						<a href="javascript:void(0)" data-type="price" data-star="1" class="review-rating-star star-1">&nbsp;</a>
					</div>
				</td>
				<td class="product-review-number"><strong class="product-rating-point">$!customerProductRates.avgPriceRates</strong> - $!customerProductRates.priceRateCount votes</td>
			</tr>
			<tr>
				<td class="product-review-name">$wording.get("fo.product.vote_price")</td>
				<td class="product-review-rating">
					<div class="review-rating-wrap">
						<span id="product-value-rating" data-star="$!customerProductRates.avgValueStar" class="rating-stars star-$!customerProductRates.avgValueStar">&nbsp;</span>
						<a href="javascript:void(0)" data-type="value" data-star="5" class="review-rating-star star-5">&nbsp;</a>
						<a href="javascript:void(0)" data-type="value" data-star="4" class="review-rating-star star-4">&nbsp;</a>
						<a href="javascript:void(0)" data-type="value" data-star="3" class="review-rating-star star-3">&nbsp;</a>
						<a href="javascript:void(0)" data-type="value" data-star="2" class="review-rating-star star-2">&nbsp;</a>
						<a href="javascript:void(0)" data-type="value" data-star="1" class="review-rating-star star-1">&nbsp;</a>
					</div>
				</td>
				<td class="product-review-number"><strong class="product-rating-point">$!customerProductRates.avgValueRates</strong> - $!customerProductRates.valueRateCount votes</td>
			</tr>
            <tr id="submit-button-zone" style="display:none">
				<td colspan="2">&nbsp;</td>				
                <td align="left">
					#if($!customer)
					<button>$wording.get("fo.product.submit_comment")</botton>
					#else
					<a href="$common.loginUrl">>>> $wording.get("fo.product.login_to_review")</a>
					#end
				</td>
			</tr>
			<tr class="product-rating-average">
				<td class="product-review-name">Average</td>
				<td class="product-review-rating">
					<span data-star="$!customerProductRates.avgRateStar" class="rating-stars star-$!customerProductRates.avgRateStar">&nbsp;</span>
				</td>
				<td class="product-review-number"></td>
			</tr>
		</table>
	</div>
</div>
<form id="productCommentForm" name="productCommentForm" action="$!productCommentUrl" method="POST">
	<input type="hidden" id="productCommentForm_productCode" name="productCommentForm.productCode" value="$!productCommentForm.productCode"/>
	<input type="hidden" id="productCommentForm_qualityOfService" name="productCommentForm.qualityOfService" value="$!productCommentForm.qualityOfService"/>
	<input type="hidden" id="productCommentForm_ratioQualityPrice" name="productCommentForm.ratioQualityPrice" value="$!productCommentForm.ratioQualityPrice"/>
	<input type="hidden" id="productCommentForm_priceScore" name="productCommentForm.priceScore" value="$!productCommentForm.priceScore"/>
</form>
<!-- //product detail content -->


<!-- category product section -->
#if($relatedProductMarketings.size() > 0)
<div class="product-section">
	<span class="section-title category-title">Related products</span>
	<div class="clear border-btm"></div>
	<ul class="products-grid row">
		#foreach($relatedProduct in $relatedProductMarketings)
		<li class="item span3">
			<a href="#" class="product-image product-line-image">
				<span><img src="${relatedProduct.carouselImage}" alt="$relatedProduct.i18nName"></span>
			</a>
			<a href="#" class="product-name">$relatedProduct.i18nName</a>
			<span class="rating-stars star-4">&nbsp;</span>
			<p class="product-price">$relatedProduct.priceWithCurrencySign</p>
			<a href="$relatedProduct.addToCartUrl" class="cart-btn"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</a>
			<a href="#" class="wishlist-btn"><i class="fa fa-heart"></i></a>
		</li>	
		#end
	</ul>
</div>
#end

<!-- //category product section -->
<div class="clear border-btm"></div>
    
<script type="text/javascript">
	function startupPage(){
    	$script(['/js/page.product-details'], function(){
			$.product.details.customer();
    	});
	}
</script>