<?xml version="1.0" encoding="UTF-8"?>
<!--

    Most of the code in the Qalingo project is copyrighted Hoteia and licensed
    under the Apache License Version 2.0 (release version 0.8.0)
            http://www.apache.org/licenses/LICENSE-2.0

                      Copyright (c) Hoteia, 2012-2014
    http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com


-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		">

	<!-- Don't scan security.* ! We need to exclude BO userDetailsService -->
	<context:component-scan base-package="org.hoteia.qalingo.core.security.helper" />
	<context:component-scan base-package="org.hoteia.qalingo.core.security.util" />
	<context:component-scan base-package="org.hoteia.qalingo.core.security.fo" />
	
    <authentication-manager>
       <authentication-provider user-service-ref="userDetailsService"> 
			 <password-encoder ref="passwordEncoder" />
        </authentication-provider>
    </authentication-manager>
	
	<beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<beans:constructor-arg>
			<beans:list>
				<beans:ref bean="daoAuthenticationProvider"/>
			</beans:list>
		</beans:constructor-arg>
	</beans:bean>
	
	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailsService" />
	</beans:bean>
	
	<beans:bean id="loginUrlAuthenticationEntryPoint" class="org.hoteia.qalingo.core.security.fo.component.LoginUrlAuthenticationEntryPoint">
		<beans:constructor-arg value="/sc/login.html" />
		<beans:property name="urlService" ref="urlService" />
		<beans:property name="requestUtil" ref="requestUtil" />
		<beans:property name="redirectStrategy" ref="redirectStrategy" />
	</beans:bean>
	
	<beans:bean id="redirectStrategy" class="org.hoteia.qalingo.core.security.RedirectStrategy">
		<beans:property name="contextRelative" value="${spring.security.context.relative}" />
	</beans:bean>
	
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"></beans:bean>
	
</beans:beans>