#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
		<link href="${common.themeResourcePrefixPath}/js/library/product-carousel/product-carousel.css" rel="stylesheet" type="text/css">
		<script src="${common.themeResourcePrefixPath}/js/library/product-carousel/product-carousel.js" type="text/javascript"></script>
		<style>
			#product-carousel-gallery {
				background:url('${common.themeResourcePrefixPath}/js/library/product-carousel/images/panel_1000x80.png') repeat-x bottom center #ffffff;
			}
			#product-carousel-gallery li.product-carousel-inact:hover {
				background:url('${common.themeResourcePrefixPath}/js/library/product-carousel/images/pic_bg_5x5.png') repeat;
			}
			#product-carousel-gallery li.product-carousel-act, li.product-carousel-act:hover {
				background:url('${common.themeResourcePrefixPath}/js/library/product-carousel/images/active_bg_107x80.png') no-repeat;
			}
		</style>
		
		<!--[if lte IE 7]>
		<style type="text/css">
		ul li{
			display:inline;
			/*float:left;*/
		}
		</style>
		<![endif]-->		
	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div class="container">
				<div id="container-body">
					<div id="breadcrumb">
						#parse("../_include/breadcrumb.vm")
					</div>
					<div id="product-carousel">
					
	<div id="product-carousel-gallery">
	
		<div id="product-carousel-slides">
			#foreach($productSku in $productMarketing.productSkus)
			<div class="product-carousel-slide">
				<div style="float: left;">
					<img src="${productSku.backgroundImage}" width="920" height="400" alt="side" />
				</div>
				<div style="float: left; padding-top: 50px;">
					<h1>${productSku.name}</h1>
					<a href="${productSku.addToWishlistUrl}" alt="${productSku.addToWishlistLabel}">${productSku.addToWishlistLabel}</a><br/>
					<a href="${productSku.addToCartUrl}" alt="${productSku.addToCartLabel}">${productSku.addToCartLabel}</a><br/>
				</div>
			</div>
			#end
		</div>
		
		<div id="product-carousel-menu">
			<ul>
				<li class="product-carousel-fbar">&nbsp;</li>
				#foreach($productSku in $productMarketing.productSkus)
				<li class="product-carousel-menuItem" style="width: 107px; text-align: center;"><a href="#"><img src="${productSku.carouselImage}" alt="thumbnail" width="70px" height="70px" /></a></li>
				#end
			</ul>
		</div>
    
	</div>
	<div style="clear: both;"></div>

					</div>
				</div>
			</div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>