#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
					<div class="pagination" style="text-align: left;">
						<ul>
							#set( $currentPage = $pagedListHolder.page )
							#set( $start = 0 )
							#set( $end = ($pagedListHolder.pageCount - 1) ) 
							
							#if ($currentPageUrl.contains("?")) 
								#set( $startHrefPage = $currentPageUrl + "&page=1"  )
								#set( $endHrefPage = $currentPageUrl + "&page=" + $pagedListHolder.pageCount )
							#else
								#set( $startHrefPage = $currentPageUrl + "?page=1"  )
								#set( $endHrefPage = $currentPageUrl + "?page=" + $pagedListHolder.pageCount )
							#end 
							
							<li
							#if ($end<0) 
							class="disabled" 
							#end 
							>
							<a href="$startHrefPage">&laquo;</a>
							</li>
							#foreach( $index in [${start}..${end}] )
								#set( $displayPosition = $index + 1 )
								#if ($currentPageUrl.contains("?")) 
									#set( $hrefPage = $currentPageUrl + "&page=" + ($index + 1) )
								#else
									#set( $hrefPage = $currentPageUrl + "?page=" + ($index + 1) )
								#end 

								#if($currentPage == $index)
								<li class="active"><a href="$hrefPage">$displayPosition</a></li>
								#else
								<li><a href="$hrefPage">$displayPosition</a></li>
								#end
							#end
							<li 
							#if ($end<0) 
							class="disabled" 
							#end 							
							><a href="$endHrefPage">&raquo;</a>
							
							</li>
							#*
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							*#
						</ul>
					</div>

