#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<div class="subnavbar">
			<div class="subnavbar-inner">
				<div class="container">
					<ul class="mainnav">
						#foreach($menu in $menus)
						<li class="$menu.cssClass">
							#if($menu.hasSubMenu)
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							#else
							<a href="$menu.url">
							#end
								<i class="$menu.cssIcon"></i>
								<span>$menu.name</span>
								#if($menu.hasSubMenu)
								<b class="caret"></b>
								#end
							</a>
							#if($menu.hasSubMenu)
							<ul class="dropdown-menu">
								#foreach($subMenu in $menu.subMenus)
								<li class="${subMenu.cssClass}">
									<a href="${subMenu.url}">
										<i class="${subMenu.cssIcon}"></i>
										<span>${subMenu.name}</span>
									</a>	    				
								</li>
								#end
							</ul>
							#end
						</li>
						#end
						
						<li class="dropdown">					
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-share"></i>
								<span>$wording.get("bo.header_menu.more_pages")</span>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								#foreach($morePageMenu in $morePageMenus)
								<li class="${morePageMenu.cssClass}">
									<a href="${morePageMenu.url}">
										<i class="${morePageMenu.cssIcon}"></i>&nbsp;<span>${morePageMenu.name}</span>
									</a>	    				
								</li>
								#end
							</ul>
						</li>
					</ul>
				</div>
			
			</div>

		</div>