#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html>
<!--[if IE 7]><html lang="$!localeLanguageCode" class="ie7"><![endif]-->  
<!--[if IE 8]><html lang="$!localeLanguageCode" class="ie8"><![endif]-->  
<!--[if IE 9]><html lang="$!localeLanguageCode" class="ie9"><![endif]-->  
<!--[if !IE]><!--><html lang="$!localeLanguageCode"><!--<![endif]-->  
    <head>
		<title>$!seoPageTitle
		#if($!customer)
			- (${customer.lastname} ${customer.firstname})
		#end
		</title>
		
		#parse("../_include/head-common-meta.vm")

		#parse($!head_meta)

		#parse("../_include/head-common.vm")

		#parse($!head_content)
		
		#if($!tracking)
		#parse("../_include/head-async-tracking.vm")
		#end

		#if($!monitoring)
		#parse("../_include/head-async-monitoring.vm")
		#end
		
	</head>
    <body  style="background-color: #2F353E;">
        <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">Qalingo preHome</a>
					</div>
				</div>
				<div class="sub-navbar">
					<div class="container"></div>
				</div>			
			</div> 
        </div> 
        <header>
        	<div class="container">
        		<div class="row"></div>
        	</div>
        </header>
        
        <div class="strip">
        	<div class="container">
        	</div>
        </div>
		
        <div class="main">
			$screen_content
        </div>
		
        #parse("../_include/body-footer.vm")

		#parse("../_include/body-bottom-javascript.vm")
		
		#parse($!footer_script_content)

    </body>
</html>