#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/empty.vm")

				<section id="user-details">
					<div class="page-header">
						<h1>CACHE IHM</h1>
					</div>

					<div style="width: 100%;" class="form-horizontal well">
						cache is flushed
					</div>
					
					<div style="clear: both;"></div>
				</section>
