#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="personal-user-edit">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!authenticatedUser.dateCreate | $wording.get("bo.common.date_update_label") $!authenticatedUser.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a class="btn" href="$!urlBack" alt="">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<form id="userForm" name="userForm" action="" method="POST">
								<input type="hidden" id="id" name="id" value="$!userForm.id" />
								<div style="margin-bottom: 10px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>							
								#set($beanName = "userForm")
								#parse("../../_include/body-form-error-message.vm")
								<div class="form-horizontal well">
									<div class="form-row">
										<div class="form-label-column">
											<label for="lastname" class="label-form">$wording.get("bo.user.firstname_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="lastname" name="lastname" value="$!userForm.lastname" style="width: 300px; margin-bottom: 0px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="firstname" class="label-form">$wording.get("bo.user.lastname_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="firstname" name="firstname" value="$!userForm.firstname" style="width: 300px; margin-bottom: 0px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="email" class="label-form">$wording.get("bo.user.email_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="email" name="email" value="$!userForm.email" style="width: 300px; margin-bottom: 0px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="login" class="label-form">$wording.get("bo.user.login_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="login" name="login" value="$!userForm.login" style="width: 300px; margin-bottom: 0px;" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											$wording.get("bo.user.active_label")
										</div>
										<div class="form-input-column">
											#if($userForm.active)
												<span style="color: green">$wording.get("common.common.active_value_true")</span>
											#else
												<span style="color: red">$wording.get("common.common.active_value_false")</span>
											#end
										</div>
									</div>
								</div>
								<div style="clear: both; padding-top: 15px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
							</form>
						</div>
						<div style="clear: both;"></div>
					</div>
				</section>
