#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="asset-edit">
					<div class="page-header">
						<div style="float: left;">
							<h1>${mainContentTitle}</h1>
						</div>
						#if($!asset.detailsUrl)
						<div style="float: right; line-height: 40px; margin: 10px 0; font-size: 18px;">
							$wording.get("bo.common.actions_label"): <a href="${asset.detailsUrl}">$wording.get("bo.common.details_label")</a>
						</div>
						#end
					</div>
					<div style="clear: both; width: 100%; text-align: right;">
						#if($!asset.createdDate)
						$wording.get("bo.common.date_create_label") : ${asset.createdDate} | 
						#end
						#if($!asset.updatedDate)
						$wording.get("bo.common.date_update_label") : ${asset.updatedDate}
						#end
					</div>
					#parse("../../_include/body-transaction-messages.vm")
					<div class="form-horizontal well">
						<form id="assetForm" name="assetForm" action="" method="POST" enctype="multipart/form-data" class="form-edit">
						<input type="hidden" id="id" name="id" value="${assetForm.id}" />
						#set($beanName = "assetForm")
						#parse("../../_include/body-form-error-message.vm")
						<div>
							<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
						</div>
						<div style="clear: both;">
							<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="name" class="label-form">$wording.get("bo.asset.name_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="name" name="name" value="${assetForm.name}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="code" class="label-form">$wording.get("bo.asset.code_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="code" name="code" value="${assetForm.code}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="description" class="label-form">$wording.get("bo.asset.description_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="description" name="description" value="${assetForm.description}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="path" class="label-form">$wording.get("bo.asset.path_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="path" name="path" value="${assetForm.path}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="type" class="label-form">$wording.get("bo.asset.type_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="type" name="type" value="${assetForm.type}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="size" class="label-form">$wording.get("bo.asset.size_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="size" name="size" value="${assetForm.size}" style="width: 150px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									test
								</div>
								<div style="float: left;">
									<span class="btn btn-file">Upload<input type="file" name="file" /></span>
								</div>
							</div>
						</div>
							
						<div style="clear: both; padding-top: 15px;">
							<a href="$!urlBack" class="btn">$wording.get("bo.asset.cancel_label")</a>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.asset.submit_label")</button>
						</div>
						</form>
					</div>
				</section>
				

