#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="asset-details">
				
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") : ${asset.createdDate} | $wording.get("bo.common.date_update_label") : ${asset.updatedDate}
						</div>
						<div style="clear: both;"></div>
					</div>
					
					<div class="widget">
						
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>${mainContentTitle}</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								$wording.get("bo.common.actions_label"): <a href="${asset.editUrl}">$wording.get("bo.common.edit_label")</a>
							</div>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
							<div style="width: 100%">
								$wording.get("bo.asset.name_label") : ${asset.name}<br/>
								$wording.get("bo.asset.description_label") : ${asset.description}<br/>
								$wording.get("bo.asset.code_label") : ${asset.code}<br/>
								$wording.get("bo.asset.path_label") : ${asset.path}<br/>
								$wording.get("bo.asset.scope_label") : ${asset.scope}<br/>
								$wording.get("bo.asset.type_label") : ${asset.type}<br/>
								$wording.get("bo.asset.size_label") : ${asset.size}<br/>
								$wording.get("bo.asset.file_size_label") : ${asset.fileSize}<br/>
								$wording.get("bo.asset.is_default_label") : 
								#if($asset.active)
								<span style="color: green">$wording.get("common.common.is_default_true")</span>
								#else
								<span style="color: red">$wording.get("common.common.is_default_false")</span>
								#end
							</div>
							<div style="width: 100%">
								<img src="${asset.absoluteWebPath}" alt="" style="border: 1px solid red;" />
							</div>
							
						</div> <!-- /widget-content -->
							
					</div>
					
				</section>
				

