
<script src="${common.themeResourcePrefixPath}/library/tablesorter/jquery.tablesorter.js" type="text/javascript" ></script> 

<script type="text/javascript">
	$(document).ready(function(){
		$.fn.tree = function(settings) {
			var options = { expand: {} };
			$.extend(options, settings);

			return this.each(function(){
				var $$ = $(this).addClass('tree');
				var dragged = false;

				$('li:not(:has(ul))', $$).addClass('file');

				$('li:has(ul)', $$).addClass('folder');

				$('.folder ul', $$).hide();

				$('li', $$).draggable({
					zIndex: 9999,
					distance: 20,
					revert: true,
					start: function(e, ui) {
						$('.delete', ui.helper).hide();
						dragged = true;
					}
				}).disableSelection();

				$('.folder', $$).droppable({
					accept: 'li',
					greedy: true,
					tolerance: 'pointer',
					drop: function(e, ui) {
						dragged = false;
						$('ul:first', this).append(ui.draggable);
						// Remet a jour les compteurs d'enfants
						addCounters();
						return false;
					}
				});

				function addCounters() {
					// Nothing
				}
				addCounters();

				$('.folder', $$).click(function(e) {
					$('ul:first', this).slideToggle();
					$(this).toggleClass('open');
					e.stopPropagation();
					return false;
				});

				$('.file', $$).click(function(e) {
					e.stopPropagation();
				});

				$(options.expand, $$).each(function() {
					$('ul:first', this).show();
					$(this).addClass('open');
					$(this).parents('.folder ul').show();
					$(this).parents('.folder').addClass('open');
				});

				$('.file > a', $$).after(function() {
					return ' <a href="#" class="delete" style="color: red;">supprimer</a>';
				});    

				$('.file').hover(function() {
					if (!dragged) $('.delete', this).show();
				}, function() {
					$('.delete', this).hide();
				});

				$('.delete').click(function() {
					if (confirm('Etes-vous sur ?')) {
						$(this).parent().remove();
						// Remet a jour les compteurs d'enfants
						addCounters();
					}
					return false;
				});

			});
		};
	});

	$(document).ready(function(){
		$('#tree').tree();

		$(".find-products").click(function(event) {
			var href = $(this).attr("href");;
			var split = href.split('#');
			var code = split[1];
			var catalogJson = $catalogJson;
			findProductList(catalogJson.catalogCategories, code, true);
		});
		
		function findProductList(catalogCategories, code, continueIteration) { 
			$.each(catalogCategories, function(i, item){
				/*
				if(typeof(continueIteration) == "undefined"){
					continueIteration = true;
				}
				alert(code + "/" + item.code + "/" + continueIteration);
				*/
				if(!continueIteration){
					return false;
				}
				if(code == item.code){
					/*
					alert("match");
					*/
					continueIteration = false;
					displayProductList(item);
				}
				if(item.catalogCategories.length > 0){
					findProductList(item.catalogCategories, code, continueIteration);
				}
			});
		}
		
		function displayProductList(category) {
			$("#category-name").html(category.businessName);
			$("#category-urls").html("<a href=\"" + category.addChildCategoryUrl + "\">add child category</a> | <a href=\"" + category.detailsUrl + "\">details</a> | <a href=\"" + category.editUrl + "\">edit</a>");
			var html = "";
			$.each(category.productMarketings, function(i, item){
				html = html + "<tr><td>" + item.code + "</td><td>" + item.businessName + "</td><td>" + item.position + "</td><td>" + item.productSkus.length + "</td><td><a href=\"" + item.detailsUrl + "\">détails</a> | <a href=\"" + item.editUrl + "\">éditer</a></td></tr>";
			});
			$("#product-list tbody").html(html);
		}
	});
</script>

<script type="text/javascript">  		
	$(document).ready(function(){
		$("#product-list").tablesorter(); 
	});
</script> 	
