#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="catalog-category-edit">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!catalogCategory.dateCreate | $wording.get("bo.common.date_update_label") $!catalogCategory.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a class="btn" href="$!urlBack" alt="">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<form id="catalogCategoryForm" name="catalogCategoryForm" action="" method="POST" class="form-edit">
								<input type="hidden" id="id" name="id" value="$!catalogCategoryForm.id" />
								<div style="margin-bottom: 10px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
								#set($beanName = "catalogCategoryForm")
								#parse("../../_include/body-form-error-message.vm")
								
								<div class="form-horizontal well">
									<div class="form-row">
										<div class="form-label-column">
											<label for="code" class="label-form">$wording.get("bo.catalog_category.code_label")</label>
										</div>
										<div class="form-input-column">
											#if($!catalogCategory.withMasterCategory)
												#set($categoryCodeDisabled = "disabled")
												#set($messageAboutCategoryCodeDisabled = "<br/>" + $wording.get("bo.catalog_category.diabled_category_code_information"))
											#end
											<input type="text" id="code" name="code" value="${catalogCategoryForm.code}" $!categoryCodeDisabled/>
											$!messageAboutCategoryCodeDisabled
										</div>
									</div>
									#if($!catalogCategory.withMasterCategory)
									<div class="form-row">
										<div class="form-label-column">
											<label for="masterCategoryId" class="label-form">$wording.get("bo.catalog_category.master_category_label")</label>
										</div>
										<div class="form-input-column">
											<select id="masterCategoryId" name="masterCategoryId">
												<option value=""></option>
											#foreach($category in $masterCategories)
												#if($category.id == $catalogCategoryForm.masterCategoryId)
												<option value="$category.id" selected>$category.name</option>
												#else
												<option value="$category.id">$category.name</option>
												#end
											#end
											</select>
										</div>
									</div>
									#end
									<div class="form-row">
										<div class="form-label-column">
											<label for="name" class="label-form">$wording.get("bo.catalog_category.name_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="name" name="name" value="${catalogCategoryForm.name}" />
											<br/>
											$wording.get("bo.catalog_category.name_information")
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="description" class="label-form">$wording.get("bo.catalog_category.description_label")</label>
										</div>
										<div class="form-input-column">
											<textarea id="description" name="description">${catalogCategoryForm.description}</textarea>
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="ranking" class="label-form">$wording.get("bo.catalog_category.ranking_label")</label>
										</div>
										<div class="form-input-column">
											<input type="text" id="ranking" name="ranking" value="${catalogCategoryForm.ranking}" />
										</div>
									</div>
									<div class="form-row">
										<div class="form-label-column">
											<label for="defaultParentCategoryId" class="label-form">$wording.get("bo.catalog_category.default_parent_category_label")</label>
										</div>
										<div class="form-input-column">
											<select id="defaultParentCategoryId" name="defaultParentCategoryId">
												<option value=""></option>
											#foreach($category in $categories)
												#if($category.id == $catalogCategoryForm.defaultParentCategoryId)
												<option value="$category.id" selected>$category.name</option>
												#else
												<option value="$category.id">$category.name</option>
												#end
											#end
											</select>
										</div>
									</div>
								</div>
								
								<div class="widget widget-nopad stacked">						
									<div class="widget-header">
										<i class="fa fa-cog"></i><h3>$wording.get("bo.catalog_category.global_attribute_list_label")</h3>
									</div>
									<div class="widget-content">
										#foreach($availableAttributeDefinition in $availableGlobaleAttributeDefinitions)
										<div class="widget-map-row">
											<div class="widget-map-column-label">
												<label for="code" class="label-form">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</label>
											</div>
											<div class="widget-map-column-value">
												#set ($attributeValue = $!catalogCategory.getGlobalAttribute($availableAttributeDefinition.code) )
												#if($availableAttributeDefinition.attributeType == '2')
												<textarea id="$availableAttributeDefinition.code" name="globalAttributes['$availableAttributeDefinition.code']">$!attributeValue.value</textarea> 
												#else
												<input type="text" id="$availableAttributeDefinition.code" name="globalAttributes['$availableAttributeDefinition.code']" value="$!attributeValue.value">
												#end
											</div>
										</div>
										#end
									</div>
								</div>

								<div class="widget widget-nopad stacked">						
									<div class="widget-header">
										<i class="fa fa-cog"></i><h3>$wording.get("bo.catalog_category.area_attribute_list_label")</h3>
									</div>
									<div class="widget-content">
										#foreach($availableAttributeDefinition in $availableMarketAreaAttributeDefinitions)
										<div class="widget-map-row">
											<div class="widget-map-column-label">
												<label for="$availableAttributeDefinition.code" class="label-form">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</label>
											</div>
											<div class="widget-map-column-value">
												#set ($attributeValue = $!catalogCategory.getMarketAreaAttribute($availableAttributeDefinition.code) )
												#if($availableAttributeDefinition.attributeType == '2')
												<textarea id="$availableAttributeDefinition.code" name="marketAreaAttributes['$availableAttributeDefinition.code']">$!attributeValue.value</textarea> 
												#else
												<input type="text" id="$availableAttributeDefinition.code" name="marketAreaAttributes['$availableAttributeDefinition.code']" value="$!attributeValue.value">
												#end
											</div>
										</div>
										#end
									</div>
								</div>
									
								<div style="clear: both; padding-top: 15px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
							</form>
						</div>
						<div style="clear: both;"></div>
					</div>
				</section>
				

