#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="catalog-category-details">
				
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!catalogCategory.dateCreate | $wording.get("bo.common.date_update_label") $!catalogCategory.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a href="$!urlBack" alt="" class="btn">$wording.get("bo.common.back_label")</a>&nbsp;<a href="$!catalogCategory.editUrl" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
							</div>
						</div>
						
						<div class="widget-content">
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.code_label") :</strong> $!catalogCategory.code
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.name_label") :</strong> $!catalogCategory.name
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.description_label") :</strong> $!catalogCategory.description
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.default_parent_category_label") :</strong> $!catalogCategory.defaultParentCategory.name #if($!catalogCategory.defaultParentCategory.code)($!catalogCategory.defaultParentCategory.code)#end
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.ranking_label") :</strong> $!catalogCategory.ranking
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.catalog_category.is_default_label") : </strong>
								#if($!catalogCategory.active)
								<span style="color: green">$wording.get("common.common.is_default_true")</span>
								#else
								<span style="color: red">$wording.get("common.common.is_default_false")</span>
								#end
							</div>
						</div>
							
					</div>
					
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.catalog_category.global_attribute_list_label")</h3>
						</div>
						
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
									#foreach($availableAttributeDefinition in $availableGlobaleAttributeDefinitions)
									<tr>
										#set ($attributeValue = $!catalogCategory.getGlobalAttribute($availableAttributeDefinition.code) )
										<td class="description">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</td>
										<td class="value">$!attributeValue.value</td>
									</tr>
									#end
								</tbody>
							</table>
							
						</div>
					
					</div>

					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.catalog_category.area_attribute_list_label")</h3>
						</div>
						
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
									#foreach($availableAttributeDefinition in $availableMarketAreaAttributeDefinitions)
									<tr>
										#set ($attributeValue = $!catalogCategory.getMarketAreaAttribute($availableAttributeDefinition.code) )
										<td class="description">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</td>
										<td class="value">$!attributeValue.value</td>
									</tr>
									#end
								</tbody>
							</table>
							
						</div>
					
					</div>
					
					<div class="widget">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.catalog_category.asset_list_label")</h3>
						</div>
						
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Code</th>
											<th>Type</th>
											<th>Description</th>
											<th>Path</th>
											<th>URL</th>
										</tr>
									</thead>
									<tbody>
										#foreach($asset in $catalogCategory.assets) 
										<tr>
											<td class="description">${asset.name}</td>
											<td class="description">${asset.code}</td>
											<td class="description">${asset.type}</td>
											<td class="description">${asset.description}</td>
											<td class="description">${asset.path}</td>
											<td class="value">...</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
					
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.catalog_category.product_marketing_list_label")</h3>
						</div>
						
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Product</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										#foreach ($productMarketing in $catalogCategory.productMarketings)
										<tr>
											<td class="description">
												$productMarketing.name ($productMarketing.code)
											</td>
											<td class="value">
												<a href="${productMarketing.detailsUrl}">wording.get("bo.common.details_label")</a> | <a href="${productMarketing.editUrl}">$wording.get("bo.common.edit_label")</a>
											</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
					
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.catalog_category.child_category_list_label")</h3>
						</div>
						
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Sub Category</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										#foreach ($childCategory in $catalogCategory.subCategories)
										<tr>
											<td class="description">
												$childCategory.name ($childCategory.code)
											</td>
											<td class="value">
												<a href="${childCategory.detailsUrl}">$wording.get("bo.common.details_label")</a> | <a href="${childCategory.editUrl}">$wording.get("bo.common.edit_label")</a>
											</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					
					</div>
					
				</section>