

<script src="${common.themeResourcePrefixPath}/library/tablesorter/jquery.tablesorter.js" type="text/javascript" ></script> 
<script src="${common.themeResourcePrefixPath}/plugins/qalingo-plugin.catalog-tree.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/plugins/qalingo-plugin.add-product-to-catalog-category.js" type="text/javascript"></script>

<script src="${common.themeResourcePrefixPath}/library/jquery-quick-pagination-master/js/jquery.quick.pagination.min.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/library/jquery-quick-pagination-master/js/quickpager.jquery.js" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function() {
		plugins.CatalogTree.init();
		plugins.AddProductToCatalogCategory.init();
	});
</script>




