#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/catalog/catalog-manage-footer-script.vm")
#set ($page_title = $seoPageTitle)

#parse("../../_include/body-popin-add-product-to-catalog-category.vm")

<style>
.tree {
  margin:0;
  padding:0;
  font:11px Arial, Helvetica, sans-serif;
}
.tree a {
  text-decoration:none;
  color:#666;
}
.tree ul {
    padding:3px 0;
    margin:0;
}
.tree li {
  background:top left no-repeat;
  cursor:pointer;
  display:block;
  list-style:none;
  padding:3px 20px;
}
.tree .file {
  background-image: url('${common.themeResourcePrefixPath}/img/icons/file.png');
}
.tree .folder {
  background-image: url('${common.themeResourcePrefixPath}/img/icons/folder.png');
}
.tree .counter {
   color:#CC6600;
}
</style>

    <style type="text/css">
        #report { border-collapse:collapse;}
        #report h4 { margin:0px; padding:0px;}
        #report img { float:right;}
        #report ul { margin:10px 0 10px 40px; padding:0px;}
        #report th { background:#7CB8E2 url('${common.themeResourcePrefixPath}/library/jExpand/img/header_bkg.png') repeat-x scroll center left; color:#fff; padding:7px 15px; text-align:left;}
        #report td { background:#C7DDEE none repeat-x scroll center left; color:#000; padding:7px 15px; }
        #report tr.odd td { background:#fff url('${common.themeResourcePrefixPath}/library/jExpand/img/row_bkg.png') repeat-x scroll center left; cursor:pointer; }
        #report div.arrow { background:transparent url('${common.themeResourcePrefixPath}/library/jExpand/img/arrows.png') no-repeat scroll 0px -16px; width:16px; height:16px; display:block;}
        #report div.up { background-position:0px 0px;}
    </style>
	
				<section id="catalog">
					<div class="page-header">
						<div style="float: left;">
							<h1>${mainContentTitle}</h1>
						</div>
						<div style="float: right; line-height: 40px; margin: 10px 0; font-size: 18px;">
							Actions: <a href="#" id="add-root-category">$wording.get("bo.catalog_category.add_root_category_label")</a>
						</div>
					</div>
					<div style="clear: both; float: left;">
						<ul id="catalog-tree" data-catalog-type="$!catalogType"></ul>
					</div>
					<div style="float: right;">
						<div id="header-category-details" style="padding-bottom: 15px;"></div>
						<ul id="product-list" class="tablesorter" style="width: 650px; list-style: none;"></ul> 
					</div>
				</section>
				
				
<script id="HeaderCategoryDetailsContent" type="text/x-jsrender">
	Product list for category : <span id="category-name" style="font-weight: bold;">{{:name}}</span>&nbsp;&nbsp;&nbsp;
	<span id="category-urls" style="font-weight: bold;">
	<a href="{{:detailsUrl}}" class="btn btn-primary" target="_blank">$wording.get("bo.common.details_label")</a>&nbsp;
	<a href="{{:editUrl}}" class="btn" target="_blank">$wording.get("bo.common.edit_label")</a>&nbsp;
	<a href="{{:addChildCategoryUrl}}" class="btn" target="_blank">$wording.get("bo.catalog_category.add_child_category_label")</a>&nbsp;
	<a href="#" class="btn trigger-add-product-to-category" data-category-code="{{:code}}">$wording.get("bo.catalog_category.add_a_product_label")</a>
	</span>
</script>
	
<script id="ProductListContent" type="text/x-jsrender">
	{{for productMarketings}}
	<li class="product-item" style="height: 35px; border-bottom: solid 1px #ACACAC; margin-bottom: 5px;">
		<div style="clear: both; float: left;">{{:name}} ({{:code}}) Ranking: {{:ranking}}</div><div style="float: right;"><a href="{{:detailsUrl}}" class="btn btn-primary" target="_blank">$wording.get("bo.common.details_label")</a>&nbsp;<a href="{{:editUrl}}" class="btn" target="_blank">$wording.get("bo.common.edit_label")</a>&nbsp;<a href="#" class="btn trigger-show-skus">$wording.get("bo.common.sku_list_label") ({{:productSkus.length}})</a></div>
		<ul class="sku-list" style="padding-top: 5px; display: none; list-style: none;">
		{{for productSkus}}
			<li class="sku-item" style="height: 35px;"><div style="clear: both; float: left;">{{:name}} ({{:code}}) {{:ranking}} </div><div style="float: right;"><a href="{{:detailsUrl}}" class="btn btn-primary" target="_blank">$wording.get("bo.common.details_label")</a>&nbsp;<a href="{{:editUrl}}" class="btn" target="_blank">$wording.get("bo.common.edit_label")</a></li></div>
		{{/for}} 
		</ul>
	</li>
	{{/for}} 
</script>

				

