#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="product-marketing-details">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!productMarketing.dateCreate | $wording.get("bo.common.date_update_label") $!productMarketing.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a href="$!urlBack" alt="" class="btn">$wording.get("bo.common.back_label")</a>&nbsp;<a href="$!productMarketing.editUrl" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<div style="width: 100%">
								<strong>$wording.get("bo.product_marketing.name_label") :</strong> $!productMarketing.name
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.product_marketing.description_label") :</strong><br/>
								<blockquote>$!productMarketing.description</blockquote>
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.product_marketing.code_label") :</strong> $!productMarketing.code
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.product_marketing.brand_label") :</strong> $!productMarketing.brand.name #if($!productMarketing.brand.code)($!productMarketing.brand.code)#end
							</div>
							<div style="width: 100%">
								<strong>$wording.get("bo.product_marketing.is_salable_label") :</strong>
								#if($productMarketing.salable)
								<span class="text-success">$wording.get("common.common.is_default_true")</span>
								#else
								<span class="text-error">$wording.get("common.common.is_default_false")</span>
								#end
							</div>
						</div>
					</div>
					
					<div class="widget widget-nopad">
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.product_marketing.global_attribute_list_label")</h3>
						</div>
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50%;">Key</th>
											<th style="width: 50%;">Value</th>
										</tr>
									</thead>
									<tbody>
										#foreach($availableAttributeDefinition in $availableGlobaleAttributeDefinitions)
										<tr>
											#set ($attributeValue = $!productMarketing.getGlobalAttribute($availableAttributeDefinition.code) )
											<td class="description">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</td>
											<td class="value">$!attributeValue.value</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					</div>
			
					<div class="widget widget-nopad">
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.product_marketing.area_attribute_list_label")</h3>
						</div>
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
									#foreach($availableAttributeDefinition in $availableMarketAreaAttributeDefinitions)
									<tr>
										#set ($attributeValue = $!productMarketing.getMarketAreaAttribute($availableAttributeDefinition.code) )
										<td class="description">$availableAttributeDefinition.code #if($!availableAttributeDefinition.localizable)($!common.currentMarketAreaLocalization.code)#end</td>
										<td class="value">$!attributeValue.value</td>
									</tr>
									#end
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="widget widget-nopad">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-list-alt"></i>
								<h3>$wording.get("bo.product_marketing.sku_list_label")</h3>
							</div>
							<div style="float: right; text-align: right; padding-right: 20px;">
								<a href="$!productMarketing.addSkuUrl" class="btn btn-primary">$wording.get("bo.common.add_sku_label")</a>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Order</th>
											<th>Sku</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										#foreach($productSku in $productMarketing.productSkus) 
										<tr>
											<td></td>
											<td class="description">
												$wording.get("bo.product_sku.name_label") : $!productSku.name ($!productSku.code)
											</td>
											<td class="value">
												<a href="$!productSku.detailsUrl" class="btn">$wording.get("bo.common.details_label")</a>&nbsp;<a href="$!productSku.editUrl" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
											</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.product_sku.cross_product_list_label")</h3>
						</div>
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Order</th>
											<th>Name</th>
											<th>Type</th>
											<th>Description</th>
											<th>Product</th>
										</tr>
									</thead>
									<tbody>
										#foreach($productCrossLink in $productMarketing.productCrossLinks) 
										<tr>
											<td class="description">$!productCrossLink.orderItem</td>
											<td class="description">$!productCrossLink.name</td>
											<td class="description">$!productCrossLink.type</td>
											<td class="description">$!productCrossLink.description</td>
											<td class="value"><a href="$!productCrossLink.detailsUrl" class="btn">$wording.get("bo.common.details_label")</a></td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>$wording.get("bo.product_sku.asset_list_label")</h3>
						</div>
						<div class="widget-content">
							<div style="width: 100%">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Name</th>
											<th>Code</th>
											<th>Type</th>
											<th>Description</th>
											<th>Path</th>
											<th>URL</th>
										</tr>
									</thead>
									<tbody>
										#foreach($asset in $productMarketing.assets) 
										<tr>
											<td class="description">$!asset.name</td>
											<td class="description">$!asset.code</td>
											<td class="description">$!asset.type</td>
											<td class="description">$!asset.description</td>
											<td class="description">$!asset.path</td>
											<td class="value">
												<a href="$!asset.detailsUrl" class="btn">$wording.get("bo.common.details_label")</a> <a href="$!asset.editUrl" class="btn">$wording.get("bo.common.edit_label")</a>
											</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					</div>

				</section>

