#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="product-sku-edit">
					<div class="page-header">
						<div style="float: left;">
							<h1>${mainContentTitle}</h1>
						</div>
						#if($!productSku.productSkuDetailsUrl)
						<div style="float: right; line-height: 40px; margin: 10px 0; font-size: 18px;">
							$wording.get("bo.common.actions_label"): <a href="${productSku.detailsUrl}">$wording.get("bo.common.details_label")</a>
						</div>
						#end
					</div>
					<div style="clear: both; width: 100%; text-align: right;">
						#if($!productSku.createdDate)
						$wording.get("bo.common.date_create_label") : ${productSku.createdDate} | 
						#end
						#if($!productSku.updatedDate)
						$wording.get("bo.common.date_update_label") : ${productSku.updatedDate}
						#end
					</div>
					<div class="form-horizontal well">
						<form id="productSkuForm" name="productSkuForm" action="" method="POST">
						<input type="hidden" id="id" name="id" value="${productSkuForm.id}" />
						#set($beanName = "productSkuForm")
						#parse("../../_include/body-form-error-message.vm")
						<div>
							<button class="btn" onclick="javascript:window.location.href='$urlBack'">$wording.get("bo.common.cancel_label")</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
						</div>
						<div style="clear: both;">
							<div style="padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="name" class="label-form">$wording.get("bo.product_sku.business_name_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="name" name="name" value="${productSkuForm.name}" style="width: 400px; margin-bottom: 0px;" />
									<br/>
									$wording.get("bo.product_sku.business_name_information")
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="code" class="label-form">$wording.get("bo.product_sku.code_label")</label>
								</div>
								<div style="float: left;">
									<input type="text" id="code" name="code" value="${productSkuForm.code}" style="width: 400px; margin-bottom: 0px;" />
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="description" class="label-form">$wording.get("bo.product_sku.description_label")</label>
								</div>
								<div style="float: left;">
									<textarea id="description" name="description" cols="40" rows="5" style="width: 400px; height: 150px;">${productSkuForm.description}</textarea>
									<br/>
									$wording.get("bo.product_sku.description_information")
								</div>
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							$wording.get("bo.product_sku.global_attribute_list_label")
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								#set ($map = ${productSkuForm.globalAttributes} )
								#foreach ($mapEntry in $map.entrySet())
								<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
									<div style="float: left; width: 400px;">
										<label for="code" class="label-form">$mapEntry.key</label>
									</div>
									<div style="float: left;">
										<input type="text" id="code" name="globalAttributes['$mapEntry.key']" value="$mapEntry.value" style="width: 400px; margin-bottom: 0px;">
									</div>
								</div>
								#end
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
							$wording.get("bo.product_sku.area_attribute_list_label")
							</div>
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								#set ($map = ${productSkuForm.marketAreaAttributes} )
								#foreach ($mapEntry in $map.entrySet())
								<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
									<div style="float: left; width: 400px;">
										<label for="code" class="label-form">$mapEntry.key</label>
									</div>
									<div style="float: left;">
										<input type="text" id="code" name="marketAreaAttributes['$mapEntry.key']" value="$mapEntry.value" style="width: 400px; margin-bottom: 0px;">
									</div>
								</div>
								#end
							</div>
							#*
	${productSku.descriptionLabel} : ${productSku.description}
	${productSku.isDefaultLabel} : ${productSku.default}
							*#
							
						</div>
						<div style="clear: both; padding-top: 15px;">
							<button class="btn" onclick="javascript:window.location.href='$urlBack'">$wording.get("bo.common.cancel_label")</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
						</div>
						</form>
					</div>
				</section>
				

