#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="$seoPageMetaAuthor" />
		<meta name="keywords" content="$seoPageMetaKeywords" />
		<meta name="description" content="$seoPageMetaDescription" />
		<meta name="imagetoolbar" content="no" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<link rel="icon" href="${common.themeResourcePrefixPath}/img/favicon.ico" />

		<link href="${common.themeResourcePrefixPath}/library/jquery-ui-1.9.1/css/smoothness/jquery-ui-1.9.1.custom.min.css" rel="stylesheet" type="text/css">

		<link href="${common.themeResourcePrefixPath}/library/bootstrap-3.1.0/css/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="${common.themeResourcePrefixPath}/library/bootstrap-3.1.0/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
		
		<!-- TODO clean this boostrap version for the last one - 3.1.0 -->
		<link href="${common.themeResourcePrefixPath}/css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
		<link href="${common.themeResourcePrefixPath}/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" type="text/css">
		
		<link href="${common.themeResourcePrefixPath}/library/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link href="${common.themeResourcePrefixPath}/css/qalingo-bo.css" rel="stylesheet" type="text/css">
		<link href="${common.themeResourcePrefixPath}/css/qalingo-bo-responsive.css" rel="stylesheet" type="text/css">
		
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="${common.themeResourcePrefixPath}/library/html5shiv-3.7.0/html5.js"></script>
		<![endif]-->

		<script src="${common.contextJsonUrl}"></script>

