#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="search">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
					
					<div>
						#parse("../../_include/body-pagination-pagelistholder.vm")
						<div>
							<table class="table" style="width: 100%">
								<thead>
									<tr>
										<th width="200px">value</th>
										<th width="300px">type</th>
										<th width="100px">lien</th>
									</tr>
								</thead>
								<tbody>
									#foreach($globalSearch in $pagedListHolder.pageList)
									<tr>
										<td>${globalSearch.value}</td>
										<td>${globalSearch.type}</td>
										<td><a href="${globalSearch.url}">More</a></td>
									</tr>
									#end
								</tbody>  
							</table> 
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
