<?xml version="1.0" encoding="UTF-8"?>
<!--

    Most of the code in the Qalingo project is copyrighted Hoteia and licensed
    under the Apache License Version 2.0 (release version 0.7.0)
            http://www.apache.org/licenses/LICENSE-2.0

                      Copyright (c) Hoteia, 2012-2013
    http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com


-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"	
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/tx 
						   http://www.springframework.org/schema/tx/spring-tx.xsd
					   	   http://www.springframework.org/schema/context 
						   http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="fr.hoteia.qalingo.web" />

	<!-- Turn on @Autowired, @PostConstruct etc support -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<import resource="wurfl-default-ctx.xml" />

	<import resource="classpath:resources-config.xml" />

	<!-- Configures core context -->
	<import resource="classpath:conf/spring/qalingo-core-local-ds.xml" />
	<import resource="classpath:conf/spring/qalingo-core-context.xml" />
	<import resource="classpath:conf/spring/qalingo-core-solr.xml" />
	<import resource="classpath:conf/spring/qalingo-core-drools.xml" />
	<import resource="classpath:conf/spring/qalingo-core-fo-cache.xml" />
	
	<!-- Configures view context -->
	<import resource="classpath:conf/spring/qalingo-core-fo-view.xml" />
	
	<bean id="engineSettingService" 
		  class="fr.hoteia.qalingo.core.service.cache.impl.CacheEngineSettingServiceImpl" />
	
</beans>