#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="monitoring">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
					<div id="tabs-monitoring">
						<ul>
							<li><a class="article_link" href="#tabs-monitoring-server">Server</a></li>
							<li><a class="article_link" href="#tabs-monitoring-data_flows">Data Flows</a></li>
						</ul>
						<div id="tabs-monitoring-server">
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Server Name</th>
											<th>Date Time</th>
											<th>Status</th> 
										</tr>
									</thead>
									<tbody>
										
										<tr>
											<td>server 1</td>
											<td>2013/10/25 8:31 AM</td>
											<td style="color: green; text-align: right;">is UP<i class="icon-ok"></i></td>
										</tr>
										<tr>
											<td>server 2</td>
											<td>2013/10/25 8:31 AM</td>
											<td style="color: red; text-align: right;">is DOWN<i class="icon-bolt"></i></td> 
										</tr>
									</tbody>
								</table>
							</div> <!-- /widget-content -->
						</div>
						<div id="tabs-monitoring-data_flows">
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Data Flow Name</th>
											<th>Date Time</th>
											<th>Status</th> 
										</tr>
									</thead>
									<tbody>
										  
										<tr>
											<td>data flows ERP</td>
											<td>2013/10/25 8:31 AM</td>
											<td style="color: green; text-align: right;">is UP<i class="icon-ok"></i></td>
										</tr>
										<tr>
											<td>data flows CMS</td>
											<td>2013/10/25 8:31 AM</td>
											<td style="color: red; text-align: right;">is DOWN<i class="icon-bolt"></i></td> 
										</tr>
										<tr>
											<td>data flows Payment gateway PayPal</td>
											<td>2013/10/25 8:31 AM</td>
											<td style="color: green; text-align: right;">is OK<i class="icon-ok"></i></td> 
										</tr>
									</tbody>
								</table>
							</div> <!-- /widget-content -->
						</div>
 
					</div>
				</section>
						<script>
						$(function() {
						$( "#tabs-monitoring" ).tabs();
						});
						</script>