#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="product-category-edit">
					<div class="page-header">
						<div style="float: left;">
							<h1>${mainContentTitle}</h1>
						</div>
						#if($!shipping.categoryDetailsUrl)
						<div style="float: right; line-height: 40px; margin: 10px 0; font-size: 18px;">
							Actions: <a href="${shipping.categoryDetailsUrl}">${shipping.categoryDetailsLabel}</a>
						</div>
						#end
					</div>
					<div style="clear: both; width: 100%; text-align: right;">
						#if($!shipping.createdDate)
						${shipping.dateCreateLabel} : ${shipping.createdDate} | 
						#end
						#if($!shipping.updatedDate)
						${shipping.dateUpdateLabel} : ${shipping.updatedDate}
						#end
					</div>
					#parse("../../_include/body-transaction-messages.vm")
					<div class="form-horizontal well">
						<form id="shippingForm" name="shippingForm" action="${shipping.formSubmitUrl}" method="POST">
						<input type="hidden" id="id" name="id" value="${shippingForm.id}" />
						#springBind("shippingForm")
						#if($status.errors.hasErrors()) 
						<div id="errors" class="alert alert-error">
							## Global error messages 
							#foreach($e in $status.errorMessages) 
								<p>${e}</p> 
							#end 
							## Field error messages 
							#foreach($fieldError in $status.errors.fieldErrors) 
								#springBind("shippingForm.${fieldError.field}") 
								#foreach($errorMessage in $status.errorMessages) 
									${errorMessage}<br/>
								#end 
							#end 
						</div>
						#end
						<div>
							<button class="btn" onclick="javascript:window.location.href='$shipping.backUrl'">$shipping.cancelLabel</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$shipping.submitLabel</button>
						</div>
						<div style="clear: both;">
							<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="name" class="label-form">$shipping.businessNameLabel</label>
								</div>
								<div style="float: left;">
									<input type="text" id="name" name="name" value="${shippingForm.name}" style="width: 150px; margin-bottom: 0px;" />
									<br/>
									$shipping.businessNameInformation
								</div>
							</div>
						</div>
										
						<div style="clear: both; padding-top: 15px;">
							<button class="btn" onclick="javascript:window.location.href='$shipping.backUrl'">$shipping.cancelLabel</button>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$shipping.submitLabel</button>
						</div>
						</form>
					</div>
				</section>
				

