#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="customer-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					#parse("_include/customer-menu.vm")
	
					<div style="float: left; width: 80%;">
						#foreach($customerAdress in $customerAdresses.customerAddressList)
						<div class="form-horizontal well">
							<fieldset>
								<div class="control-group">
									<label class="control-label">${customerAdresses.addressNameLabel}</label>
									<div class="controls">
										${customerAdress.addressName}
										#if(${customerAdress.isDefaultBilling})
											$customerAdresses.defaultBillingAddressLabel
										#end
										#if(${customerAdress.isDefaultShipping})
											$customerAdresses.defaultShippingAddressLabel
										#end
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										${customerAdress.title} ${customerAdress.lastname} ${customerAdress.firstname}
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										${customerAdress.address1}
									</div>
								</div>
								#if($customerAdress.address2 != '')
								<div class="control-group">
									<div class="controls">
										${customerAdress.address2}
									</div>
								</div>
								#end
								#if($customerAdress.addressAdditionalInformation != '')
								<div class="control-group">
									<div class="controls">
										${customerAdress.addressAdditionalInformation}
									</div>
								</div>
								#end
								<div class="control-group">
									<div class="controls">
										${customerAdress.postalCode} ${customerAdress.city}
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										${customerAdress.countyCode} ${customerAdress.countryCode}
									</div>
								</div>
							</fieldset>
							<div style="text-align: right;">
								<a href="$customerAdress.editUrl" alt="$customerAdress.editLabel">$customerAdress.editLabel</a> | <a href="$customerAdress.deleteUrl" alt="$customerAdress.deleteLabel">$customerAdress.deleteLabel</a>
							</div>
						</div>
						#end
					</div>
					
					<div style="clear: both;"></div>

				</section>
