#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="customer-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div class="form-horizontal well">
						<fieldset>
							<div class="control-group">
								<label class="control-label">${customerDetails.lastnameLabel}</label>
								<div class="controls" style="padding-top: 5px;">
									${customerDetails.lastnameValue}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">${customerDetails.firstnameLabel}</label>
								<div class="controls" style="padding-top: 5px;">
									${customerDetails.firstnameValue}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">${customerDetails.emailLabel}</label>
								<div class="controls" style="padding-top: 5px;">
									${customerDetails.emailValue}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">${customerDetails.dateCreateLabel}</label>
								<div class="controls" style="padding-top: 5px;">
									${customerDetails.dateCreateValue}
								</div>
							</div>
							<div class="control-group">
								<label class="control-label">${customerDetails.dateUpdateLabel}</label>
								<div class="controls" style="padding-top: 5px;">
									${customerDetails.dateUpdateValue}
								</div>
							</div>
						</fieldset>
					</div>

				</section>
