#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<!--
		<script src="${common.themeResourcePrefixPath}/js/bootstrap/jquery.js"></script>
		<script src="${common.themeResourcePrefixPath}/js/bootstrap/bootstrap-scrollspy.js"></script>
		<script src="${common.themeResourcePrefixPath}/js/bootstrap/bootstrap-collapse.js"></script>
		<script src="${common.themeResourcePrefixPath}/js/bootstrap/bootstrap-tooltip.js"></script>
		-->
		<script src="${common.themeResourcePrefixPath}/js/library/bootstrap/bootstrap.js"></script>
		<script src="${common.themeResourcePrefixPath}/js/library/bootstrap/application.js"></script>
		<script>
			$(document).ready(function(){
				var main_menu_left = '\
				<ul class="nav" id="main-menu-left"> \
					#if($!languages && languages.size() > 0)
					<li class="dropdown"> \
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Langues&nbsp;<b class="caret"></b></a> \
						<ul class="dropdown-menu"> \
						#foreach($language in $languages)
							<li><a href="$language.url" alt="$language.name">$language.name</a></li> \
						#end
						</ul> \
					</li>\
					#end
				</ul>';

				var main_menu_right = '\
						<ul class="nav pull-right" id="main-menu-right"> \
							<li><a rel="tooltip" target="_blank" href="http://blog.hoteia.com/" title="Donwload & More" onclick="_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'builtwithbootstrap\']);">Donwload & More&nbsp;<i class="icon-share-alt icon-white"></i></a></li> \
			  				<li><a rel="tooltip" target="_blank" href="http://www.hoteia.com" title="Hoteia.com" onclick="_gaq.push([\'_trackEvent\', \'click\', \'outbound\', \'wrapbootstrap\']);">Hoteia.com&nbsp;<i class="icon-share-alt icon-white"></i></a></li> \
			  			</ul>';

				$('#main-menu').append(main_menu_left);
				
				$('#main-menu').append(main_menu_right);

				$('a[rel=tooltip]').tooltip({
					'placement': 'bottom'
				});
			});
		</script>