#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="contact-us">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div>
						
						$contactUs.successMessage

					</div>

				</section>

