#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="content-type">
		<title>#replaceWordingKeyParams($!wording.get("email.contact.html_title"), [$!contactEmailBean.firstname, $!contactEmailBean.lastname, $!currentDate])</title>
	</head>
	<body>
		<div style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; background: #FFF; padding: 0px; margin: 0px; padding-bottom: 40px; color: #000">
			<div style="width: 700px">
				<h1 style="font-size: 22px; font-weight: bold; color: #000000; padding: 15px 0px 5px 25px; margin: 0px">#replaceWordingKeyParams($!wording.get("email.contact.html_title"), [$!contactEmailBean.firstname, $!contactEmailBean.lastname, $!currentDate])</h1>
				<div style="margin-left: 25px; border-top: 1px solid #A3A3A3; border-bottom: 1px solid #A3A3A3; margin-bottom: 16px">
					<div style="border-top: 3px solid #000000; margin-bottom: 1px; margin-top: 1px">
					</div>
				</div>
				<div>
					<div style="clear: both">
						<div style="float: right; width: 218px; margin: 0px 0px 0px 9px">
							<p style="float: right; margin-right: 9px">$!currentDate</p>
						</div>
						<div style="margin-right: 180px; margin-left: 25px">
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.intro")</strong></p><br /><br />
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.from") </strong>${contactEmailBean.lastname} ${contactEmailBean.firstname}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.phone") </strong>${contactEmailBean.phone}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.fax") </strong>${contactEmailBean.fax}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.mobile") </strong>${contactEmailBean.mobile}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.website") </strong>${contactEmailBean.website}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.email") </strong>${contactEmailBean.email}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.subject") </strong>${contactEmailBean.subject}</p>
							<p style="padding: 0px; margin: 0px 0px 9px 0px"><strong>$!wording.get("email.contact.message") </strong><br/><br/>${contactEmailBean.message}</p>
						</div>
					</div>
					<div style="margin-bottom: 20px; overflow: hidden">
						<div style="margin-top: 30px; margin-right: 180px; margin-left: 25px">
							<div style="border-top: 1px solid #7A8995; margin: 0px 0px 0px 0px; padding: 9px 0px 0px 0px">
								<p style="margin-bottom: 34px"><strong>$!wording.get("email.common.signature")<br /></strong></p>
							</div>
							<div style="background: #000000">
								<strong style="float: left; font-size: 22px; font-weight: bold; color: #FFFFFF; margin: 2px 0px 0px 5px; overflow: hidden">&#169;</strong>
							<div style="margin-left: 29px; padding: 6px 0px 5px 9px; font-weight: bold; font-size: 15px; color: #000000; background: #DCDCDC">
								$!wording.get("email.common.domain_name")
							</div>
						</div>
						<div style="font-size: 10px; margin: 5px 25px 0px 25px">
							<p>$!wording.get("email.common.legacy_text")</p>
							<p>$!wording.get("email.common.warning_text")</p>
						</div>
					</div>
				</div>

				<div style="font-size: 10px; margin: 5px 25px 0px 25px">
					<br />&#169; $!wording.get("email.common.domain_name") &nbsp;<a href="$!wording.get("email.common.footer_url")" target="_blank">$!wording.get("email.common.footer_url")</a>
				</div>
			</div>
		</div>
	</body>
</html>
	