#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="-content-type" content="text/html; charset=UTF-8">
		<meta name="author" content="$seoPageMetaAuthor">
		<meta name="keywords" content="$seoPageMetaKeywords">
		<meta name="description" content="$seoPageMetaDescription" />
		<meta name="imagetoolbar" content="no">
		<link rel="icon" href="${themeResourcePrefixPath}/img/favicon.ico" />
		<title>${seoPageTitle}</title>

		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- style -->
		<link href="${themeResourcePrefixPath}/css/main.css" rel="stylesheet" type="text/css">

		<link href="${themeResourcePrefixPath}/js/library/jquery-ui-1.8.20.custom/css/cupertino/jquery-ui-1.8.20.custom.css" rel="stylesheet" type="text/css">
		<script src="${themeResourcePrefixPath}/js/library/jquery-ui-1.8.20.custom/js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="${themeResourcePrefixPath}/js/library/jquery-ui-1.8.20.custom/js/jquery-ui-1.8.20.custom.min.js" type="text/javascript"></script>	
	</head>
	<body>
		<div id="body">
			<div id="screen">
				<div id="container">
					<div id="header">
					</div>
					<div id="container-body">
						<div>
						</div>
						<div>
							<ul>
							#foreach($marketPlace in $marketPlaces)
								<li><a href="$marketPlace.url" alt="$marketPlace.name" target="_blank">$marketPlace.name</a></li>
								<ul>
									#foreach($market in $marketPlace.markets)
										<li><a href="$market.url" alt="$market.name" target="_blank">$market.name</a></li>
										<ul>
											#foreach($marketArea in $market.marketAreas)
												<li><a href="$marketArea.url" alt="$marketArea.name" target="_blank">$marketArea.name</a></li>
												<ul>
													#foreach($language in $marketArea.languages)
														<li><a href="$language.url" alt="$language.name" target="_blank">$language.name</a></li>
													#end
												</ul>
											#end
										</ul>
									#end
								</ul>
							#end
							</ul>
						</div>
					</div>
					<div id="footer">
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
