<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Most of the code in the Qalingo project is copyrighted Hoteia and licensed
    under the Apache License Version 2.0 (release version 0.8.0)
            http://www.apache.org/licenses/LICENSE-2.0

                      Copyright (c) Hoteia, 2012-2014
    http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com


-->
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			 <pattern>[qalingo-webapp-fo-mcommerce] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="DATABASE-SETTING-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.home}/logs/database-setting.log</file>
		<append>true</append>
		<encoder>
			 <pattern>[qalingo-webapp-fo-mcommerce] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="CACHE-INFO-FILE" class="ch.qos.logback.core.FileAppender">
		<file>${catalina.home}/logs/cache-info.log</file>
		<append>true</append>
		<encoder>
			 <pattern>[qalingo-webapp-fo-mcommerce] %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--
    <logger name="org.hibernate.tool.hbm2ddl" level="DEBUG">
        <appender-ref ref="DATABASE-SETTING-FILE" />
    </logger>
	-->
	

    <logger name="org.hoteia.qalingo.core.aop.cache.CacheManagementAspect" level="DEBUG">
        <appender-ref ref="CACHE-INFO-FILE" />
    </logger>

	
	<!--
    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="STDOUT" />
    </logger>
	-->
	
    <logger name="org.hoteia.qalingo" level="WARN">
        <appender-ref ref="STDOUT" />
    </logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
