#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="payment-gateway-edit">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!paymentGateway.dateCreate | $wording.get("bo.common.date_update_label") $!paymentGateway.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a class="btn" href="$!urlBack" alt="">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<form id="paymentGatewayForm" name="paymentGatewayForm" action="" method="POST">
								<input type="hidden" id="id" name="id" value="$!paymentGatewayForm.id" />
								<input type="hidden" value="on" name="_active"/>
								<div>
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
								#set($beanName = "paymentGatewayForm")
								#parse("../../_include/body-form-error-message.vm")
								<div class="form-horizontal well">
									<div style="clear: both;">
										<div style="width: 100%">
											<strong>$wording.get("bo.payment_gateway.code_label") :</strong> $!paymentGateway.code
										</div>
										<div style="width: 100%">
											<strong>$wording.get("bo.payment_gateway.name_label") :</strong> $!paymentGateway.name
										</div>
										<div style="width: 100%">
											<strong>$wording.get("bo.payment_gateway.description_label") :</strong> $!paymentGateway.description
										</div>
										<div style="width: 100%">
											#if($!paymentGatewayForm.active)
											<input type="checkbox" id="active" name="active" checked="checked" />
											#else
											<input type="checkbox" id="active" name="active" />
											#end
											$wording.get("bo.payment_gateway.active_on_market_area_label")
										</div>
										<div style="width: 100%">
											<strong>$wording.get("bo.common.date_create_label"):</strong> $!paymentGateway.dateCreate
										</div>
										<div style="width: 100%">
											<strong>$wording.get("bo.common.date_update_label"):</strong> $!paymentGateway.dateUpdate
										</div>
									</div>
								</div>
								<div class="widget widget-nopad">
									<div class="widget-header">
										<i class="fa fa-list-alt"></i>
										<h3>$wording.get("bo.payment_gateway.global_attribute_list_label")</h3>
									</div>
									<div class="widget-content">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th width="150px">$wording.get("bo.payment_gateway.attribute_code_label")</th>
													<th width="200px">$wording.get("bo.payment_gateway.attribute_value_label")</th>
												</tr>
											</thead>
											<tbody>
												#set ($mapGlobalAttributes = $!paymentGateway.globalAttributes )
												#foreach($availableAttributeDefinition in $availableGlobaleAttributeDefinitions)
												<tr>
													<td>$availableAttributeDefinition.code</td>
													<td><input type="text" id="globalAttributeMap" name="globalAttributeMap['$availableAttributeDefinition.code']" " value="$!mapGlobalAttributes.get($availableAttributeDefinition.code)" style="width: 300px;" /></td>
												</tr>
												#end
											</tbody>
										</table>
									</div>
								</div>
								<div class="widget widget-nopad">
									<div class="widget-header">
										<i class="fa fa-list-alt"></i>
										<h3>$wording.get("bo.payment_gateway.marketarea_attribute_list_label")</h3>
									</div>
									<div class="widget-content">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th width="150px">$wording.get("bo.payment_gateway.attribute_code_label")</th>
													<th width="200px">$wording.get("bo.payment_gateway.attribute_value_label")</th>
												</tr>
											</thead>
											<tbody>
												#set ($mapMarketAreaAttributes = ${paymentGateway.marketAreaAttributes} )
												#foreach($availableAttributeDefinition in $availableMarketAreaAttributeDefinitions)
												<tr>
													<td>$availableAttributeDefinition.code</td>
													<td><input type="text" id="marketAreaAttributeMap" name="marketAreaAttributeMap['$availableAttributeDefinition.code']" " value="$!mapMarketAreaAttributes.get($availableAttributeDefinition.code)" style="width: 300px;" /></td>
												</tr>
												#end
											</tbody>
										</table>
									</div>
								</div>
								<div class="widget widget-nopad">
									<div class="widget-header">
										<i class="fa fa-list-alt"></i>
										<h3>$wording.get("bo.payment_gateway.option_list_label")</h3>
									</div>
									<div class="widget-content">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th width="150px">$wording.get("bo.payment_gateway.option_code_label")</th>
													<th width="200px">$wording.get("bo.payment_gateway.option_name_label")</th>
													<th width="50px"></th>
												</tr>
											</thead>
											<tbody>
												#foreach($availableOption in $availableOptions)
												<tr>
													<td>$availableOption.code</td>
													<td>$availableOption.name</td>
													<td>
													#if($!paymentGateway.options.containsKey($availableOption.code))
													<input type="checkbox" id="optionMap['$availableOption.code']" name="optionMap['$availableOption.code']" value="" checked="checked" />
													#else
													<input type="checkbox" id="optionMap['$availableOption.code']" name="optionMap['$availableOption.code']" value="" />
													#end
												</tr>
												#end
											</tbody>
										</table>
									</div>
								</div>
								<div style="clear: both; padding-top: 15px;">
									<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
									<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
								</div>
							</form>

						</div>
						<div style="clear: both;"></div>
					</div>
				</section>
				

