#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
				<div style="text-align: center;">
					<div style="width: 500px; height: 200px; margin: auto; padding: auto; text-align: left;">
					<form id="formForgottenPassword" name="formForgottenPassword" action="${security.forgottenPasswordUrl}" class="well form-search" method="POST">
						<div style="width: 100%;">
							<div>
								$wording.get("bo.auth.forgotten_password_email_or_login")
							</div>
							<div style="padding-top: 5px;">
								<input type="text" name="emailOrLogin" value="">
							</div>							
						</div>
						<div style="padding-top: 5px; text-align: right;">
							<button type="submit" class="btn btn-primary">$wording.get("bo.auth.login_form_login_submit")</button>
						</div>
					</form>
					</div>
				</div>