#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
						<div>
							<div id="items-header">
								<div id="item-header-label" style="float: left; width: 15%;">
									$cart.orderItemNameLabel
								</div>
								<div id="qty-header-label" style="float: left; width: 10%; text-align: center;">
									$cart.orderItemQuantityLabel
								</div>
								<div id="action-header-label" style="float: left; width: 15%; text-align: center;">
									$cart.orderItemDeleteActionLabel
								</div>
								<div id="price-header-label" style="float: left; width: 15%; text-align: center;">
									$cart.orderItemPriceLabel
								</div>
								<div id="sub-total-header-label" style="float: left; width: 45%;">
									$cart.orderItemSubTotalLabel
								</div>
								<div style="clear: both;"></div>
							</div>
							#foreach($cartItem in $cart.cartItems)
							<div id="items" style="padding-top: 5px;">
								<div id="item-$velocityCount" style="float: left; width: 15%;">
									${cartItem.name}
								</div>
								<div id="quantity-$velocityCount" style="float: left; width: 10%; text-align: center;">
									${cartItem.quantity}
								</div>
								<div id="action-$velocityCount" style="float: left; width: 15%; text-align: center;">
									<a href="${cartItem.deleteUrl}" alt="">${cartItem.deleteLabel}</a>
								</div>
								<div id="price-$velocityCount" style="float: left; width: 15%; text-align: center;">
									${cartItem.price}
								</div>
								<div id="amount-$velocityCount" style="float: left; width: 45%;">
									${cartItem.amount}
								</div>
								<div style="clear: both;"></div>
							</div>
							#end
						</div>
						<div id="cart-total-without-taxes" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%;">
								$cart.cartItemsTotalLabel $cart.cartItemsTotal
							</div>
							<div style="clear: both;"></div>
						</div>
						#foreach($cartShipping in $cart.cartShippings)
						<div id="cart-shipping-price-$cartShipping.cartShippingCode" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$cartShipping.cartShippingTotalLabel $cartShipping.cartShippingTotal
							</div>
							<div style="clear: both;"></div>
						</div>
						#end
						#foreach($cartTax in $cart.cartTaxes)
						<div id="cart-taxes-$cartTax.cartTaxCode" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$cartTax.cartTaxTotalLabel $cartTax.cartTaxTotal 
							</div>
							<div style="clear: both;"></div>
						</div>
						#end
						<div id="cart-total-ttc" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$cart.cartTotalLabel $cart.cartTotal
							</div>
							<div style="clear: both;"></div>
						</div>
