#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
						<div>
							<div id="items-header">
								<div id="item-header-label" style="float: left; width: 15%;">
									$order.orderItemNameLabel
								</div>
								<div id="qty-header-label" style="float: left; width: 10%; text-align: center;">
									$order.orderItemQuantityLabel
								</div>
								<div id="price-header-label" style="float: left; width: 15%; text-align: center;">
									$order.orderItemPriceLabel
								</div>
								<div id="sub-total-header-label" style="float: left; width: 45%;">
									$order.orderItemSubTotalLabel
								</div>
								<div style="clear: both;"></div>
							</div>
							#foreach($orderItem in $order.orderItems)
							<div id="items" style="padding-top: 5px;">
								<div id="item-$velocityCount" style="float: left; width: 15%;">
									${orderItem.name}
								</div>
								<div id="quantity-$velocityCount" style="float: left; width: 10%; text-align: center;">
									${orderItem.quantity}
								</div>
								<div id="price-$velocityCount" style="float: left; width: 15%; text-align: center;">
									${orderItem.price}
								</div>
								<div id="amount-$velocityCount" style="float: left; width: 45%;">
									${orderItem.amount}
								</div>
								<div style="clear: both;"></div>
							</div>
							#end
						</div>
						<div id="order-total-without-taxes" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%;">
								$order.orderItemsTotalLabel $order.orderItemsTotal
							</div>
							<div style="clear: both;"></div>
						</div>
						#foreach($orderShipping in $order.orderShippings)
						<div id="order-shipping-price-$orderShipping.orderShippingCode" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$orderShipping.orderShippingTotalLabel $orderShipping.orderShippingTotal
							</div>
							<div style="clear: both;"></div>
						</div>
						#end
						#foreach($orderTax in $order.orderTaxes)
						<div id="order-taxes-$orderTax.orderTaxCode" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$orderTax.orderTaxTotalLabel $orderTax.orderTaxTotal 
							</div>
							<div style="clear: both;"></div>
						</div>
						#end
						<div id="order-total-ttc" style="padding-top: 5px;">
							<div style="float: left; width: 55%;">&nbsp;</div>
							<div id="total" style="float: left; width: 45%; border-top: 1px dashed #E5E5E5;">
								$order.orderTotalLabel $order.orderTotal
							</div>
							<div style="clear: both;"></div>
						</div>
