#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="conditions-of-use">
					<div class="page-header">
						<h1>$wording.get("fo.conditions_of_use.header_title")</h1>
					</div>
					<div style="padding-bottom: 50px;">$wording.get("fo.conditions_of_use.content_text")</div>
				</section>
