#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="product-category-edit">
					<div class="page-header">
						<div style="float: left;">
							<h1>${mainContentTitle}</h1>
						</div>
						#if($!promotion.detailsUrl)
						<div style="float: right; line-height: 40px; margin: 10px 0; font-size: 18px;">
							$wording.get("bo.common.actions_label"): <a href="${promotion.detailsUrl}">${promotion.categoryDetailsLabel}</a>
						</div>
						#end
					</div>
					<div style="clear: both; width: 100%; text-align: right;">
						#if($!promotion.createdDate)
						${promotion.dateCreateLabel} : ${promotion.createdDate} | 
						#end
						#if($!promotion.updatedDate)
						${promotion.dateUpdateLabel} : ${promotion.updatedDate}
						#end
					</div>
					#parse("../../_include/body-transaction-messages.vm")
					<div class="form-horizontal well">
						<form id="promotionForm" name="promotionForm" action="" method="POST">
						<input type="hidden" id="id" name="id" value="${promotionForm.id}" />
						#set($beanName = "promotionForm")
						#parse("../../_include/body-form-error-message.vm")
						<div>
							<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.details_label")</button>
						</div>
						<div style="clear: both;">
							<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="clear: both; padding-top: 5px; padding-bottom: 5px;">
								<div style="float: left; width: 100px;">
									<label for="name" class="label-form">$promotion.businessNameLabel</label>
								</div>
								<div style="float: left;">
									<input type="text" id="name" name="name" value="${promotionForm.name}" style="width: 150px; margin-bottom: 0px;" />
									<br/>
									$promotion.businessNameInformation
								</div>
							</div>
						</div>
						
						<div style="clear: both; padding-top: 15px;">
							<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$promotion.submitLabel</button>
						</div>
						</form>
					</div>
				</section>
				

