#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="engine-setting-list">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
					
					<div style="float: left; width: 15%;">
						<div style="text-align: right; padding-right: 5px;">
							<form id="engineSettingQuickSearchForm" name="engineSettingQuickSearchForm" action="${quickSearch.urlEngineSettingFormSubmit}" method="POST">
								<input type="text" id="text" name="text" value="" style="width: 150px; margin-bottom: 0px;" />
								<button class="btn btn-primary" type="submit" style="margin-top: 3px;">search</button>
							</form>
						</div>
						#parse("../../_include/body-short-link-menu.vm")
					</div>

					<div style="float: left; width: 80%;" class="form-horizontal well">
						<div>
							<div style="width: 950px; border: 0px solid #B8B6B6; background-color: #ffffff; padding: 10px; float:left;">
								#parse("../../_include/body-pagination-pagelistholder.vm")
								<div>
									<table class="table" style="width: 100%">
										<thead>
											<tr>
												<th width="350px">Name</th>
												<th width="450px">Description</th>
												<th width="150px"></th>
											</tr>
										</thead>
										<tbody>
											#foreach($engineSetting in $pagedListHolder.pageList)
											<tr>
												<td>${engineSetting.name}</td>
												<td>${engineSetting.description}</td>
												<td>
													<a href="$engineSetting.engineSettingDetailsUrl" alt="" class="btn">details</a>
												</td>
											</tr>
											#end
										</tbody>  
									</table> 
								</div>
							</div>
						</div>					
					</div>
					
					<div style="clear: both;"></div>

				</section>
