#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="engine-setting-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div style="float: left; width: 15%;">
						<form id="engineSettingQuickSearchForm" name="engineSettingQuickSearchForm" action="${quickSearch.urlEngineSettingFormSubmit}" method="POST">
							<input type="text" id="text" name="text" value="" style="width: 150px; margin-bottom: 0px;" />
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">search</button>
						</form>
						#parse("../../_include/body-short-link-menu.vm")
					</div>

					<div style="float: left; width: 80%;" class="form-horizontal well">
						<div>
							Name : ${engineSetting.name}<br/>
							Description : ${engineSetting.description}<br/><br/>
							Values
							<br/><br/>
							<table style="border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">Context</td>
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">Value</td>
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">actions</td>
								</tr>
							#foreach($engineSettingValue in $engineSetting.engineSettingValues)
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">${engineSettingValue.context}</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">${engineSettingValue.value}</td>
									<td style="padding: 5px; border-left: 1px solid #000000;"><a href="${engineSettingValue.editUrl}" alt="${engineSettingDetails.editLabel}" class="btn">${engineSettingDetails.editLabel}</a></td>
								</tr>
							#end
							</table>
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
		