#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="user-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div style="float: left; width: 15%;">
						<form id="userQuickSearchForm" name="userQuickSearchForm" action="${quickSearch.urlUserFormSubmit}" method="POST">
							<input type="text" id="text" name="text" value="" style="width: 150px; margin-bottom: 0px;" />
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">search</button>
						</form>
						#parse("../../_include/body-short-link-menu.vm")
					</div>

					<div style="float: left; width: 80%;" class="form-horizontal well">
						<div style="float: left; width: 50%;">
							<a class="btn" href="$userDetails.backUrl" alt="">$userDetails.backLabel</a>&nbsp;<a class="btn btn-primary" href="$userDetails.userEditUrl" alt="">$userDetails.userEditLabel</a>
							<br/><br/>
							${userDetails.loginLabel} : ${userDetails.login}
							<br/><br/>
							${userDetails.firstnameLabel} : ${userDetails.firstname}
							<br/><br/>
							${userDetails.lastnameLabel} : ${userDetails.lastname}
							<br/><br/>
							${userDetails.emailLabel} : ${userDetails.email}
							<br/><br/>
							${userDetails.passwordLabel} : *****************<br/><br/>
							${userDetails.activeLabel} : 
							#if($userDetails.active)
								<span style="color: green">${userDetails.activeValueLabel}</span>
							#else
								<span style="color: red">${userDetails.activeValueLabel}</span>
							#end
							<br/><br/>
							${userDetails.dateCreateLabel} : ${userDetails.dateCreate}
							<br/><br/>
							${userDetails.dateUpdateLabel} : ${userDetails.dateUpdate}
							<br/><br/>
							${userDetails.userConnectionLogLabel}
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableDateLabel}</td>
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableHostLabel}</td>
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableAddressLabel}</td>
								</tr>
							#set ($userConnectionLog = $userDetails.userConnectionLogs) 
							#foreach ($userConnectionLog in $userDetails.userConnectionLogs) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.date</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.host</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.address</td>
								</tr>
							#end
							</table>
							<br/><br/>
						</div>
						<div style="float: left; width: 50%;">
							${userDetails.userGroupsLabel}
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableCodeLabel}</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableNameLabel}</td>
								</tr>
							#set ($map = $userDetails.userGroups) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
							<br/><br/>
							${userDetails.userRolesLabel}
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableCodeLabel}</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableNameLabel}</td>
								</tr>
							#set ($map = $userDetails.userRoles) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
							<br/><br/>
							${userDetails.userPermissionsLabel}
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableCodeLabel}</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">${userDetails.tableNameLabel}</td>
								</tr>
							#set ($map = $userDetails.userPermissions) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
						</div>
						<div style="clear: both; padding-top: 15px;">
							<a class="btn" href="$userDetails.backUrl" alt="">$userDetails.backLabel</a>&nbsp;<a class="btn btn-primary" href="$userDetails.userEditUrl" alt="">$userDetails.userEditLabel</a>
						</div>
					</div>
					
					<div style="clear: both;"></div>
				</section>
