#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
				<div style="text-align: center;">
					<div style="width: 500px; margin: auto; padding: auto; text-align: left;">
						<form id="forgottenPasswordForm" name="forgottenPasswordForm" action="${security.forgottenPasswordUrl}" class="well form-search" method="POST">
							#set($beanName = "forgottenPasswordForm")
							#parse("../../../_include/body-form-error-message.vm")
							<div>
								<div>
									$wording.get("fo.auth.forgotten_password_email_or_login")
								</div>
								<div style="padding-top: 5px;">
									<input type="email" name="emailOrLogin" id="emailOrLogin" value="">
								</div>							
							</div>
							<div style="padding-top: 5px; text-align: right;">
								<button type="submit" class="btn">$wording.get("fo.auth.forgotten_password_form_submit")</button>
							</div>
						</form>
					</div>
				</div>