#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
			<div class="well" style="width: 423px; height: 320px; margin: auto; padding: auto; text-align: left;">
				<div style="color: #787878; border-bottom: solid 1px #CCCCCC; text-transform: uppercase; padding-bottom: 5px;">
					<h3>$wording.get("fo.auth.login_form_login_title")</h3>
				</div>
				<div>
				<form id="formSecurity" name="formSecurity" action="$!security.submitLoginUrl" class="form-search" method="POST">
				#if($!authHasFail)
					<div class="alert alert-error" style="margin-top: 5px; padding-top: 5px; padding-bottom: 5px;">$!authErrorMessage</div>
				#end
					<div>
						<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="j_username" class="label-form">$wording.get("fo.auth.login_form_login_label")</label>
							</div>
							<div class="input-group" style="float: left; width: 50%;">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" name="j_username" placeholder="$wording.get("fo.auth.login_form_login_label")" value="">
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
					<div>
						<div style="padding-top: 5px; padding-bottom: 5px;">
							<div style="float: left; width: 100px;">
								<label for="j_password" class="label-form">$wording.get("fo.auth.login_form_password_label")</label>
							</div>
							<div class="input-group" style="float: left; width: 50%;">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" name="j_password" placeholder="$wording.get("fo.auth.login_form_password_label")">
							</div>
						</div>
					</div>
					<div style="clear: both;"></div>
					<div style="padding-top: 5px;">
						<input type="checkbox" name="_spring_security_remember_me"/>&nbsp;$wording.get("fo.auth.login_form_remember_label")
					</div>
					<div style="padding-top: 5px; text-align: right;">
						<span style="padding-right: 55px;"><a class="btn" href="$!security.forgottenPasswordUrl" alt="$wording.get("fo.auth.login_form_forgotten_password_label")">$wording.get("fo.auth.login_form_forgotten_password_label")</a></span>
						<button type="submit" class="btn pull-right btn-login">$wording.get("fo.auth.login_form_submit")</button>
					</div>
				</form>
				</div>
				<div style="clear: both;"></div>
				<div style="color: #787878; border-top: solid 1px #CCCCCC; margin-top: 15px; text-transform: uppercase;">
					<div style="width: 50%; float: left; margin-top: 15px;">					
						<a href="$!security.urls.get("FACEBOOK_CONNECT")" class="glyphicons no-js facebook"><i></i>Facebook Connect</a>						
					</div>
					<div style="width: 50%; float: right; margin-top: 15px;">
						<a href="$!security.urls.get("GOOGLE_ACCOUNT_CONNECT")" class="glyphicons no-js google_plus"><i></i>Google Connect</a>		
					</div>
				</div>
				<div style="clear: both;"></div>
				<div style="color: #787878; margin-top: 15px; text-transform: uppercase;">
					<div style="width: 50%; float: left; margin-top: 15px;">
						<a href="$!security.urls.get("YAHOO_CONNECT")" class="glyphicons no-js yahoo"><i></i>Yahoo Connect</a>
					</div>
					<div style="width: 50%; float: right; margin-top: 15px;">
						<a href="$!security.urls.get("WINDOWS_LIVE_CONNECT")" class="glyphicons no-js show_big_thumbnails"><i></i>Windows Live Connect</a>
					</div>
				</div>
			</div>
