#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)
#set ($footer_script_content = "../content/store-location/store-location-footer.vm")

			
		    <section id="store-locator">
				<div class="page-header">
					<h1>$wording.get("fo.header_title.store_location")</h1>
				</div>
				
				<div style="padding-bottom: 50px;">
					<div style="padding-bottom: 20px;">$wording.get("fo.store_location.content_text")</div>
					<div class="clear border-btm margin-top10"></div>
					<div class="row location-filter-bar">
						<div class="span4 filter-country">
							<label>Choose country</label>
							<select id="country" class="filter-country-slt">
								<option value="" selected="selected">Country</option>
							</select>
						</div>
						<div class="span5 filter-city">
							<label>Choose City/Province</label>
							<select id="city" class="filter-city-slt">
								<option value="" selected="selected">City/Province</option>
							</select>
						</div>
						<div class="span3 filter-search">
							<form class="filter-search-form" action="$!storeSearchUrl" method="GET">
								<input id="search" name="text" type="text" placeholder="Search store..." class="filter-textbox">
								<button id="bt-search" class="filter-search-btn"><i class="fa fa-search">&nbsp;</i></button>
							</form>
						</div>
					</div>
					<div class="clear border-btm"></div>
					<div id="map-store" style="clear: both; width: 1170px; height: 400px;"></div>
				</div>
				<div class="clear border-btm"></div>
				<!-- slide location list  -->
				<div id="location-store-list" class="linked-logos-slide location-store-list">
					
				</div>
				<!-- //slide location list  -->
				<div class="clear border-btm"></div>
			</section>

				