<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="/fo-mcommerce-resources/default/js/library/jsrender/jsrender.min.js" type="text/javascript"></script>
<script src="/fo-mcommerce-resources/default/js/page.store-locator.js" type="text/javascript"></script>
<script>
function startupPage(){
	var dataOSM = $storeFilter.toJSON();
	$.qalingo.storeLocator({
		data: dataOSM,
		map: {
			zoom: 3,
			lonCenter: -30.000,
			latCenter: 45.000
		}
	});
}
</script>
<script id="marketTemplate" type="text/x-jsrender">
<div id="store-info-{{:code}} class="location-popup" style="display: block;">
	<span class="location-popup-thumb">
		<img src="fo-mcommerce-resources/default/img/home/slider-1.jpg">
	</span>
	<span class="location-popup-info">
		<h2 class="store-list-title">{{:businessName}}</h2>
		<p>{{:address}}<br>{{:city}}<br>{{:country}}<br></p>
	</span>
</div>
</script>