#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript">
	function startupPage(){
		var dataOSM = $storeFilter.toJSON();
		$script(['/js/page.store-locator'], function(){
			$.qalingo.storeLocator({
				data: dataOSM,
				map: {
					zoom: 3,
					lonCenter: -30.000,
					latCenter: 45.000
				},
				iconUrl : "${common.themeResourcePrefixPath}/img/coffee.png"
			});
		});	
	}
</script>
<script id="marketTemplate" type="text/x-jsrender">
	<div id="store-info-{{:code}}" class="location-popup" style="display: block;">
		<span class="location-popup-thumb">
			<a href="{{:detailsUrl}}" target="_blank"><img src="{{:iconImage}}"></a>
		</span>
		<span class="location-popup-info">
			<h2 class="store-list-title">{{:name}}</h2>
			<p>{{:address1}}<br>{{:city}}<br>{{:country}}<br></p>
			<p><a href="{{:detailsUrl}}" target="_blank">store details</a></p>
		</span>
	</div>
</script>

<script id="storesTemplate" type="text/x-jsrender">
{{* count = 0;}}
<div class="slides_container row products-grid">
{{for data}}
	{{if #index ==0 || #index%4 == 0 }}
		<div class="slide">       
		{{/if}}
		<div class="item span3">
			<a data-code="{{:code}}" data-lon="{{:longitude}}" data-lat="{{:latitude }}" href="javascript:void(0)" class="store-item">
				<span class="store-thumb"><img src="{{:defaultImage}}" alt="{{:name}}"></span>
				<div class="store-item-info"><h2 class="store-list-title">{{:name}}</h2>
					<span class="store-list-address"><i class="fa fa-map-marker" style="padding-right: 5px;"></i>{{:address1}}</span>
				</div>
			</a>
		</div>
		{{if (#index + 1) % 4 == 0 || #parent.data.length == (#index + 1) }}
		</div>              
		{{/if}}
{{/for}} 
</div>
</script>

<script id="selectCountryTemplate" type="text/x-jsrender"> 
	<option value =''>All</option>
	{{for data}}
	<option value="{{:#index}}">{{:code}} </option>
	{{/for}}
</script>

<script id="selectCityTemplate" type="text/x-jsrender"> 
	<option value =''>All</option>
	{{for data}}
	<option value="{{:#index}}">{{:name}} </option>
	{{/for}}
</script>