#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
			<section id="login">
				#parse("../cart/_include/checkout-steps.vm")
				<div class="page-header"></div>
				<div style="padding-bottom: 50px;">
					<div style="float: left; width: 48%;">
						<div class="well" style="width: 423px; height: 240px; margin: auto; padding: auto; text-align: left;">
							<div style="color: #787878; border-bottom: solid 1px #CCCCCC; text-transform: uppercase; margin-bottom: 15px; padding-bottom: 5px;">
								<h3>$wording.get("fo.auth.login_main_create_account_title")</h3>
							</div>
							<div>$wording.get("fo.auth.login_main_create_account_text")</div>
							<div style="padding-top: 5px; text-align: right;">
							#if($!checkoutStep)
								<a href="$common.checkoutCreateAccountUrl" alt="$wording.get("fo.common.header_link_create_account")" class="btn">$wording.get("fo.common.header_link_create_account")</a>
							#else
								<a href="$common.createAccountUrl" alt="$wording.get("fo.common.header_link_create_account")" class="btn">$wording.get("fo.common.header_link_create_account")</a>
							#end
							</div>
						</div>
					</div>
					<div style="float: left;  width: 48%;">
						#parse("_include/body-form-login.vm")
					</div>
					<div style="clear: both;"></div>
				</div>
			</section>
