#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="forgotten-password">
					<div class="page-header">
						<h1>$wording.get("fo.header_title.forgotten_password")</h1>
					</div>
					<div style="padding-bottom: 50px;">
						<div style="text-align: center;">
							<div style="width: 500px; margin: auto; padding: auto; text-align: left;">
								<form id="resetPasswordForm" name="resetPasswordForm" action="${security.resetPasswordUrl}" class="well form-search" method="POST">
									<input type="hidden" name="email" id="email" value="$!resetPasswordForm.email">
									<input type="hidden" name="token" id="token" value="$!resetPasswordForm.token">
									#set($beanName = "resetPasswordForm")
									#parse("../../_include/body-form-error-message.vm")
									<div>
										<div>
											$wording.get("fo.auth.reset_password_password")
										</div>
										<div style="padding-top: 5px;">
											<input type="password" name="newPassword" id="newPassword" value="">
										</div>							
									</div>
									<div>
										<div>
											$wording.get("fo.auth.reset_password_confirm_password")
										</div>
										<div style="padding-top: 5px;">
											<input type="password" name="confirmNewPassword" id="confirmNewPassword" value="">
										</div>							
									</div>
									<div style="padding-top: 5px; text-align: right;">
										<button type="submit" class="btn">$wording.get("fo.auth.reset_password_form_submit")</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
