#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

					
				<section id="follow-us">
					<div class="page-header">
						<h1>$wording.get("fo.header_title.follow_us")</h1>
					</div>
					<div>
						<div class="container-fluid">
							<div class="row-fluid">
								<div class="span4">
									#parse("_include/follow-us-options.vm")
								</div>
								<div class="span8">
									<p>
										$wording.get("fo.follow_us.form_success_message")
									</p>
		
									<div style="width: 100%; padding-top: 20px;">
										<p style="color: #9b9b9b; font-style: italic; font-size: 12px; text-align: justify;">
											$legalTerms.warning
										</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>

				</section>

