#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html>
<!--[if IE 7]><html lang="$!localeLanguageCode" class="ie7"><![endif]-->  
<!--[if IE 8]><html lang="$!localeLanguageCode" class="ie8"><![endif]-->  
<!--[if IE 9]><html lang="$!localeLanguageCode" class="ie9"><![endif]-->  
<!--[if !IE]><!--><html lang="$!localeLanguageCode"><!--<![endif]-->  
    <head>
		<title>$!seoPageTitle
		#if($!customer)
			- ($customer.lastname $customer.firstname)
		#end
		</title>

		#parse("../_include/head-common-meta.vm")

		#parse($!head_meta)

		#parse("../_include/head-common.vm")

		#parse($!head_content)
		
		#if($!tracking)
		#parse("../_include/head-async-tracking.vm")
		#end

		#if($!monitoring)
		#parse("../_include/head-async-monitoring.vm")
		#end
		
    </head>
    <body>
	
		#* DEMO CONTEXT - START *#
		<style>
#backgroundPopup { 
	z-index:4000;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 800px;
    z-index:4001;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}
		</style>
		<div style="position: fixed; top: 40px; left: 50px; z-index:3000;">
			<a href="#" class="btn-large btn-warning topopup" alt="Show Demo Context" >Show Demo Context</a>
		</div>
		
		<div id="toPopup"> 
			<div class="close"></div> 
			<span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span> 
			<div id="popup_content">
				<div style="background-color: #ffffff; color: red; padding: 10px;">
					<div style="text-align: center; font-weight: bold;">Demo Context</div>
					<div>
						<div class="nav-collapse collapse">
							Change context:
							<ul class="nav nav-pills market-nav">
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.marketplaces")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($marketPlace in $marketPlaces)
										<li><a href="$marketPlace.changeContextUrl" alt="$marketPlace.name">$marketPlace.name</a></li>
									#end
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.markets")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($market in $markets)
										<li><a href="$market.changeContextUrl" alt="$market.name">$market.name</a></li>
									#end
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.market_areas")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($marketArea in $marketAreas)
										<li><a href="$marketArea.changeContextUrl" alt="$marketArea.name">$marketArea.name</a></li>
									#end
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.market_area_languages")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($localization in $marketAreaLocalizations)
										<li><a href="$localization.changeContextUrl" alt="$localization.name">$localization.name</a></li>
									#end
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.market_area_retailers")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($retailer in $marketAreaRetailers)
										<li><a href="$retailer.changeContextUrl" alt="$retailer.name">$retailer.name</a></li>
									#end
									</ul>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">$wording.get("fo.header_menu.market_area_currencies")&nbsp;<b class="caret"></b></a>
									<ul class="dropdown-menu">
									#foreach($currency in $marketAreaCurrencies)
										<li><a href="$currency.changeContextUrl" alt="$currency.name">$currency.name</a></li>
									#end
									</ul>
								</li>
							</ul>
						</div>
						<br/>
					</div>
					<div>
						Current context:<br/>
						$wording.get("fo.header_menu.marketplace"): <span style="color: #7D7E81;">$common.currentMarketPlace.name</span><br/>
						$wording.get("fo.header_menu.market"): <span style="color: #7D7E81;">$common.currentMarket.name</span><br/>
						$wording.get("fo.header_menu.market_area"): <span style="color: #7D7E81;">$common.currentMarketArea.name</span><br/>
						$wording.get("fo.header_menu.market_area_language"): <span style="color: #7D7E81;">$common.currentMarketAreaLocalization.name</span><br/>
						$wording.get("fo.header_menu.market_area_retailer"): <span style="color: #7D7E81;">$common.currentMarketAreaRetailer.name</span><br/>
						$wording.get("fo.header_menu.market_area_currency"): <span style="color: #7D7E81;">$common.currentMarketAreaCurrency.name</span><br/>
						<br/>
					</div>
					<div style="text-align: center; font-weight: bold;">GEOLOC Context</div>
					<div>
						Remote Address: <span style="color: #7D7E81;">$!geolocRemoteAddress</span><br/>
						Country: <span style="color: #7D7E81;">$!geolocCountry.isoCode | $!geolocCountry.name</span><br/>
						City: <span style="color: #7D7E81;">$!geolocCity.name</span><br/>
						<br/>
					</div>
				</div>
			</div>
		</div>
		<div class="loader"></div> 
		<div id="backgroundPopup"></div> 
		<div style="clear: both;"></div>
		#* DEMO CONTEXT - END *#
				
        <div class="navbar navbar-inverse navbar-fixed-top" style="top: 0px;">
			<div class="navbar navbar-inverse">									
				#parse("../_include/body-header.vm")

				#parse("../_include/body-menu.vm")
				
			</div> 
        </div> 
        <header>
        	<div style="padding-top: 0px; padding-bottom: 10px; border-bottom: 1px solid #7e2a8d;">
				<div class="container">
					<div class="row">
						<div style="text-align: left;"></div>
					</div>
				</div>
        	</div>
        </header>
		
        <div class="main">
        	<div class="container">
				#parse("../_include/body-transaction-messages.vm")
				$screen_content
			</div>
        </div>
		
        #parse("../_include/body-footer.vm")
		
		#parse("../_include/body-bottom-javascript.vm")
		
		#parse($!footer_script_content)
		
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				
				$("a.topopup").click(function() {
						loading();
						setTimeout(function(){ 
							loadPopup();
						}, 500);
				return false;
				});
				
				$("div.close").hover(
								function() {
									$('span.ecs_tooltip').show();
								},
								function () {
									$('span.ecs_tooltip').hide();
								}
							);
				
				$("div.close").click(function() {
					disablePopup();
				});
				
				$(this).keyup(function(event) {
					if (event.which == 27) { 
						disablePopup();
					}  	
				});
				
				$("div#backgroundPopup").click(function() {
					disablePopup();
				});
				
				$('a.livebox').click(function() {
					alert('Hello World!');
				return false;
				});

				function loading() {
					$("div.loader").show();  
				}
				function closeloading() {
					$("div.loader").fadeOut('normal');  
				}
				
				var popupStatus = 0;
				
				function loadPopup() { 
					if(popupStatus == 0) {
						closeloading();
						$("#toPopup").fadeIn(0500);
						$("#backgroundPopup").css("opacity", "0.7");
						$("#backgroundPopup").fadeIn(0001); 
						popupStatus = 1;
					}	
				}
				function disablePopup() {
					if(popupStatus == 1) {
						$("#toPopup").fadeOut("normal");  
						$("#backgroundPopup").fadeOut("normal");  
						popupStatus = 0;
					}
				}
			});
		</script>
    </body>
</html>
