#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			
				<section id="customer">
					<div class="page-header">
						<h1>$!mainContentTitle</h1>
					</div>
					<div style="float: right; padding-right: 15px; font-size: 15px;">
						<a href="$!urlAdd" class="btn btn-primary">$wording.get("bo.common.add_label")</a>
					</div>
					<div>
						#parse("../../_include/body-pagination-pagelistholder.vm")
						<div>
							<table class="table" style="width: 100%">
								<thead>
									<tr>
										<th width="100px">$wording.get("bo.customer.title_label")</th>
										<th width="150px">$wording.get("bo.customer.lastname_label")</th>
										<th width="150px">$wording.get("bo.customer.firstname_label")</th>
										<th width="100px">$wording.get("bo.customer.active_label")</th>
										<th width="200px">$wording.get("bo.common.actions_label")</th>
									</tr>
								</thead>
								<tbody>
									#foreach($customer in $pagedListHolder.pageList)
									<tr>
										<td>$!customer.title</td>
										<td>$!customer.lastname</td>
										<td>$!customer.firstname</td>
										#if($!customer.active)
										<td style="color: green">$wording.get("common.common.is_default_true")</td>
										#else
										<td style="color: red">$wording.get("common.common.is_default_false")</td>
										#end
										<td><a href="$!customer.detailsUrl" class="btn">$wording.get("bo.common.details_label")</a>&nbsp;<a href="$!customer.editUrl" class="btn">$wording.get("bo.common.edit_label")</a></td>
									</tr>
									#end
								</tbody>  
							</table> 
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
