#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="payment-gateway-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div class="form-horizontal well">
						<div style="text-align: right;">
							<a href="$!urlBack" class="btn">$wording.get("bo.common.back_label")</a>
							<a href="$!paymentGateway.editUrl" alt="edit" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
						</div>
						<div style="clear: both; padding-top: 10px;">
							Name : $!paymentGateway.name<br/>
							Description : $!paymentGateway.description<br/>
							Code : $!paymentGateway.code<br/><br/>
							Params
							<br/><br/>
							<div class="widget-content">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th style="width: 50%;">Key</th>
											<th style="width: 50%;">Value</th>
										</tr>
									</thead>
									<tbody>
										#set ($map = ${paymentGateway.paymentGatewayAttributes} )
										#foreach ($mapEntry in $map.entrySet())
										<tr>
											<td class="description">
												$mapEntry.key
											</td>
											<td class="value">
												$mapEntry.value
											</td>
										</tr>
										#end
									</tbody>
								</table>
								
							</div>
						</div>
						<div style="clear: both; padding-top: 10px; text-align: right;">
							<a href="$!urlBack" class="btn">$wording.get("bo.common.back_label")</a>
							<a href="$!paymentGateway.editUrl" alt="edit" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
		