#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="payment-gateway-edit">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div class="form-horizontal well">
						<div>
						<form id="paymentGatewayForm" name="paymentGatewayForm" action="" method="POST">
							<input type="hidden" id="id" name="id" value="$!paymentGatewayForm.id" />
							#set($beanName = "paymentGatewayForm")
							#parse("../../_include/body-form-error-message.vm")
							<div>
								<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
								<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
							</div>
							<div style="clear: both; padding-top: 15px;">
								Name : $!paymentGateway.name<br/>
								Description : $!paymentGateway.description<br/>
								Code : $!paymentGateway.code<br/><br/>
								
								TODO
							</div>
							<div style="clear: both; padding-top: 15px;">
								<a href="$!urlBack" class="btn">$wording.get("bo.common.cancel_label")</a>
								<button class="btn btn-primary" type="submit" style="margin-top: 0px;">$wording.get("bo.common.submit_label")</button>
							</div>
						</form>
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
