#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/reference-data/reference-datas-list-footer-script.vm")
#set ($page_title = $seoPageTitle)

				<section id="monitoring">
					<div class="page-header">
						<h1>$!mainContentTitle</h1>
					</div>
					<div id="tabs-reference-data">
						<ul>
							<li><a class="article_link" href="#tabs-reference-data-attribute-definition-list">$wording.get("bo.reference_data.attributes_label")</a></li>
							<li><a class="article_link" href="#tabs-reference-data-currency-list">$wording.get("bo.reference_data.currencies_label")</a></li>
							<li><a class="article_link" href="#tabs-reference-data-language-list">$wording.get("bo.reference_data.languages_label")</a></li>
						</ul>
						<div id="tabs-reference-data-attribute-definition-list">
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>$wording.get("bo.reference_data.attribute_code_label")</th>
											<th>$wording.get("bo.reference_data.attribute_name_label")</th>
											<th>$wording.get("bo.reference_data.attribute_type_label")</th>
											<th>$wording.get("bo.reference_data.attribute_object_type_label")</th>
											<th>$wording.get("bo.common.date_create_label")</th>
											<th>$wording.get("bo.common.date_update_label")</th>
										</tr>
									</thead>
									<tbody>
										#foreach($attributeDefinition in $attributeDefinitions) 
										<tr>
											<td>$attributeDefinition.code</td>
											<td>$attributeDefinition.name</td>
											<td>$attributeDefinition.attributeType</td>
											<td>$attributeDefinition.objectType</td>
											<td>$attributeDefinition.dateCreate</td>
											<td>$attributeDefinition.dateUpdate</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
						<div id="tabs-reference-data-currency-list">
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>$wording.get("bo.reference_data.currency_code_label")</th>
											<th>$wording.get("bo.reference_data.currency_name_label")</th>
											<th>$wording.get("bo.reference_data.currency_sign_label")</th>
											<th>$wording.get("bo.reference_data.currency_abbreviated_label")</th>
											<th>$wording.get("bo.common.date_create_label")</th>
											<th>$wording.get("bo.common.date_update_label")</th>
										</tr>
									</thead>
									<tbody>
										#foreach($currencyReferential in $currencyReferentials) 
										<tr>
											<td>$currencyReferential.code</td>
											<td>$currencyReferential.name</td>
											<td>$currencyReferential.sign</td>
											<td>$currencyReferential.abbreviated</td>
											<td>$currencyReferential.dateCreate</td>
											<td>$currencyReferential.dateUpdate</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
						<div id="tabs-reference-data-language-list">
							<div class="widget-content">
								<table class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>$wording.get("bo.reference_data.language_locale_code_label")</th>
											<th>$wording.get("bo.reference_data.language_name_label")</th>
											<th>$wording.get("bo.reference_data.language_country_code_label")</th>
											<th>$wording.get("bo.reference_data.language_language_code_label")</th>
											<th>$wording.get("bo.common.date_create_label")</th>
											<th>$wording.get("bo.common.date_update_label")</th>
										</tr>
									</thead>
									<tbody>
										#foreach($localization in $localizations) 
										<tr>
											<td>$localization.code</td>
											<td>$localization.name</td>
											<td>$localization.country</td>
											<td>$localization.language</td>
											<td>$localization.dateCreate</td>
											<td>$localization.dateUpdate</td>
										</tr>
										#end
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</section>
