#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

		<section id="cart-order-confirmation">
			#parse("_include/checkout-steps.vm")
			<div>
				<div id="cart-payment-content" style="margin-top: 15px; margin-bottom: 15px;">
					<div><h3>$wording.get("fo.checkout_shopping_cart.order_confirmation")</h3></div>
					<div style="padding: 5px; padding-bottom: 10px; color: #2F353E;">
						$!order.confirmationMessage
					</div>
					<div style="padding: 5px; padding-bottom: 15px; color: #2F353E;">
						<a alt="Download your order confirmation" target="_blank" class="btn btn-primary" href="h#"><i class="icon-download-alt icon-large"></i>&nbsp;Download your order confirmation</a>
					</div>
					<div style="padding: 5px;">
						#parse("_include/order-details.vm")
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</section>
