#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/cart/cart-delivery-order-information-footer-script.vm")
#set ($page_title = $seoPageTitle)

		<section id="cart-delivery-order-information">
			#parse("_include/checkout-steps.vm")
			<div id="checkout-addresses" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">
				<div style="margin-top: 15px; margin-bottom: 30px;"><h3>$wording.get("fo.checkout_shopping_cart.shoppingcart_addresses")</h3></div>
				<div id="error-messages"></div>
				<form id="cartForm" name="cartForm" action="" method="POST">
					#springBind("cartForm")
					#if($status.errors.hasErrors()) 
					<div id="errors" class="alert alert-error">
						## Global error messages 
						#foreach($e in $status.errorMessages) 
							<p>${e}</p> 
						#end 
						## Field error messages 
						#foreach($fieldError in $status.errors.fieldErrors) 
							#springBind("cartForm.${fieldError.field}") 
							#foreach($errorMessage in $status.errorMessages) 
								${errorMessage}<br/>
							#end 
						#end 
					</div>
					#end 
					<div style="width: 415px; float:left;">
						<div>
							<div style="float: left; width: 150px;">
								<label for="billingAddressId" class="label-form">$wording.get("fo.checkout_shopping_cart.shoppingcart_billing_address")</label>
							</div>
							<div style="float: left;">
								<select id="billing-address" name="billingAddressId" style="width: 205px; height: 25px;" >
									<option value="">--</option>
									#foreach($address in $billingAddresses)
										#if($address.id == $cartForm.billingAddressId)
										<option value="$address.id" selected="selected">$address.addressName</option>
										#else
										<option value="$address.id">$address.addressName</option>
										#end
									#end
								</select>
							</div>
						</div>
					</div>
					<div style="width: 415px; float:left;">
						<div>
							<div style="float: left; width: 150px;">
								<label for="shippingAddressId" class="label-form">$wording.get("fo.checkout_shopping_cart.shoppingcart_shipping_address")</label>
							</div>
							<div style="float: left;">
								<select id="shipping-address" name="shippingAddressId" style="width: 205px; height: 25px;" >
									<option value="">--</option>
									#foreach($address in $shippingAddresses)
										#if($address.id == $cartForm.shippingAddressId)
										<option value="$address.id" selected="selected">$address.addressName</option>
										#else
										<option value="$address.id">$address.addressName</option>
										#end
									#end
								</select>
							</div>
						</div>
					</div>
					<div style="width: 150px; float:left;">
						<span style="padding-right: 15px;"><a class="btn" href="$cart.addNewAddressUrl">$wording.get("fo.checkout_shopping_cart.shoppingcart_add_new_address")</a></span>
					</div>
					<div style="clear: both;"></div>

					<div id="cart-delivery-methods-content" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">
						<div style="margin-top: 15px;"><h3>$wording.get("fo.checkout_shopping_cart.shoppingcart_delivery_methods")</h3></div>
						<div style="margin-top: 10px;">
							<table border="0" style="width: 100%; color: #2F353E;">
								<thead>
									<tr>
										<th style="width: 5%; padding-bottom:10px">&nbsp;</th>
										<th style="width: 35%; text-align: left;">$wording.get("fo.checkout_shopping_cart.delivery_method_name")</th>
										<th style="width: 45%; text-align: left;">$wording.get("fo.checkout_shopping_cart.delivery_method_estimated_delivery_date")</th>
										<th style="width: 15%; text-align: right;">$wording.get("fo.checkout_shopping_cart.delivery_method_price")</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tfoot>
								<tbody id="delivery-methods">
								</tbody>
							</table> 
						</div>
					</div>
					<div id="cart-summary-content" style="border-top: 1px dashed #2F353E; margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">
						#parse("_include/cart-details.vm")
					</div>
					<div id="cart-addresses-actions" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px;  padding-left: 5px; padding-right: 5px; text-align: right;">
						<span style="padding-right: 55px;"><button class="btn btn-primary" type="submit">$wording.get("fo.checkout_shopping_cart.shoppingcart_order_payment")</button></span>
					</div>
				</form>
			</div>
		</section>
