#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

		<section id="cart-order-confirmation">
			#parse("_include/checkout-steps.vm")
			<div>
				<div id="cart-payment-content" style="margin-top: 15px; margin-bottom: 15px;">
					<div style="width: 48%; float:left; padding: 5px;">
						$order.confirmationMessage
					</div>
					<div style="width: 48%; float:right; padding: 5px;">
						#parse("../_include/order-details.vm")
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
		</section>
