#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/cart/cart-details-footer-script.vm")
#set ($page_title = $seoPageTitle)

		<section id="cart-details">
			#parse("_include/checkout-steps.vm")
			<div>
				#if($cart.totalCartItems > 0)
				<form id="cartForm" name="cartForm" action="" method="POST">
				<div id="error-messages"></div>
				#parse("_include/cart-details.vm")
				<div id="cart-actions" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px;  padding-left: 5px; padding-right: 5px;">
					<div style="float: left; width: 55%;">&nbsp;</div>
					<div id="total" style="float: right;">
						<button class="btn" type="submit">$wording.get("fo.checkout_shopping_cart.shoppingcart_checkout")</button>
					</div>
					<div style="clear: both;"></div>
				</div>
				</form>
				#else
					$wording.get("fo.checkout_shopping_cart.shoppingcart_is_empty")
				#end
			</div>
		</section>
