#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="error-400">
					<div class="page-header">
						<h1>$wording.get("common.error.header_400")</h1>
					</div>
					<div>$wording.get("common.error.message_400")</div>
				</section>
