#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)
			
				<section id="forgotten-password">
					<div class="page-header">
						<h1>$wording.get("bo.auth.header_title_forgotten_password")</h1>
					</div>
					<div style="padding-bottom: 50px;">
						$wording.get("bo.auth.forgotten_password_email_success")
					</div>
				</section>

				