#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="personal-user-details">
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!authenticatedUser.dateCreate | $wording.get("bo.common.date_update_label") $!authenticatedUser.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a href="$!urlBack" alt="" class="btn">$wording.get("bo.common.back_label")</a>&nbsp;<a href="$!authenticatedUser.personalEditUrl" class="btn btn-primary">$wording.get("bo.common.edit_label")</a>
							</div>
						</div>
						<div class="widget-content">
							<div id="tabs-user-details">
								<div style="min-height:300px; overflow-y:auto;">
									<strong>$wording.get("bo.user.login_label")</strong> : $!authenticatedUser.login
									<br/><br/>
									<strong>$wording.get("bo.user.firstname_label")</strong> : $!authenticatedUser.firstname
									<br/><br/>
									<strong>$wording.get("bo.user.lastname_label")</strong> : $!authenticatedUser.lastname
									<br/><br/>
									<strong>$wording.get("bo.user.email_label")</strong> : $!authenticatedUser.email
									<br/><br/>
									<strong>$wording.get("bo.user.password_label")</strong> : *****************<br/><br/>
									<strong>$wording.get("bo.user.active_label")</strong> : 
									#if($!authenticatedUser.active)
										<span style="color: green">$wording.get("common.common.active_value_true")</span>
									#else
										<span style="color: red">$wording.get("common.common.active_value_false")</span>
									#end
									<br/><br/>
									<strong>$wording.get("bo.common.date_create_label")</strong>: $!authenticatedUser.dateCreate
									<br/><br/>
									<strong>$wording.get("bo.common.date_update_label")</strong>: $!authenticatedUser.dateUpdate
									<br/><br/>
								</div>
							</div>
						</div>
						<div class="widget widget-nopad">
							<div class="widget-header">
								<i class="fa fa-list-alt"></i>
								<h3>$wording.get("bo.user.groups_label")</h3>
							</div>
							<div class="widget-content">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th width="150px">$wording.get("bo.user.permission_code_label")</th>
											<th width="200px">$wording.get("bo.user.permission_name_label")</th>
										</tr>
									</thead>
									<tbody>
										#set ($map = $!authenticatedUser.userGroups) 
										#foreach ($mapEntry in $map.entrySet()) 
										<tr>
											<td>$!mapEntry.key</td>
											<td>$!mapEntry.value</td>
										</tr>
										#end
									</tbody> 
								</table>	
							</div>
						</div>
						<div class="widget widget-nopad">
							<div class="widget-header">
								<i class="fa fa-list-alt"></i>
								<h3>$wording.get("bo.user.roles_label")</h3>
							</div>
							<div class="widget-content">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th width="150px">$wording.get("bo.user.permission_code_label")</th>
											<th width="200px">$wording.get("bo.user.permission_name_label")</th>
										</tr>
									</thead>
									<tbody>
										#set ($map = $!authenticatedUser.userRoles) 
										#foreach ($mapEntry in $map.entrySet()) 
										<tr>
											<td>$!mapEntry.key</td>
											<td>$!mapEntry.value</td>
										</tr>
										#end
									</tbody> 
								</table>	
							</div>
						</div>
						<div class="widget widget-nopad">
							<div class="widget-header">
								<i class="fa fa-list-alt"></i>
								<h3>$wording.get("bo.user.permissions_label")</h3>
							</div>
							<div class="widget-content">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th width="150px">$wording.get("bo.user.permission_code_label")</th>
											<th width="200px">$wording.get("bo.user.permission_name_label")</th>
										</tr>
									</thead>
									<tbody>
										#set ($map = $!authenticatedUser.userPermissions) 
										#foreach ($mapEntry in $map.entrySet())
										<tr>
											<td>$!mapEntry.key</td>
											<td>$!mapEntry.value</td>
										</tr>
										#end
									</tbody> 
								</table>	
							</div>
						</div>
						<div class="widget widget-nopad">
							<div class="widget-header">
								<i class="fa fa-list-alt"></i>
								<h3>$wording.get("bo.user.last_logins_label")</h3>
							</div>
							<div class="widget-content">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th width="150px">$wording.get("bo.user.last_login_date_label")</th>
											<th width="200px">$wording.get("bo.user.last_login_host_label")</th>
											<th width="200px">$wording.get("bo.user.last_login_address_label")</th>
										</tr>
									</thead>
									<tbody>
										#foreach ($userConnectionLog in $!authenticatedUser.userConnectionLogs) 
										<tr>
											<td>$!userConnectionLog.date</td>
											<td>$!userConnectionLog.host</td>
											<td>$!userConnectionLog.address</td>
										</tr>
										#end
									</tbody> 
								</table>	
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
				</section>
