#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="user-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div style="width: 100%;" class="form-horizontal well">
						<div style="float: left; width: 50%;">
							<a class="btn" href="$!urlBack" alt="">$wording.get("bo.user.back_label")</a>&nbsp;<a class="btn btn-primary" href="$userDetails.userEditUrl" alt="">$wording.get("bo.user.edit_label")</a>
							<br/><br/>
							$wording.get("bo.user.login_label") : ${userDetails.login}
							<br/><br/>
							$wording.get("bo.user.firstname_label") : ${userDetails.firstname}
							<br/><br/>
							$wording.get("bo.user.lastname_label") : ${userDetails.lastname}
							<br/><br/>
							$wording.get("bo.user.email_label") : ${userDetails.email}
							<br/><br/>
							$wording.get("bo.user.password_label") : *****************<br/><br/>
							$wording.get("bo.user.active_label") : 
							#if($userDetails.active)
								<span style="color: green">$wording.get("bo.user.active_value_true")</span>
							#else
								<span style="color: red">$wording.get("bo.user.active_value_false")</span>
							#end
							<br/><br/>
							$wording.get("bo.common.date_create_label") : ${userDetails.dateCreate}
							<br/><br/>
							$wording.get("bo.common.date_update_label") : ${userDetails.dateUpdate}
							<br/><br/>
							$wording.get("bo.user.last_login_label")
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_date")</td>
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_host")</td>
									<td style="width: 200px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_address")</td>
								</tr>
							#set ($userConnectionLog = $userDetails.userConnectionLogs) 
							#foreach ($userConnectionLog in $userDetails.userConnectionLogs) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.date</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.host</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$userConnectionLog.address</td>
								</tr>
							#end
							</table>
							<br/><br/>
						</div>
						<div style="float: left; width: 50%;">
							$wording.get("bo.user.groups_label")
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_code")</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_name")</td>
								</tr>
							#set ($map = $userDetails.userGroups) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
							<br/><br/>
							$wording.get("bo.user.roles_label")
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_code")</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_name")</td>
								</tr>
							#set ($map = $userDetails.userRoles) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
							<br/><br/>
							$wording.get("bo.user.permissions_label")
							<br/><br/>
							<table style="width: 95%; border-top: 1px solid #000000; border-right: 1px solid #000000;">
								<tr style="border-bottom: 1px solid #000000;">
									<td style="width: 400px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_code")</td>
									<td style="width: 300px; padding: 5px; border-left: 1px solid #000000;">$wording.get("bo.user.table_name")</td>
								</tr>
							#set ($map = $userDetails.userPermissions) 
							#foreach ($mapEntry in $map.entrySet()) 
								<tr style="border-bottom: 1px solid #000000;">
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.key</td>
									<td style="padding: 5px; border-left: 1px solid #000000;">$mapEntry.value</td>
								</tr>
							#end
							</table>
						</div>
						<div style="clear: both; padding-top: 15px;">
							<a class="btn" href="$!urlBack" alt="">$wording.get("bo.user.back_label")</a>&nbsp;<a class="btn btn-primary" href="$userDetails.userEditUrl" alt="">$wording.get("bo.user.edit_label")</a>
						</div>
					</div>
					
					<div style="clear: both;"></div>
				</section>
