
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
	color: #8E959C;
	background-color: #2F353E;
	font-family: 'Open Sans', sans-serif; 
}

h1 {
    margin-top: 40px;
}

h2, h3, h4, h5, h6 {
    color: #2F353E;
	font-weight: 300;
	text-transform: uppercase;
}

h2 {
	text-align: center;
    margin: 40px 0 45px 0;
}

h2 span {
	background: #FFF;
	padding: 0 20px;
}

a {
    color: #7d7e81;
    text-decoration: none;
}

img {
  max-width: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.centered {
	text-align: center;
}

.framed {
    margin-bottom: 10px;
    border: 10px solid #FFF;
    -moz-box-shadow: 0 0 7px #CCC;
    -webkit-box-shadow: 0 0 7px #CCC;
    box-shadow: 0 0 7px #CCC;
}

.feature-blocks {
    margin-bottom: 50px;
}

.avatar {
    padding: 0 10px 10px 0;
}

.thumbnail {
    padding: 15px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.thumbnail:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

input[type=button],
input[type=date],
input[type=datetime], 
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number], 
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    width: 90%;
	margin-bottom: 0px;
}

.login {
    border-right: 1px solid #EEE;
    padding-right: 10px;
}

.img-polaroid {
    width: 85%;
    padding: 10px;
}

/* disable bootstrap icon and use font-awesome */
[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
	background-image: none;
}

.glyphicons i:before {
    color: #7D7E81;
}

/*****************************************************************************
	Navbar Content
*****************************************************************************/

.navbar-inverse .navbar-inner {
	padding-top: 10px;
	padding-bottom: 10px;
	background-image: none;
	filter: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0px;
	box-shadow: none;
}

.navbar .nav > li > a {
    text-shadow: none;
}

.nav-pills > li > a {
	padding-top: 0px;
}

.sub-navbar {
	padding-top: 12px;
	padding-bottom: 3px;
	height: 32px;
}

.sub-navbar .container {
	color: #FFF;
}

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus {
	color: #FFF;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.navbar-inverse .btn-navbar {
    background-color: #121212;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.navbar-inverse .market-nav  > li > a {
    color: #999999;
}

.navbar-inverse .menu-nav > li > a {
    color: #000000;
}

#menu-nav  .sub-navbar {
    height: 40px;
    padding-bottom: 5px;
    padding-top: 8px;
}

#header-over-menu-navbar {
    padding-bottom: 5px;
	min-height: 0px;
}

.navbar-inverse .navbar-inner {
	background: #2F353E;
}

.sub-navbar {
	background: #a1cd44;
}

.user-my-account-link{
    padding-left: 5px;
}

/*****************************************************************************
	Header Content
*****************************************************************************/

header {
    zoom: 1;
	width: auto;
    height: auto;
    min-height: 100%;
	text-align: center;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/header_background-1.jpg', sizingMethod='scale'); /**IE7*/
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/header_background-1.jpg', sizingMethod='scale')"; /*IE8*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header .container {height: 100%;}

header h1, header p {
    text-transform: uppercase;
	padding: 20px 10px;
	color: #FFF;
	background: #000;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    zoom: 1;
    filter: alpha(opacity=70);
	opacity: 0.7;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

header h1:hover, header p:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 30px;
    height: 30px;
    margin-top: -20px;
    font-size: 40px;
    font-weight: 100;
    line-height: 21px;
    color: white;
    text-align: center;
    background: #222;
    border: none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.carousel-control.left {
    left: -45px;
}

.carousel-control.right {
    right: -45px;
}

.page-header {
	margin-bottom: 15px;
}

/*****************************************************************************
	Strip Styles = Call to action
*****************************************************************************/

.strip {
	width: auto;
	margin-bottom: 20px;
	padding: 20px 0 10px 0;
	text-align: center;
	zoom: 1;
	background: #2F353E;
}

.strip .container .row > div {
    color: #8E959C;
    font-weight: 400;
}

/*****************************************************************************
	Main content
*****************************************************************************/
.main {
	background-color: #ffffff;
	padding-top: 40px;
	min-height: 400px;
}

/*****************************************************************************
	Footer content
*****************************************************************************/

footer {
	background: #2F353E;
	width: auto;
	margin-top: 25px;
    margin-bottom: 0;
	padding: 25px 20px 10px 20px;
}

/*****************************************************************************
	Media
*****************************************************************************/

@media (max-width: 979px) { 
	.navbar-fixed-top {
		margin-bottom: 0;
	}
    
    .nav-collapse .nav > li > a, 
    .nav-collapse .dropdown-menu a {
        color: #999;
    }
	
    /*padding*/
	.sub-navbar, header, .strip, footer {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 767px) {
    /*mantain full width*/
	header, .strip, footer {
		margin-left: -20px;
		margin-right: -20px;
		}
        
        .carousel-control.left {
            left: 20px;
        }
        
        .carousel-control.right {
            right: 20px;
        }
}

/*****************************************************************************
	Buttons
*****************************************************************************/

.btn {
    padding:7px 13px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	   		border-radius: 3px;
	color: #FFF;
	text-shadow: none;
	background-image: none;
	background-repeat: no-repeat;
	background-color: #7d7e81;
	border: none;
	filter: none;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

.btn-primary {
	background-color: #2F353E;
}

.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
	color: #FFF;
	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
	    -ms-transition: all .5s;
	     -o-transition: all .5s;
	        transition: all .5s;
}

.btn:hover,
.btn:active,
.btn .active,
.btn .disabled,
.btn[disabled] {
	background-color: #5F686F;
}

.btn-login {
    background-color: #B9DC2F;
    display: inline;
    color: #FFF;
    padding: 3px 10px;
    font-weight: 400;
}
.btn-login:hover {
	background-color: #EEE;
	color: #333;
}




