#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

            <div class="post-comment">
            	<h3 class="color-green">Add a new retailer</h3>
                <form>
                    <label>Name</label>
                    <input type="text" class="span7" />
                    <label>Email <span class="color-red">*</span></label>
                    <input type="text" class="span7" />
                    <label>Message</label>
                    <textarea rows="8" class="span10"></textarea>
                    <p><button type="submit" class="btn-u">Send Message</button></p>
                </form>
            </div>