#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

			<form id="retailerCommentForm" name="retailerCommentForm" action="$!urlSubmit" method="POST">
			<input type="hidden" id="retailerCode" name="retailerCode" value="$!retailerContactForm.retailerCode">
			#set($beanName = "retailerCommentForm")
			#parse("../../_include/body-form-error-message.vm")
            <div class="post-comment">
            	<h3 class="color-green">$wording.get("fo.retailer.vote_part_title")</h3>
				<label style="display: inline-block;">$wording.get("fo.retailer.vote_quality_of_service")</label>
				<select id="qualityOfService" name="qualityOfService" class="span1">
					<option value="">--</option>
				#set($max = $qualityOfServiceMax - 1)
				#foreach($number in [0..$max])
					#set($value = $number + 1)
					<option value="$value">$value</option>
				#end
				</select>
				<label style="padding-left: 20px; display: inline-block;">$wording.get("fo.retailer.vote_ratio_quality_price")</label>
				<select id="ratioQualityPrice" name="ratioQualityPrice" class="span1">
					<option value="">--</option>
				#set($max = $qualityOfServiceMax - 1)
				#foreach($number in [0..$max])
					#set($value = $number + 1)
					<option value="$value">$value</option>
				#end
				</select>
				<label style="padding-left: 20px; display: inline-block;">$wording.get("fo.retailer.vote_price")</label>
				<select id="priceScore" name="priceScore" class="span1">
					<option value="">--</option>
				#set($max = $priceMax - 1)
				#foreach($number in [0..$max])
					#set($value = $number + 1)
					<option value="$value">$value</option>
				#end
				</select>
            </div>

            <div class="post-comment">
            	<h3 class="color-green">$wording.get("fo.retailer.comment_part_title")</h3>
				<label>$wording.get("fo.retailer.comment_label")</label>
				<textarea id="comment" name="comment" rows="8" class="span10"></textarea>
				<p><button type="submit" class="btn-u">$wording.get("fo.retailer.submit_comment")</button></p>
            </div>
            </form>
