#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script>
		jQuery(document).ready(function($) {
			#if($!retailer.defaultAddress.longitude && $!retailer.defaultAddress.longitude != '' && $!retailer.defaultAddress.latitude && $!retailer.defaultAddress.latitude != '')
			var zoom                 = 13;
			var lonCenter            = $!retailer.defaultAddress.longitude;
			var latCenter            = $!retailer.defaultAddress.latitude;
			#else
			var zoom                 = 3;
			var lonCenter            = -30.000;
			var latCenter            = 45.000;
			#end
			var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
			var positionCenter = new OpenLayers.LonLat(lonCenter, latCenter).transform(fromProjection, toProjection);

			map = new OpenLayers.Map("map");
			var mapnik = new OpenLayers.Layer.OSM();
			map.addLayer(mapnik);

			var markers = new OpenLayers.Layer.Markers("Markers");
			map.addLayer(markers);

			#foreach($store in $retailer.stores) 
			marker = new OpenLayers.Marker(new OpenLayers.LonLat($store.longitude, $store.latitude).transform(fromProjection, toProjection));
			openStoreInfo = function(evt) { 
				$('#store-info-$store.code').dialog({
					title: '$store.name informations',
					modal: true,
					buttons: {
						Ok: function() {
							$(this).dialog( "close" );
						}
					}
				});
				OpenLayers.Event.stop(evt);
			};
			marker.events.register('mousedown', marker, openStoreInfo);
			markers.addMarker(marker);
			#end
			
			map.addControl(new OpenLayers.Control.LayerSwitcher());
			map.setCenter(positionCenter, zoom);
		});
		</script>