#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($head_meta = "../content/retailer/store-details_meta.vm")
#set ($page_title = $seoPageTitle)
#set ($breadcrumbWording = $!store.name + '<span class="glyphicons certificate"><i></i></span>')
#set ($footer_script_content = "../content/retailer/store-details_script.vm")

<section id="store-locator" class="product-detail-wrap store-detail-wrap">
<span class="section-title category-title">Home › Location ›$!store.name ($!store.code)</span>
<div class="clear border-btm"></div>
<!-- nivo slider - store images -->

<div class="slider-wrapper theme-default axe-top-slider store-images-slider">
	<div id="store-images" class="nivoSlider">
	#foreach($sliderItem in $!store.sliders)
		<img src="$!sliderItem" alt="Slider 1" title="#htmlcaption" data-thumb="$!sliderItem"/>
	#end
	</div>
	<div class="nivo-controlNav store-img-nav">
	#set($index = 0)
	#foreach($sliderItem in $!store.sliders)
		#set($count_item = $index + 1) 
		<a class="nivo-control" rel="$index" style="background-image: url($!sliderItem)">$count_item</a>
		#set($index = $index +1)
	#end
	</div>
</div>
<!-- //nivo slider - store images -->
<div class="clear border-btm"></div>
<div class="product-detail-content row fo-map-wrap">
<div id="map-store" class="product-image-wrap span4 fo-map">
	
</div>
<div class="product-info span8">
	<h3 class="product-name store-name">$!store.name</h3>
	<div class="review-rating-wrap">
		<span class="rating-stars star-3">&nbsp;</span>
		<a href="javascript:void(0)" class="review-rating-star star-5">&nbsp;</a>
		<a href="javascript:void(0)" class="review-rating-star star-4">&nbsp;</a>
		<a href="javascript:void(0)" class="review-rating-star star-3">&nbsp;</a>
		<a href="javascript:void(0)" class="review-rating-star star-2">&nbsp;</a>
		<a href="javascript:void(0)" class="review-rating-star star-1">&nbsp;</a>
	</div>
	<p class="product-sku store-detail-add">
		<strong>Address:</strong> $!store.address1<br>
	</p>
		#if($!businessHours)
		<strong class="operation-hour-title">Operation Hour:</strong>
		<table class="table operation-hour">
            <tbody>
                <tr>
                    <td class="small">Monday:</td>
                    <td #if($!businessHours.monday) class="bold" #end>
                    	#if($!businessHours.monday)<strong> $!businessHours.monday.startHour to $!businessHours.monday.endHour </strong> #else CLOSE #end 
                    </td>
                </tr>
                <tr>
                    <td class="small">Tuesday:</td>
                    <td #if($!businessHours.tuesday) class="bold" #end>
                    	<strong>#if($!businessHours.tuesday) <strong>$!businessHours.tuesday.startHour to $!businessHours.tuesday.endHour </strong> #else CLOSE #end 
                    </td>
                </tr>
                <tr>
                    <td class="small">Wednesday:</td>
                    <td #if($!businessHours.wednesday) class="bold" #end>
                    	#if($!businessHours.wednesday) <strong> $!businessHours.wednesday.startHour to $!businessHours.wednesday.endHour  </strong>  #else CLOSE #end
                    </td>
                </tr>
                <tr>
                    <td class="small">Thursday:</td>
                    <td #if($!businessHours.thursday) class="bold" #end>
                    	#if($!businessHours.thursday) <strong>$!businessHours.thursday.startHour to $!businessHours.thursday.endHour </strong> #else CLOSE #end 
                    </td>
                </tr>
                <tr>
                    <td class="small">Friday:</td>
                    <td #if($!businessHours.friday) class="bold" #end>
                    	#if($!businessHours.friday) <strong>  $!businessHours.friday.startHour to $!businessHours.friday.endHour  </strong> #else CLOSE #end
                    </td>
                </tr>
                <tr>
                    <td class="small">Saturday:</td>
                    <td #if(!$businessHours.saturday) class="bold" #end>
                    	 #if($!businessHours.saturday) <strong>$!businessHours.saturday.startHour to $!businessHours.saturday.endHour  </strong>  #else CLOSE #end
                    </td>
                </tr>
                <tr>
                    <td class="small">Sunday:</td>
                    <td #if($!businessHours.sunday) class="bold" #end>
                    	#if($!businessHours.sunday) <strong>$!businessHours.sunday.startHour to $!businessHours.sunday.endHour  </strong> #else CLOSE #end 
                    </td>
                </tr>
            </tbody>
        </table>
		#end
	<span class="product-des">
		$!store.addressAdditionalInformation
	</span>
</div>
</div>

<span class="section-title category-title">Other Stores</span>
<div class="clear border-btm"></div>
<!-- slide location list  -->
<div id="location-store-list" class="linked-logos-slide location-store-list">
<div class="slides_container products-grid row">

#set($count = 0)
#foreach($store in $otherStores)
#if($count%4==0)
<div class="slide">	
#end
<div class="item span3">
	<a href="$store.detailsUrl" class="store-item">
		<span class="store-thumb"><img src="$store.defaultImage" alt="Store1"></span>
			<div class="store-item-info">
			<h2 class="store-list-title">$store.name</h2>
		<span class="store-list-address"><i class="icon-map-marker"></i> $store.address1</span>
		</div>
	</a>
</div>
#set($count = $count + 1)
#if($count==$otherStores.size() || $count%4==0)
</div>
#end

#end



</div>
<!-- //slide featured products -->
</div>
<!-- //slide location list  -->
