#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script>
		jQuery(document).ready(function($) {
			#if($!store.longitude && $!store.longitude != '' && $!store.latitude && $!store.latitude != '')
			var zoom                 = 13;
			var lonCenter            = $!store.longitude;
			var latCenter            = $!store.latitude;
			#else
			var zoom                 = 3;
			var lonCenter            = -30.000;
			var latCenter            = 45.000;
			#end
			var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
			var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
			var positionCenter = new OpenLayers.LonLat(lonCenter, latCenter).transform(fromProjection, toProjection);
			map = new OpenLayers.Map("map-store");
			var mapnik = new OpenLayers.Layer.OSM();
			map.addLayer(mapnik);
			var markers = new OpenLayers.Layer.Markers("Markers");
			map.addLayer(markers);
			var size = new OpenLayers.Size(21,25);
	        var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
	        var icon = new OpenLayers.Icon("${common.themeResourcePrefixPath}/img/coffee.png",size,offset);
			marker = new OpenLayers.Marker(new OpenLayers.LonLat($store.longitude, $store.latitude).transform(fromProjection, toProjection),icon);
			markers.addMarker(marker);	
			map.addControl(new OpenLayers.Control.LayerSwitcher());
			map.setCenter(positionCenter, zoom);

		});
		function startupPage(){
			$('#location-store-list').slides({
				preload: true,
				generateNextPrev: true,
				play: 0,
				hoverPause: true
			});
			 $('#store-images').nivoSlider({
		    	effect: 'sliceUpDown'
		    });
		     var size = $('.nivo-controlNav.store-img-nav').find(".nivo-control").size(),
		    	widthNivoControl = $('.nivo-controlNav.store-img-nav').width();
		    $('.nivo-controlNav.store-img-nav').find(".nivo-control").width(((100-size+1)/size)+'%');
		}
		</script>