#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($footer_script_content = "../content/cache/cache-footer-script.vm")
#set ($page_title = $seoPageTitle)

				<section id="cache-list">
					<div class="page-header">
						<h1>$!mainContentTitle</h1>
					</div>
					
					<div>
						#parse("../../_include/body-pagination-pagelistholder.vm")
						<div>
									<table class="table" style="width: 100%">
										<thead>
											<tr>
												<th width="100px">Cache Name</th>
												<th width="150px">Max Elements In Memory</th>
												<th width="100px">Time To Idle Seconds</th>
												<th width="100px">Time To Live Seconds</th>
												<th width="100px">Overflow To Disk</th>
												<th width="350px"><a class="btn" href="#" alt="" onclick="flushAll();">flush all of caches</a>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>catalog</td>
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('catalog');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('catalog');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>category</td>
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('category');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('category');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>customer</td>
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('customer');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('customer');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>product</td>
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('product');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('product');" value="flush specific server"></input>
												</td>
											</tr>
										</tbody>  
									</table> 
						</div>
					</div>
					<div style="clear: both;"></div>

				</section>


