#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#

<script type="text/javascript">
	var choosedCacheName = "";
	function flushSpecificServer(cacheName){
		choosedCacheName = cacheName;
		$( "#dialog" ).dialog( "open" );

	}
	function flushAll(){ 
		$.post("../sc/flushCache.html",{flag:'ALL'},function(result,status){
			if('SUCCESS'==result){
				alert('The operation was successful!');
			}else{
			
				alert(result);
			}
		});
	}
	
	function flushAllServer(){ 
		$.post("../sc/flushCache.html",{flag:'ALLSERVER',cacheName:choosedCacheName},function(result,status){
			if('SUCCESS'==result){
				alert('The operation was successful!');
			}else{
			
				alert(result);
			}
		});
	}

	$(function() {

		$( "#dialog" ).dialog({
			autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
 			buttons: {
				"Confirm refresh the cache?": function() {
					var serverNameStr = $("#choosedServer").val();
 
					$( this ).dialog( "close" );
					$.post("../sc/flushCache.html",{flag:'SINGLE',cacheName:choosedCacheName,serverName:serverNameStr},function(result,status){
						if('SUCCESS'==result){
							alert('The operation was successful!');
						}else{
							alert(result);
						}
					},"text");
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
</script>