#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="cache-list">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
					
					<div style="float: left; width: 15%;">
						<div style="text-align: right; padding-right: 5px;">
							<form id="cacheQuickSearchForm" name="cacheQuickSearchForm" action="" method="POST">
								<input type="text" id="text" name="text" value="" style="width: 150px; margin-bottom: 0px;" />
								<button class="btn btn-primary" type="submit" style="margin-top: 3px;">search</button>
							</form>
						</div>
						#parse("../../_include/body-short-link-menu.vm")
					</div>

					<div style="float: left; width: 80%;" class="form-horizontal well">
						<div>
							<div style="width: 950px; border: 0px solid #B8B6B6; background-color: #ffffff; padding: 10px; float:left;">
								#parse("../../_include/body-pagination-pagelistholder.vm")
								<div>
									<div id="dialog" title="Please select one target server">
										  <select id="choosedServer" name="please select one server name">
											<option value="Hoteia-Laptop" selected>Hoteia-Laptop</option>
											<option value="">
										  </select>
									</div>
									<table class="table" style="width: 100%">
										<thead>
											<tr>
												<th width="100px">Cache Name</th>
												<th width="150px">Max Elements In Memory</th>
												<th width="100px">Time To Idle Seconds</th>
												<th width="100px">Time To Live Seconds</th>
												<th width="100px">Overflow To Disk</th>
												<th width="350px"><a class="btn" href="#" alt="" onclick="flushAll();">flush all of caches</a>&nbsp;</th>
											</tr>
										</thead>
										<tbody>
											 
											<tr>
												<td>catalog</td>
												
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('catalog');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('catalog');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>category</td>
												
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('category');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('category');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>customer</td>
												
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('customer');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('customer');" value="flush specific server"></input>
												</td>
											</tr>
											<tr>
												<td>product</td>
												
												<td>10000</td>
												<td>300</td>
												<td>600</td>
												<td>True</td>
												<td>
													<input type="button"  onclick="flushAllServer('product');" value="flush all servers"></input>&nbsp;<input type="button"  onclick="flushSpecificServer('product');" value="flush specific server"></input>
												</td>
											</tr>
											
											
										</tbody>  
									</table> 
								</div>
							</div>
						</div>					
					</div> 
					<div style="clear: both;"></div>
				</section>

	<script>
		var choosedCacheName = "";
		function flushSpecificServer(cacheName){
			choosedCacheName = cacheName;
			$( "#dialog" ).dialog( "open" );
	
		}
		function flushAll(){ 
			$.post("../sc/flushCache.html",{flag:'ALL'},function(result,status){
				if('SUCCESS'==result){
					alert('The operation was successful!');
				}else{
				
					alert(result);
				}
			});
		}
		
		function flushAllServer(){ 
			$.post("../sc/flushCache.html",{flag:'ALLSERVER',cacheName:choosedCacheName},function(result,status){
				if('SUCCESS'==result){
					alert('The operation was successful!');
				}else{
				
					alert(result);
				}
			});
		}
	$(function() {

		$( "#dialog" ).dialog({
			autoOpen: false,
			show: {
				effect: "blind",
				duration: 1000
			},
 			buttons: {
				"Confirm refresh the cache?": function() {
					var serverNameStr = $("#choosedServer").val();
 
					$( this ).dialog( "close" );
					$.post("../sc/flushCache.html",{flag:'SINGLE',cacheName:choosedCacheName,serverName:serverNameStr},function(result,status){
						if('SUCCESS'==result){
							alert('The operation was successful!');
						}else{
							alert(result);
						}
					},"text");
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});
	});
	
	</script>