
<script src="${common.themeResourcePrefixPath}/js/library/jquery/jquery-1.8.2.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/js/library/bootstrap/bootstrap.js"></script>

