
		<div><h3>Items</h3></div>
		<div style="margin-top: 10px;">
			<table border="0" style="width: 100%; color: #2F353E;">
				<thead>
					<tr>
						<th style="width: 10%; text-align: left;">Product</th>
						<th style="width: 30%;"></th>
						<th style="width: 5%;">Code</th>
						<th style="width: 10%; text-align: center;">Quantity</th>
						<th style="width: 15%; text-align: center;"></th>
						<th style="width: 15%; text-align: right;">Unit price</th>
						<th style="width: 15%; text-align: right;">Total</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
				#foreach($cartItem in $cart.cartItems)
					<tr>
						<td style="padding-top: 15px;"><img src="$cartItem.summaryImage" alt="$cartItem.i18nName" /></td>
						<td><a href="$cartItem.productDetailsUrl" alt="$cartItem.i18nName" target="_blank" class="checkout-common-link">$cartItem.i18nName</a></td>
						<td style="text-align: center;"><a href="$cartItem.productDetailsUrl" alt="$cartItem.i18nName" target="_blank" class="checkout-common-link">$cartItem.skuCode</a></td>
						<td style="text-align: center;">$cartItem.quantity</td>
						<td style="text-align: center;"><a href="$cartItem.deleteUrl" alt="$cartItem.i18nName" target="_blank" class="checkout-common-link">remove (X)</a></td>
						<td style="text-align: right;">$cartItem.unitPriceWithCurrencySign</td>
						<td style="text-align: right;">$cartItem.amountWithCurrencySign</td>
					</tr>
				#end
				</tbody>
			</table> 
		</div>
		<div style="margin-top: 15px; margin-bottom: 10px;">
			<table style="width: 100%; color: #2F353E;">
				<thead>
					<tr>
						<th style="width: 85%;"></th>
						<th style="width: 15%;"></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					<tr style="border-top: 1px solid #2F353E">
						<td style="text-align: right;">Cart Items Total</td>
						<td style="text-align: right;">$cart.cartItemsTotalWithCurrencySign</td>
					</tr>
				</tbody>
			</table> 
		</div>
		
		#if($!cart.totalDeliveryMethods > 0)
		<div style="margin-top: 15px;"></div>
		<div>
			<table border="0" style="width: 100%; color: #2F353E;">
				<thead>
					<tr>
						<th style="width: 85%;"></th>
						<th style="width: 15%;"></th>
					</tr>
				</thead>
				<tfoot>
					<tr style="border-top: 1px solid #2F353E">
						<td style="text-align: right;">Cart Shipping Total</td>
						<td style="text-align: right;">$cart.cartShippingTotalWithCurrencySign</td>
					</tr>
				</tfoot>
				<tbody>
				#foreach($cartDeliveryMethod in $cart.cartDeliveryMethods)
					<tr>
						<td style="text-align: right;">$cartDeliveryMethod.label</td>
						<td style="text-align: right;">$cartDeliveryMethod.amountWithCurrencySign</td>
					</tr>
				#end
				</tbody>
			</table> 
		</div>
		#end

		#if($!cart.totalCartTaxes > 0)
		<div style="margin-top: 15px;"></div>
		<div>
			<table border="0" style="width: 100%; color: #2F353E;">
				<thead>
					<tr>
						<th style="width: 85%;"></th>
						<th style="width: 15%;"></th>
					</tr>
				</thead>
				<tfoot>
					<tr style="border-top: 1px solid #2F353E">
						<td style="text-align: right;">Cart Fees Total</td>
						<td style="text-align: right;">$cart.cartFeesTotalWithCurrencySign</td>
					</tr>
				</tfoot>
				<tbody>
				#foreach($cartTaxe in $cart.cartTaxes)
					<tr>
						<td style="text-align: right;">$cartTaxe.cartTaxTotalLabel</td>
						<td style="text-align: right;">$cartTaxe.cartTaxTotalWithCurrencySign</td>
					</tr>
				#end
				</tbody>
			</table> 
		</div>
		#end

		<div style="margin-top: 15px;"><h3>Cart Total</h3></div>
		<div>
			<table border="0" style="width: 100%; color: #2F353E;">
				<thead>
					<tr>
						<th style="width: 85%;"></th>
						<th style="width: 15%;"></th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
				<tbody>
					<tr>
						<td style="text-align: right;">Cart Total</td>
						<td style="text-align: right;">$cart.cartTotalWithCurrencySign</td>
					</tr>
				</tbody>
			</table> 
		</div>
