#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<div id="cart-summary-content" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">			
			<div><h3>Items</h3></div>
			<div id="cart-items" style="margin-top: 10px;" with-actions="$!cart.withItemQuantityActions">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 10%; text-align: left;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_sku_label")</th>
							<th style="width: 30%;"></th>
							<th style="width: 5%;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_sku_code")</th>
							<th style="width: 10%; text-align: center;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_quantity_label")</th>
							#if($!cart.withItemQuantityActions)
							<th style="width: 15%; text-align: center;"></th>
							#end
							<th style="width: 15%; text-align: right;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_price")</th>
							<th style="width: 15%; text-align: right;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_subtotal")</th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							#if($!cart.withItemQuantityActions)
							<td></td>
							#end
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_items")</td>
							<td id="cart-items-total" style="text-align: right;"></td>
						</tr>
					</tfoot>
					<tbody></tbody>
				</table> 
			</div>
			
			<div id="cart-delivery-methods" style="margin-top: 15px;">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr style="border-top: 1px dashed #2F353E">
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_shippings")</td>
							<td id="cart-delivery-methods-total" style="text-align: right;"></td>
						</tr>
					</tfoot>
					<tbody></tbody>
				</table> 
			</div>

			<div id="cart-taxes" style="margin-top: 15px;">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_taxes")</td>
							<td id="cart-taxes-total" style="text-align: right;"></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td style="text-align: right;"></td>
							<td style="text-align: right;"></td>
						</tr>
					</tbody>
				</table> 
			</div>

			#if($!cart.withPromoCode)
			<div id="cart-promocodes" style="margin-top: 15px;">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 80%;"></th>
							<th style="width: 20%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="text-align: right;">$wording.get("fo.checkout_shopping_cart.shoppingcart_promo_code")</td>
							<td id="cart-promo-code" style="text-align: right;"><input type="text" id="input-promo-code" name="input-promo-code" class="input-cart-promo-code" placeholder="$wording.get("fo.checkout_shopping_cart.shoppingcart_promo_code_placeholder")" /><a href="#" class="btn" class="trigger-apply-promo-code">$wording.get("fo.checkout_shopping_cart.shoppingcart_promo_code_submit")</button></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td style="text-align: right;"></td>
							<td style="text-align: right;"></td>
						</tr>
					</tbody>
				</table> 
			</div>
			#end
			
			<div id="cart-total" style="margin-top: 15px;">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_global_total")</td>
							<td id="cart-total-amount" style="text-align: right;"></td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
