#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		#if($!checkoutStep)
		<div class="checkout-header-wrapper" id="pageTitle">
			<div class="checkout-header">
				<ol class="checkout-nav checkout-nav-dispatch">
					#if($checkoutStep == 1)	#set($active = 'class="active"') #else #set($active = '') #end
					<li><a href="$!cart.cartDetailsUrl" $!active>1 Votre commande</a></li>
					#if($checkoutStep == 2)	#set($active = 'class="active"') #else #set($active = '') #end
					<li><a href="$!cart.cartAuthUrl" $!active>2 Compte</a></li>
					#if($checkoutStep == 3)	#set($active = 'class="active"') #else #set($active = '') #end
					<li><a href="$!cart.cartDeliveryAndOrderDetailsUrl" $!active>3 Livraison</a></li>
					#if($checkoutStep == 4)	#set($active = 'class="active"') #else #set($active = '') #end
					<li><a href="$!cart.cartOrderPaymentUrl" $!active>4 Paiement</a></li>
					#if($checkoutStep == 5)	#set($active = 'class="active"') #else #set($active = '') #end
					<li><a href="$!cart.cartOrderConfirmationUrl" $!active>5 Confirmation</a></li>
				</ol>
			</div>
		</div>
		#end