#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<div id="cart-summary-content" style="margin-top: 15px; margin-bottom: 15px; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">			
			<div><h3>$wording.get("fo.checkout_shopping_cart.order_summary")</h3></div>
			<div style="margin-top: 10px;">
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 10%; text-align: left;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_sku_label")</th>
							<th style="width: 30%;"></th>
							<th style="width: 5%; text-align: center;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_sku_code")</th>
							<th style="width: 10%; text-align: center;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_quantity_label")</th>
							<th style="width: 15%; text-align: right;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_price")</th>
							<th style="width: 15%; text-align: right;">$wording.get("fo.checkout_shopping_cart.shoppingcart_item_subtotal")</th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="margin-top: 10px;">&nbsp;</td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_items")</td>
							<td id="cart-items-total" style="text-align: right;">$!order.orderItemsTotalWithCurrencySign</td>
						</tr>
					</tfoot>
					<tbody id="cart-items">
					#foreach($orderItem in $!order.orderItems)
						<tr>
							<td style="padding-top: 10px;">$!orderItem.name</td>
							<td>$!orderItem.name</td>
							<td style="text-align: center;">$!orderItem.skuCode</td>
							<td style="text-align: center;">$!orderItem.quantity</td>
							<td style="text-align: right;">$!orderItem.price</td>
							<td style="text-align: right;">$!orderItem.amount</td>
						</tr>
					#end
					</tbody>
				</table> 
			</div>
			
			#if($!order.totalOrderShippings > 0)
			<div style="margin-top: 15px;"></div>
			<div>
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr style="border-top: 1px dashed #2F353E">
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_shippings")</td>
							<td id="cart-delivery-methods-total" style="text-align: right;">$!order.orderShippingTotalWithCurrencySign</td>
						</tr>
					</tfoot>
					<tbody id="cart-delivery-methods">
					#foreach($orderShipping in $!order.orderShippings)
						<tr>
							<td>$!orderShipping.orderShippingTotalLabel</td>
							<td>$!orderShipping.orderShippingTotal</td>
						</tr>
					#end
					</tbody>
				</table> 
			</div>
			#end

			#if($!order.totalOrderTaxes > 0)
			<div style="margin-top: 15px;"></div>
			<div>
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr style="border-top: 1px dashed #2F353E">
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_total_taxes")</td>
							<td id="cart-taxes-total" style="text-align: right;">$!order.orderTaxesTotalWithCurrencySign</td>
						</tr>
					</tfoot>
					<tbody>
					#foreach($orderTax in $!order.orderTaxes)
						<tr>
							<td style="text-align: right;">$orderTax.cartTaxTotalLabel</td>
							<td style="text-align: right;">$orderTax.cartTaxTotalWithCurrencySign</td>
						</tr>
					#end
					</tbody>
				</table> 
			</div>
			#end

			#if($!order.withPromoCode)
			<div style="margin-top: 15px;"></div>
			<div>
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 80%;"></th>
							<th style="width: 20%;"></th>
						</tr>
					</thead>
					<tfoot>
							<tr>
								<td></td>
								<td></td>
							</tr>
					</tfoot>
					<tbody>
					#foreach($promoCode in $!order.promoCodes)
						<tr>
							<td style="text-align: right;">$promoCode.cartTaxTotalLabel</td>
							<td style="text-align: right;">$promoCode.cartTaxTotalWithCurrencySign</td>
						</tr>
					#end
					</tbody>
				</table> 
			</div>
			#end
			
			<div style="margin-top: 15px;"></div>
			<div>
				<table border="0" style="width: 100%; color: #2F353E;">
					<thead>
						<tr>
							<th style="width: 85%;"></th>
							<th style="width: 15%;"></th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td style="text-align: right; font-weight: bold;">$wording.get("fo.checkout_shopping_cart.shoppingcart_global_total")</td>
							<td id="cart-total" style="text-align: right;">$!order.orderTotalWithCurrencySign</td>
						</tr>
					</tbody>
				</table> 
			</div>
		</div>
