#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="warehouse">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
					<div>
						#parse("../../_include/body-pagination-pagelistholder.vm")
						<div>
							<table class="table" style="width: 100%">
								<thead>
									<tr>
										<th width="150px">$wording.get("bo.warehouse.code_label")</th>
										<th width="200px">$wording.get("bo.warehouse.name_label")</th>
										<th width="350px">$wording.get("bo.warehouse.description_label")</th>
										<th width="200px">$wording.get("bo.common.actions_label")</th>
									</tr>
								</thead>
								<tbody>
									#foreach($warehouse in $pagedListHolder.pageList)
									<tr>
										<td>${warehouse.code}</td>
										<td>${warehouse.name}</td>
										<td>${warehouse.description}</td>
										<td><a href="${warehouse.detailsUrl}" class="btn">$wording.get("bo.common.details_label")</a>&nbsp;<a href="${warehouse.editUrl}" class="btn">$wording.get("bo.common.edit_label")</a></td>
									</tr>
									#end
								</tbody>  
							</table> 
						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
