#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
		<link href="${common.themeResourcePrefixPath}/js/library/wishlist-slide/wishlist-slide.css" rel="stylesheet" type="text/css">

<style type="text/css" >
	#featured .ui-tabs-panel .info{
		display:none;
	}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/selected-item.gif') top left no-repeat;  
}
#featured .ui-tabs-panel .info{ 
	background: url('${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/transparent-bg.png'); 
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$("#featured").tabs({fx:[{opacity: "toggle", duration: 'slow'}, {opacity: "toggle", duration: 'normal'}],
			show: function(event, ui){
				$('#featured .ui-tabs-panel .info').hide();
				var infoheight=$('.info', ui.panel).height();
				$('.info', ui.panel).css('height', '0px').animate({ 'height': infoheight }, 500);
			}
		}).tabs("rotate", 5000, true);
		$('#featured').hover(
			function(){ $('#featured').tabs('rotate', 0, true); },
			function(){ $('#featured').tabs('rotate', 5000, true); }
		);
		$('#featured .ui-tabs-panel a.hideshow').click(function(){
			if($(this).text()=='Hide'){
				$(this).parent('.info').animate({ 'height': '0px' }, 500);
				$(this).text('Show');
			}
			else{
				$(this).parent('.info').animate({ 'height': '70px' }, 500);
				$(this).text('Hide');
			}
			return false;
		});
	});
</script>

	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div id="container-body">
				<div id="breadcrumb">
					#parse("../_include/breadcrumb.vm")
				</div>
			
				<section id="customer-add-address">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
	
					#parse("_include/customer-menu.vm")

					<div style="float: left; width: 80%;">
					
		<div id="featured" >
		  <ul class="ui-tabs-nav">
	        <li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1"><img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image1-small.jpg" alt="" /><span>15+ Excellent High Speed Photographs</span></a></li>
	        <li class="ui-tabs-nav-item" id="nav-fragment-2"><a href="#fragment-2"><img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image2-small.jpg" alt="" /><span>20 Beautiful Long Exposure Photographs</span></a></li>
	        <li class="ui-tabs-nav-item" id="nav-fragment-3"><a href="#fragment-3"><img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image3-small.jpg" alt="" /><span>35 Amazing Logo Designs</span></a></li>
	        <li class="ui-tabs-nav-item" id="nav-fragment-4"><a href="#fragment-4"><img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image4-small.jpg" alt="" /><span>Create a Vintage Photograph in Photoshop</span></a></li>
	      </ul>

				<!-- First Content -->
				<div id="fragment-1" class="ui-tabs-panel" style="">
					<img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image1.jpg" alt="" />
					 <div class="info" >
						<a class="hideshow" href="#" >Hide</a>
						<h2><a href="#" >15+ Excellent High Speed Photographs</a></h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt condimentum lacus. Pellentesque ut diam....<a href="#" >read more</a></p>
					 </div>
				</div>

				<!-- Second Content -->
				<div id="fragment-2" class="ui-tabs-panel ui-tabs-hide" style="">
					<img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image2.jpg" alt="" />
					 <div class="info" >
						<a class="hideshow" href="#" >Hide</a>
						<h2><a href="#" >20 Beautiful Long Exposure Photographs</a></h2>
						<p>Vestibulum leo quam, accumsan nec porttitor a, euismod ac tortor. Sed ipsum lorem, sagittis non egestas id, suscipit....<a href="#" >read more</a></p>
					 </div>
				</div>

				<!-- Third Content -->
				<div id="fragment-3" class="ui-tabs-panel ui-tabs-hide" style="">
					<img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image3.jpg" alt="" />
					 <div class="info" >
						<a class="hideshow" href="#" >Hide</a>
						<h2><a href="#" >35 Amazing Logo Designs</a></h2>
						<p>liquam erat volutpat. Proin id volutpat nisi. Nulla facilisi. Curabitur facilisis sollicitudin ornare....<a href="#" >read more</a></p>
					 </div>
				</div>

				<!-- Fourth Content -->
				<div id="fragment-4" class="ui-tabs-panel ui-tabs-hide" style="">
					<img src="${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/image4.jpg" alt="" />
					 <div class="info" >
						<a class="hideshow" href="#" >Hide</a>
						<h2><a href="#" >Create a Vintage Photograph in Photoshop</a></h2>
						<p>Quisque sed orci ut lacus viverra interdum ornare sed est. Donec porta, erat eu pretium luctus, leo augue sodales....<a href="#" >read more</a></p>
					 </div>
				</div>

		</div>

					</div>
					<div style="clear: both;"></div>
				</section>
			</div>
			
			<div style="clear: both;"></div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>