#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
		<link href="${common.themeResourcePrefixPath}/js/library/wishlist-slide/wishlist-slide.css" rel="stylesheet" type="text/css">

<style type="text/css" >
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	background:url('${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/selected-item.gif') top left no-repeat;  
}
#featured .ui-tabs-panel .info{ 
	background: url('${common.themeResourcePrefixPath}/js/library/wishlist-slide/images/transparent-bg.png'); 
}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$("#featured").tabs({fx:[{opacity: "toggle", duration: 'slow'}, {opacity: "toggle", duration: 'normal'}],
			show: function(event, ui){
			}
		});
		$('#featured .ui-tabs-panel a.hideshow').click(function(){
			if($(this).text()=='Hide'){
			}
			else{
			}
			return false;
		});
	});
</script>

	</head>

	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div id="container-body">
				<div id="breadcrumb">
					#parse("../_include/breadcrumb.vm")
				</div>
			
				<section id="customer-wishlist">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>
	
					#parse("_include/customer-menu.vm")

					<div style="float: left; width: 80%;">
					
		<div id="featured" >
			<ul class="ui-tabs-nav">
			#foreach($productSku in $customerWishlist.productSkus)
				<li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1"><a href="#fragment-1"><img src="${productSku.carouselImage}" alt="${productSku.name}" width="80px" height="80px" /><span>${productSku.name}</span></a></li>
			#end
			</ul>
			#foreach($productSku in $customerWishlist.productSkus)
			<div id="fragment-$velocityCount" class="ui-tabs-panel">
				<div class="info" >
					<h2><a href="#" >${productSku.name}</a></h2>
					<div>
						<a href="${productSku.addToCartUrl}" alt="${productSku.addToCartLabel}">${productSku.addToCartLabel}</a><br/>
						<a href="${productSku.removeFromWishlistUrl}" alt="${productSku.removeFromWishlistLabel}">${productSku.removeFromWishlistLabel}</a><br/>
					</div>
					<a class="hideshow" href="#" >Hide</a>
				</div>
				<div class="product-image">
					<img src="${productSku.backgroundImage}" alt="${productSku.name}" width="600px" height="400px" />
				</div>
			</div>
			#end
		</div>

					</div>
					<div style="clear: both;"></div>
				</section>
			</div>
			
			<div style="clear: both;"></div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>