#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("_include/head-common.vm")
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("_include/menu.vm")

			#* Main Content *#
			<div class="container">
				<div id="container-body">
					<div id="breadcrumb">
						#parse("_include/breadcrumb.vm")
					</div>
					<div>


<style>

#home-slideshow {
	width: 1170px;
	height: 537px;
	position: relative;
}

#ribbon {
	position: absolute;
	top: -3px;
	left: -15px;
	z-index: 500;
}

#frame {
	position: absolute;
	z-index: 0;
	width: 1170px;
	height: 341px;
	top: -3px;
	left: -80px;
}

#slides {
	position: absolute;
	top: 0px;
	z-index: 100;
}

.slides_container {
	width: 1170px;
	overflow: hidden;
	position: relative;
	display: none;
}

.slides_container div.slide {
	width: 1170px;
	height: 537px;
	display: block;
}

#slides .next, #slides .prev {
	position: absolute;
	top: 170px;
	width: 24px;
	height: 43px;
	display: block;
	z-index: 101;
}

#slides .prev {
	left: -25px;
}

#slides .next {
	left: 1171px;
}

.pagination {
	position: absolute;
	top: 480px;
	left: 800px;
	margin: 26px auto 0;
	width: 100px;
	z-index: 1000;
}

.pagination li {
	float: left;
	margin: 0 1px;
	list-style: none;
}

.pagination li a {
	width: 12px;
	height: 0;
	padding-top: 0px;
}

.pagination li.current a {
	background-position: 0 -12px;
}

.caption {
	z-index: 500;
	position: absolute;
	bottom: -35px;
	left: 0;
	height: 30px;
	padding: 5px 20px 20px 20px;
	background: #000;
	background: rgba(0,0,0,.5);
	width: 1170px;
	font-size: 1.3em;
	line-height: 1.33;
	color: #fff;
	border-top: 1px solid #000;
	text-shadow: none;
}

</style>

<script src="${common.themeResourcePrefixPath}/js/library/images-with-captions/js/slides.min.jquery.js"></script>
<script>
	$(function(){
		$('#slides').slides({
			preload: true,
			preloadImage: '${common.themeResourcePrefixPath}/js/library/images-with-captions/img/loading.gif',
			play: 5000,
			pause: 2500,
			hoverPause: true,
			animationStart: function(current){
				$('.caption').animate({
					bottom:-35
				},100);
				if (window.console && console.log) {
					console.log('animationStart on slide: ', current);
				};
			},
			animationComplete: function(current){
				$('.caption').animate({
					bottom:0
				},200);
				if (window.console && console.log) {
					console.log('animationComplete on slide: ', current);
				};
			},
			slidesLoaded: function() {
				$('.caption').animate({
					bottom:0
				},200);
			}
		});
	});
</script>

<div class="container-body-fix">
		<div id="home-slideshow">
			<div id="slides">
				<div class="slides_container">
					<div class="slide">
						<a href=" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-1.jpg" width="1170" height="537" alt="Slide 1"></a>
						<div class="caption" style="bottom:0">
							<p>Image 1</p>
						</div>
					</div>
					<div class="slide">
						<a href=" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-2.jpg" width="1170" height="537" alt="Slide 2"></a>
						<div class="caption">
							<p>Image 2</p>
						</div>
					</div>
					<div class="slide">
						<a href=" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-3.jpg" width="1170" height="537" alt="Slide 3"></a>
						<div class="caption">
							<p>Image 3</p>
						</div>
					</div>
					<div class="slide">
						<a href=" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-4.jpg" width="1170" height="537" alt="Slide 4"></a>
						<div class="caption">
							<p>Image 4</p>
						</div>
					</div>
					<div class="slide">
						<a href="/" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-5.jpg" width="1170" height="537" alt="Slide 5"></a>
						<div class="caption">
							<p>Image 5</p>
						</div>
					</div>
					<div class="slide">
						<a href=" title=" target="_blank"><img src="${common.themeResourcePrefixPath}/img/home/1024x768-6.jpg" width="1170" height="537" alt="Slide 6"></a>
						<div class="caption">
							<p>Image 6</p>
						</div>
					</div>
				</div>
				<a href="#" class="prev"><img src="${common.themeResourcePrefixPath}/js/library/images-with-captions/img/arrow-prev.png" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="${common.themeResourcePrefixPath}/js/library/images-with-captions/img/arrow-next.png" width="24" height="43" alt="Arrow Next"></a>
			</div>
		</div>
</div>
					
					</div>
				</div>
			</div>
			
			#* Footer *#
			#parse("_include/footer.vm")

		</div>
		#* End container *#

		#parse("_include/bottom-javascript.vm")
	
	</body>
</html>