/*****************************************************************************
	Global
*****************************************************************************/

body {
	font: 13px/1.7em 'Open Sans';
}
    
p { 
	font: 13px/1.7em 'Open Sans'; 	
}
    
input, button, select, textarea {
  font-family: 'Open Sans';
}

h1 {
    font-size: 25.5px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1080px;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 10px;
	padding-bottom: 0px;
}

.dropdown .dropdown-menu {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.btn-icon-only {
	padding-right: 3px;
	padding-left: 3px;
}

.table td {
	vertical-align: middle;
}

.table-bordered th {
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	font-size: 10px;
	color: #444;
	text-transform: uppercase;
}

 a {
	color: #666;
}

 a:hover {
	color: #7e2a8d;
	text-decoration: none;
}

/* disable bootstrap icon and use font-awesome */
[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
	background-image: none;
}
	
/*****************************************************************************
	Navbar content
*****************************************************************************/

.navbar .container {
	position: relative;
}

.navbar-inner {
	padding: 7px 0;
	background: #292929;
	border-bottom: 1px solid #121212;	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.navbar-fixed-top {
	position: static;
}

.navbar .nav {
    margin: 0 0 0 0;
}

.navbar .nav a {
}

.navbar .brand {
	color: #7d7e81;
	font-weight: 600;
	font-size: 19px;
	position: relative;
	top: 2px;
	text-shadow: none;
}

.navbar .search-query {
	background-color: #444;
	width: 150px;
	font-size: 11px;
	font-weight: bold;
}

.navbar .search-query::-webkit-input-placeholder {
    color: #666;
}

.navbar .search-query:-moz-placeholder {
    color: #666;
}

.navbar .nav > li > a {
    text-shadow: none;
	padding: 10px;	
}

.navbar .nav > li > a :hover{
    text-shadow: none;
	color: #7e2a8d;
	text-decoration: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
	background: transparent;
    color: #ffffff;
}

/*-------------------
      Subnavbar
--------------------*/

.subnavbar {
	margin-bottom: 0px;
	border-top: 1px solid #595959;
}
    
.subnavbar-inner {
	height: 80px;
	background: #3A3A3A;
	background-image: -moz-linear-gradient(top, #414141, #323232);
	background-image: -ms-linear-gradient(top, #414141, #323232);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#323232));
	background-image: -webkit-linear-gradient(top, #414141, #323232);
	background-image: -o-linear-gradient(top, #414141, #323232);
	background-image: linear-gradient(top, #414141, #323232);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#323232', GradientType=0);
	border-bottom: 1px solid #000;
}

.subnavbar .container > ul {
	display: inline-block;
	height: 80px;
	padding: 0;
	margin: 0;
	border-left: 1px solid #292929;
	border-right: 1px solid #4A4A4A;
}

.subnavbar .container > ul > li {
	float: left;
	min-width: 90px;
	height: 80px;
	padding: 0;
	margin: 0;
	text-align: center;
	list-style: none;
	border-left: 1px solid #4A4A4A;
	border-right: 1px solid #292929;
}

.subnavbar .container > ul > li > a {
	display: block;
	height: 100%;
	padding: 0 15px;
	font-weight: bold;
	color: #7d7e81;
	text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.subnavbar .container > ul > li > a:hover {
	color: #ffffff;
	text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-top: 17px;
	margin-bottom: .25em;
	font-size: 28px;
}

.subnavbar .container > ul > li > a > span {
	display: block;
}

.subnavbar .container > ul > li.active > a {
	background: #333;
	color: #a1cd44;
}

.subnavbar .dropdown .dropdown-menu a {
	font-size: 12px;
}

.subnavbar .dropdown .dropdown-menu {
    	text-align: left;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
}
    
.subnavbar .dropdown-menu::before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: -7px;
	left: 9px;
}

.subnavbar .dropdown-menu::after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
	top: -6px;
	left: 10px;
}

.subnavbar .caret {
	margin-top: 4px;
	
	border-top-color: white;
	border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
	display: none;
}

/*-------------------
      Main
--------------------*/

.main {
	padding-bottom: 2em;
	border-bottom: 1px solid #000;
}


/*-------------------
      Extra
--------------------*/

.extra {
	border-top: 1px solid #585858;
	border-bottom: 1px solid #000;
}

.extra-inner {
	color: #BBB;
	background: #333333;
}

.extra a {
	color: #666;
}

.extra a:hover {
	color: #7e2a8d;
	text-decoration: none;
}

.extra h4 {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 400;
}

.extra ul {
	padding: 0;
	margin: 0;
}

.extra li {
	margin-bottom: 3px;
	list-style: none;
}

/*****************************************************************************
	Main content
*****************************************************************************/
.main {
	padding-top: 0px;
	min-height: 400px;
}

/*****************************************************************************
	Footer content
*****************************************************************************/

.footer {
	margin-top: 0;
	border-top: 1px solid #292929;
}

.footer-inner {
	padding: 15px 0;
	font-size: 12px;
	background: #1A1A1A;
	color: #BBBBBB;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}

/*-------------------
      Widget
--------------------*/

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
}
	
.widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}	
	
.widget-header h3 {
		position: relative;
		top: 2px;
		left: 10px;
		display: inline-block;
		margin-right: 3em;
		font-size: 14px;
		font-weight: 800;
		color: #555;
		line-height: 18px;
		text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
	
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;	
}

.widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}


/* Widget Plain */

.widget-plain {
	
	background: transparent;
	
	border: none;
}

.widget-plain .widget-content {
	padding: 0;
	
	background: transparent;
	
	border: none;
}


/* Widget Box */

.widget-box {	
	
}

.widget-box .widget-content {	
	background: #E3E3E3;	
	background: #FFF;
}

/*****************************************************************************
	Error content
*****************************************************************************/

.error-container {
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}

.error-container h1 {
	margin-bottom: .5em;
	
	font-size: 120px;
	line-height: 1em;
}

.error-container h2 {
	margin-bottom: .75em;
	font-size: 28px;
}

.error-container .error-details {
	margin-bottom: 1.5em;
	
	font-size: 16px;
}

.error-container .error-actions a {
	margin: 0 .5em;
}



/*-------------------
      Miscellaneous
--------------------*/


.chart-holder {
	width: 100%;
	height: 250px;
}






/*-------------------
      Dashboard - Shortcuts
--------------------*/

.shortcuts {
	text-align: center;	
}

.shortcuts .shortcut { 
	width: 22.50%;
	display: inline-block;
	padding: 12px 0;
	margin: 0 .9% 1em;
	vertical-align: top;	
	
	text-decoration: none;
	
	background: #F3F3F3;
	
	border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
	margin-top: .25em;
	margin-bottom: .25em;
	
	font-size: 32px;
	color: #888;
}

.shortcuts .shortcut:hover {
	background: #E8E8E8;
}

.shortcuts .shortcut:hover .shortcut-icon {
	color: #666;
}

.shortcuts .shortcut-label {
	display: block;
	
	font-weight: 400;
	color: #666;
}


/*-------------------
      Dashboard - Stats
--------------------*/

.stats {
	width: 100%;
	display: table;
	padding: 0 0 0 10px;
	margin-top: .5em;
	margin-bottom: 1.9em;
}

.stats .stat {
	display: table-cell;
	width: 40%;
	vertical-align: top;
	
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.stat-value {
	display: block;
	margin-bottom: .55em;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #444;
}

.stat-time {
	text-align: center;
	padding-top: 1.5em;
}

.stat-time .stat-value {
	color: #F90;
	font-size: 40px;
}

.stats #donut-chart {
	height: 100px;
	margin-left: -20px;	
}



/*-------------------
      Dashboard - News Item
--------------------*/

.news-items {
	margin: 1em 0 0;
}

.news-items li {
	display: table;
	padding: 0 2em 0 1.5em;
	padding-bottom: 1em;
	margin-bottom: 1em;
	
	border-bottom: 1px dotted #CCC;
}

.news-items li:last-child { padding-bottom: 0; border: none; }

.news-item-date {
	display: table-cell;
}

.news-item-detail {
	display: table-cell;
}

.news-item-title {
	font-size: 13px;
	font-weight: 600;
}

.news-item-date {
	width: 75px;
	vertical-align: middle;
	
	text-align: right;
}

.news-item-day {
	display: block;
	margin-bottom: .25em;
	
	font-size: 24px;
	color: #888;
}

.news-item-preview {
	margin-bottom: 0;
	
	color: #7d7e81;
}

.news-item-month {
	display: block;
	padding-right: 1px;	
	
	font-size: 12px;
	font-weight: 600;
	color: #888;
}

/*-------------------
      Dashboard - Action Table
--------------------*/

.action-table .btn-small {
	padding: 4px 5px 5px;
	
	font-size: 10px;
}

.action-table .td-actions { 
	width: 80px; 
	
	text-align: center; 
}

	.action-table .td-actions .btn { 
		margin-right: .5em;		
	}
	
	.action-table .td-actions .btn:last-child { 
		margin-rigth: 0; 		
	}
	
	
	
	
	
	
	
@media (max-width: 979px) {
	
	.shortcuts .shortcut {
		width: 31%;
	}
}


@media (max-width: 480px) {
	
	.stats .stat {
		
		margin-bottom: 3em;
	}
	
	.stats .stat .stat-value {
		margin-bottom: .15em;
		
		font-size: 20px;
	}
	
	.stats {
		float: left;
		
		display: block;
		
		margin-bottom: 0;
	}
	
	#chart-stats {
		margin: 2em 0 1em;		
	}
	
	.shortcuts .shortcut {
		width: 48%;
	}
}