#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

<div class="container" style="padding-top: 20px;">
	<div>
		GEOLOC Remote Address: <span style="color: #ffffff;">$!geolocRemoteAddress</span><br/>
		GEOLOC Country: <span style="color: #ffffff;">$!geolocCountry.isoCode | $!geolocCountry.name</span><br/>
		GEOLOC City: <span style="color: #ffffff;">$!geolocCity.name</span><br/>
	</div>
	<div style="padding-top: 20px;">
		<ul class="nav nav-list">
			#foreach($marketPlace in $marketPlaces)
			<li><a href="$marketPlace.homeUrl" alt="$marketPlace.name" target="_blank"><i class="fa fa-bars"></i>&nbsp;$marketPlace.name</a></li>
			<ul>
				#foreach($market in $marketPlace.markets)
				<li><a href="$market.homeUrl" alt="$market.name" target="_blank">$market.name</a></li>
				<ul>
					#foreach($marketArea in $market.marketAreas)
					<li><a href="$marketArea.homeUrl" alt="$marketArea.name" target="_blank">$marketArea.name</a></li>
					<ul>
						#foreach($localization in $marketArea.localizations)
						<li><a href="$localization.homeUrl" alt="$localization.name" target="_blank">$localization.name</a></li>
						#end
					</ul>
					#end
				</ul>
				#end
			</ul>
			<br/><br/>
			#end
		</ul>
	</div>
</div>
