#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="order-details">
				
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							$wording.get("bo.common.date_create_label") $!order.dateCreate | $wording.get("bo.common.date_update_label") $!order.dateUpdate
						</div>
						<div style="clear: both;"></div>
					</div>

					<div class="widget">
						
						<div class="widget-header">
							<div style="float: left;">
								<i class="fa fa-pushpin"></i>
								<h3>$!mainContentTitle</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a href="$!urlBack" alt="" class="btn">$wording.get("bo.common.back_label")</a>
							</div>
						</div>
						
						<div class="widget-content">
							<div style="width: 100%">
								<strong>$wording.get("bo.order.order_number_label") :</strong> $!order.orderNumber
							</div>							
						</div>
						<div style="width: 100%">
							<strong>$wording.get("bo.common.date_create_label"):</strong> $!order.dateCreate
						</div>
						<div style="width: 100%">
							<strong>$wording.get("bo.common.date_update_label"):</strong> $!order.dateUpdate
						</div>
					</div>
			
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="fa fa-list-alt"></i>
							<h3>${order.xxx}</h3>
						</div>
						
						<div class="widget-content">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
							
						</div>
					
					</div>

				</section>
				

