#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div class="container">
				<div id="container-body">
					<div id="breadcrumb">
						#parse("../_include/breadcrumb.vm")
					</div>
					<div>
						search	
					</div>
				</div>
			</div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>