#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version ${license.version})
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="$localeLanguageCode">
	<head>
		#parse("../_include/head-common.vm")
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50">

		#* Navbar *#
		#parse("../_include/header.vm")

		#* Start container *#
		<div class="container">
		
			#* Header Content *#
			#parse("../_include/menu.vm")

			#* Main Content *#
			<div id="container-body">
				<div id="breadcrumb">
					#parse("../_include/breadcrumb.vm")
				</div>
				<section id="batch-details">
					<div class="page-header">
						<h1>${mainContentTitle}</h1>
					</div>

					<div style="float: left; width: 15%;">
						<form id="batchQuickSearchForm" name="batchQuickSearchForm" action="${quickSearch.urlBatchFormSubmit}" method="POST">
							<input type="text" id="text" name="text" value="" style="width: 150px; margin-bottom: 0px;" />
							<button class="btn btn-primary" type="submit" style="margin-top: 0px;">search</button>
						</form>
						#parse("../_include/short-link-menu.vm")
					</div>

					<div style="float: left; width: 80%;" class="form-horizontal well">
						<div>
							Name : ${batch.name}<br/>
							Description : ${batch.description}<br/><br/>

						</div>
					</div>
					
					<div style="clear: both;"></div>

				</section>
			</div>
			
			#* Footer *#
			#parse("../_include/footer.vm")

		</div>
		#* End container *#

		#parse("../_include/bottom-javascript.vm")
	
	</body>
</html>