#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

				<section id="product-sku-details">
				
					<div class="page-header" style="border-bottom: 0px;">
						<div style="float: left; font-size: 18px;"></div>
						<div style="float: right; text-align: right; font-size: 15px;">
							${productSku.dateCreateLabel} : ${productSku.createdDate} | ${productSku.dateUpdateLabel} : ${productSku.updatedDate}
						</div>
						<div style="clear: both;"></div>
					</div>

					#parse("../../_include/body-transaction-messages.vm")
					
					<div class="widget">
						
						<div class="widget-header">
							<div style="float: left;">
								<i class="icon-pushpin"></i>
								<h3>${mainContentTitle}</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								Actions: <a href="${productSku.productSkuEditUrl}">${productSku.productSkuEditLabel}</a>
							</div>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
							<div style="width: 100%">
								${productSku.businessNameLabel} : ${productSku.businessName}<br/>
								${productSku.descriptionLabel} : ${productSku.description}<br/>
								${productSku.isDefaultLabel} : ${productSku.default}<br/>
								${productSku.codeLabel} : ${productSku.code}<br/>
							</div>
							
						</div> <!-- /widget-content -->
							
					</div>
					
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="icon-list-alt"></i>
							<h3>${productSku.productSkuGlobalAttributesLabel}</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">

							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
									#set ($map = ${productSku.marketAreaAttributes} )
									#foreach ($mapEntry in $map.entrySet())
									<tr>
										<td class="description">
											$mapEntry.key
										</td>
										<td class="value">
											$mapEntry.value
										</td>
									</tr>
									#end
								</tbody>
							</table>
							
						</div> <!-- /widget-content -->
					
					</div>
					
					<div class="widget widget-nopad">
							
						<div class="widget-header">
							<i class="icon-list-alt"></i>
							<h3>${productSku.productSkuMarketAreaAttributesLabel}</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
						
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th style="width: 50%;">Key</th>
										<th style="width: 50%;">Value</th>
									</tr>
								</thead>
								<tbody>
									#set ($map = ${productSku.marketAreaAttributes} )
									#foreach ($mapEntry in $map.entrySet())
									<tr>
										<td class="description">
											$mapEntry.key
										</td>
										<td class="value">
											$mapEntry.value
										</td>
									</tr>
									#end
								</tbody>
							</table>
								
						</div> <!-- /widget-content -->
					
					</div>
					
					<div class="widget">
							
						<div class="widget-header">
							<i class="icon-list-alt"></i>
							<h3>${productSku.assetsLabel}</h3>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
							<div style="width: 100%">

							</div>
						</div> <!-- /widget-content -->
					
					</div>

					<div class="widget">
							
						<div class="widget-header">
							<div style="float: left;">
								<i class="icon-list-alt"></i>
								<h3>${productSku.productMarketingAssociatedLabel}</h3>
							</div>
							<div style="float: right; padding-right: 15px; font-size: 15px;">
								<a href="${productSku.productMarketing.productDetailsUrl}">${productSku.productMarketing.productDetailsLabel}</a> | <a href="${productSku.productMarketing.productEditUrl}">${productSku.productMarketing.productEditLabel}</a>
							</div>
						</div> <!-- /widget-header -->
						
						<div class="widget-content">
							<div style="width: 100%">
								${productSku.productMarketing.businessNameLabel} : ${productSku.productMarketing.businessName}<br/>
								${productSku.productMarketing.descriptionLabel} : ${productSku.productMarketing.code}<br/>								
							</div>
						</div> <!-- /widget-content -->
					
					</div>
				</section>
				

