#set ($layout = "default/www/default/layout/default.vm")
#set ($page_title = $seoPageTitle)

<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/font/font-awesome.css" type="text/css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/default/default.css" type="text/css">
<link rel="stylesheet" href="${common.themeResourcePrefixPath}/css/nivo-slider/nivo-slider.css" type="text/css" media="screen" title="no title" charset="utf-8">

<link href="${common.themeResourcePrefixPath}/js/library/axe-carousel/axe-carousel.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
	function startupPage(){
		$('#featured-products').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#linked-logos-slide').slides({
			preload: true,
			generateNextPrev: true,
			play: 0,
			hoverPause: true
		});
		
		$('#slider').nivoSlider({
	    	controlNav: false
	    });
	}

</script>

<!-- nivo slider - top banner -->
				
<div class="slider-wrapper theme-default axe-top-slider">
    <div id="slider" class="nivoSlider">
		<img src="${common.themeResourcePrefixPath}/img/home/slider-1.jpg" alt="Slider 1" title="#htmlcaption"/>
		<img src="${common.themeResourcePrefixPath}/img/home/1024x768-1.jpg" title="#htmlcaption2"/>
		<img src="${common.themeResourcePrefixPath}/img/home/1024x768-1.jpg" title="#htmlcaption3"/>
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
        <span class="banner-title">El Paso’s cafes</span> 
		<span class="rating-stars star-5">&nbsp;</span>
		<p class="banner-des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam [...]</p>
		<a href="#" class="banner-readmore">Readmore ›</a>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption">
        <span class="banner-title">El Paso’s cafes 2</span> 
		<span class="rating-stars star-2">&nbsp;</span>
		<p class="banner-des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam [...]</p>
		<a href="#" class="banner-readmore">Readmore ›</a>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption">
        <span class="banner-title">El Paso’s cafes 3</span> 
		<span class="rating-stars star-4">&nbsp;</span>
		<p class="banner-des">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam [...]</p>
		<a href="#" class="banner-readmore">Readmore ›</a>
    </div>
</div>
<!-- //nivo slider - top banner -->

<div style="clear: both;"></div>

<!-- slide featured products  -->
<div id="featured-products" class="featured-products">
	<span class="section-title featured-title category-title">Featured Products</span>
	<div class="clear border-btm"></div>
	<div class="slides_container row  products-grid">

		<div class="slide">
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
		</div>
		
		
		<div class="slide">
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
			<div class="item span3">
				<a href="#" class="product-image">
					<span><img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1"></span>
				</a>
				<a href="#" class="product-name">Keurig Café Escapes</a>
				<span class="rating-stars star-4">&nbsp;</span>
				<p class="product-price">$30.00</p>
				<a href="#" class="cart-btn1">
					<i class="icon-shopping-cart"></i> &nbsp;  Add to cart</a>
				<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
			</div>
		</div>


	</div>
	<!-- //slide featured products -->
</div>
	
<div class="clear border-btm"></div>

<!-- Products -->
#foreach($subProductCategory in $productCategory.subCategories)
	#if($subProductCategory.productMarketings.size() > 0)
	<div class="product-section">
    	<span class="section-title category-title">${subProductCategory.name}</span>
    	<div class="clear border-btm"></div>
    	<ul class="row  products-grid">
			#foreach($productMarketing in $subProductCategory.productMarketings)
				<li class="item span3">
        			<a href="${productMarketing.productDetailsUrl}" class="product-image">
        				<span>
							<!--
							<img src="${common.themeResourcePrefixPath}/img/catalog/category/product-1.jpg" alt="News1">
							-->							
							<img src="${productMarketing.carouselImage}" alt="${productMarketing.name}"/>
						</span>
        			</a>
        			<a href="#" class="product-name">${productMarketing.name}</a>
        			<span class="rating-stars star-4">&nbsp;</span>
        			<p class="product-price">$30.00</p>
        			<a href="${productMarketing.addToCartUrl}" class="cart-btn1">
        				<i class="icon-shopping-cart"></i>&nbsp;Add to cart</a>
        			<a href="#" class="wishlist-btn1"><i class="icon-heart"></i></a>
        		</li>
			#end
    	</ul>
	</div>
	#end
#end
<div class="clear border-btm"></div>
<!-- End Products -->

<!-- slide logo  -->
<div id="linked-logos-slide" class="linked-logos-slide">
	<div class="slides_container row  products-grid">

		<div class="slide">
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo1.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo2.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo1.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo2.png" alt="News1"></span>
				</a>
			</div>
		</div>		
		
		<div class="slide">
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo1.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo2.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo1.png" alt="News1"></span>
				</a>
			</div>
			<div class="item span3">
				<a href="#" class="linked-logos">
					<span><img src="${common.themeResourcePrefixPath}/img/home/logo2.png" alt="News1"></span>
				</a>
			</div>
		</div>							

	</div>
	<!-- //slide featured products -->
</div>
<!-- //slide logo  -->
<div class="clear border-btm"></div>
