#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#

				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<i class="fa fa-reorder"></i> $wording.get("fo.common.header_menu")
						</a>
						<a class="brand" href="${common.homeUrl}">$wording.get("fo.common.header_website_name")</a>
						<div class="social_btns" style="padding-top: 25px; float: right;">
							<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
								<a class="addthis_button_preferred_1"></a>
								<a class="addthis_button_preferred_2"></a>
								<a class="addthis_button_preferred_3"></a>
								<a class="addthis_button_preferred_4"></a>
								<a class="addthis_button_compact"></a>
								<a class="addthis_counter addthis_bubble_style"></a>
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-531d99f43e881de0"></script>
						<div>						
					</div>
				</div>
				<div id="header-over-menu-navbar" class="navbar-inner">
					<div class="container">
						<div>
							<div style="float:left; height: 35px;"><a class="coinbase-button" data-code="db228fdd127b68cdcc2e7b33277589c3" data-button-style="donation_large" href="https://coinbase.com/checkouts/db228fdd127b68cdcc2e7b33277589c3">Donate Bitcoins</a><script src="https://coinbase.com/assets/button.js" type="text/javascript"></script></div>
							<div style="float: right;">
								#if($!customer)
									<i class="fa fa-user"></i><span class="user-my-account-link">$customer.lastname $customer.firstname</span>&nbsp; 
									<a href="$common.customerDetailsUrl" alt="$wording.get("fo.common.header_link_my_account")">$wording.get("fo.common.header_link_my_account")</a>&nbsp; 
									<a href="$common.logoutUrl" alt="$wording.get("fo.common.header_link_logout")">$wording.get("fo.common.header_link_logout")</a>
								#else
									<a href="$common.createAccountUrl" class="btn btn-login" alt="$wording.get("fo.common.header_link_create_account")" >$wording.get("fo.common.header_link_create_account")</a>&nbsp; 
									<a href="$common.loginUrl" class="btn btn-login" alt="$wording.get("fo.common.header_link_login")">$wording.get("fo.common.header_link_login") &raquo;</a>
								#end
								#if($!headerCart)
									#if($!headerCart.cartTotalItems > 0)
									&nbsp;<i class="fa fa-shopping-cart"></i><a href="$headerCart.cartUrl" alt="" style="padding-left:3px;">$headerCart.cartTotalSummaryLabel</a>
									#else
									&nbsp;<i class="fa fa-shopping-cart"></i><span style="padding-left:3px;">$headerCart.cartTotalSummaryLabel</span>
									#end
								#end
							</div>
						</div>
					</div>
				</div>
