<script src="${common.themeResourcePrefixPath}/library/custom-event/customEvents-99.1.0.min.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/library/script-load/script.min.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/library/jquery-1.8.2/jquery-1.8.2.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/library/jsrender/jsrender.min.js" type="text/javascript"></script>

<script src="${common.themeResourcePrefixPath}/plugins/qalingo-plugin.popin.js" type="text/javascript"></script>

<script type="text/javascript">
	var jsBasePath =  "${common.themeResourcePrefixPath}";
	if(typeof $script != 'undefined'){
		$script.path(jsBasePath);
	}
	window.onload = function(){
		$script(['/library/jquery-ui-1.9.1/js/jquery-ui-1.9.1.custom.min', '/library/bootstrap-3.1.0/js/bootstrap', 
				 '/library/nivo-slider/jquery.nivo.slider', '/library/slides.jquery', 
				 '/library/axe-carousel/axe-carousel.alpha'], function(){
			$script(['/js/global'], function(){
				if(window.console){
					//console.log('JS is ready');
				}
			});	
		});
	};
	
	plugins.Popin.init();

</script>

