#if( "$!beanName" == "" )
    #set($beanName = "dynamicBean")
#end
#springBind("$beanName.*")
#if($!status)
	#if($!status.errors.allErrors.size() > 0)
		<div class="alert alert-error" style="margin-top: 20px;">
		#foreach($error in $status.errors.allErrors)
			#if($!error.defaultMessage)
				#if($!error.defaultMessage != '')$!error.defaultMessage<br />#end
			#end
		#end
		</div>
	#end
#end
