#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
		<style>
			div#add-wishlist-popup {
				font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
				background: none repeat scroll 0 0 #FFFFFF;
				border: 10px solid #ccc;
				border-radius: 3px 3px 3px 3px;
				color: #333333;
				display: none;
				font-size: 14px;
				left: 50%;
				margin-left: -402px;
				position: fixed;
				top: 20%;
				width: 800px;
				z-index:4001;
			}
			div#popup_content {
				margin: 4px 7px;
			}
		</style>
		
		<div id="add-wishlist-popup" class="trigger-popin" data-attribute-status="0"> 
			<div class="close"></div> 
			<span class="ecs_tooltip">Press Esc to close <span class="arrow"></span></span> 
			<div id="popup_content">
				<div style="background-color: #ffffff; color: red; padding: 10px;"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
		
<script id="addToWishlistProductContent" type="text/x-jsrender">
	<div class="product-detail-content row">
		<div class="product-image-wrap span3">
			<a class="popin-product-image" href="javascript:void(0);">
				<span><img alt="{{:productSku.i18nName}}" src="{{:productSku.defaultPaskshotImage}}"></span>
			</a>
		</div>
		<div class="product-info span5">
			<h3 class="product-name">{{:productSku.i18nName}}</h3>
			{{for successMessages}}
			<p id="{{:id}}" style="color: green; padding-top: 5px; padding-bottom: 5px;">{{:message}}</p>
			{{/for}} 
			{{for errorMessages}}
			<p id="{{:id}}" style="color: red; padding-top: 5px; padding-bottom: 5px;">{{:message}}</p>
			{{/for}} 
			<p class="product-sku" style="10px 0 15px"><strong>SKU:</strong> {{:productSku.code}}</p>
			<span class="product-add2cart">
				<span class="product-price">{{:productSku.priceWithStandardCurrencySign}}</span>
			</span>
			<span class="product-des">
				<p>{{:productSku.description}}</p>				
			</span>
		</div>
		<div style="clear: both;">
		<div>
			<div style="float: left; margin-left: 40px;" class="popin-btn add-to-wishlist-continue">$wording.get("fo.common.popin_continue_label")</div>
			<div style="float: right;" class="popin-btn go-to-wishlist"><a href="{{:wishListDetailsUrl}}"><i class="fa fa-shopping-cart"></i>&nbsp;$wording.get("fo.wishlist.popin_go_to_wishlist")</a></div>
		</div>
	</div>
</script>

		

		