#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
<span class="section-title sidebar-title">Your cart</span>
<ul class="nav-category">
	#if($cart.cartItems.size() > 0)
		#foreach($cartItem in $cart.cartItems)
		<li class="level0 parent">
			<a href="$cartItem.productDetailsUrl"><i class="fa fa-bars"></i>&nbsp;${cartItem.i18nName}</a>
		</li>
		#end
		<a href="$cart.cartDetailsUrl"> Cart Detail</a>
	#else
    <li class="level0 parent">
		<span>There is 0 item(s) in your cart.</span>
	</li>
	#end
</ul>