#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.8.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2014
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
#if($recentProducts.size() > 0)
<span class="section-title sidebar-title">Recent products</span>
<ul class="nav-category">
	#foreach($recentProduct in $recentProducts)
    <li class="level0 parent">
		<a href="${recentProduct.detailsUrl}" class=""><i class="fa fa-bars"></i>&nbsp;${recentProduct.i18nName}</a>
	</li>
	#end
</ul>
#end