#*
 * Most of the code in the Qalingo project is copyrighted Hoteia and licensed
 * under the Apache License Version 2.0 (release version 0.7.0)
 *         http://www.apache.org/licenses/LICENSE-2.0
 *
 *                   Copyright (c) Hoteia, 2012-2013
 * http://www.hoteia.com - http://twitter.com/hoteia - contact@hoteia.com
 *
 *#
        <footer>
            <div class="container footer-container">
        		<div class="row footer-content">
					<div class="span3">
						<span class="footer-nav-title">$wording.get("fo.footer_menu.customer_care")</span>
						<div class="clear border-btm"></div>
						<ul class="footer-nav">
							<li><a href="#">Products</a></li>
							<li><a href="#">Best Sellers</a></li>
							<li><a href="#">Delivery</a></li>
							<li><a href="#">FAQs</a></li>
						</ul>
					</div>
					
					<div class="span3">
						<span class="footer-nav-title">$wording.get("fo.footer_menu.products")</span>
						<div class="clear border-btm"></div>
						<ul class="footer-nav">
							#foreach($catalogCategory in $catalogCategories)
							<li><a href="$catalogCategory.productAxeUrl">$catalogCategory.name</a></li>
							#end
						</ul>
					</div>
					
					<div class="span3">
						<span class="footer-nav-title">$wording.get("fo.footer_menu.our_company")</span>
						<div class="clear border-btm"></div>
						<ul class="footer-nav">
							<li><a href="#">Overview</a></li>
							<li><a href="#">Our Stores</a></li>
							<li><a href="#">Our Sevices</a></li>
							<li><a href="#">Press</a></li>
						</ul>
					</div>
					
					<div class="span3">
						<span class="footer-nav-title">$wording.get("fo.footer_menu.contact_us")</span>
						<div class="clear border-btm"></div>
						<ul class="footer-nav">
							<li>Phone: +84 123456</li>
							<li>Fax: +84 0011223</li>
							<li>Email: contact@yourdomain.com</li>
						</ul>
						<span class="footer-nav-title footer-social-title">$wording.get("fo.footer_menu.follow_us")</span>
						<ul class="footer-social-list">
							<li><a href="http://www.facebook.com" class="ql-social-icons facebook">&nbsp;</a></li>
							<li><a href="http://www.twitter.com" class="ql-social-icons twitter">&nbsp;</a></li>
						</ul>
					</div>
					
					<div class="span9">
						<span class="footer-nav-title">
							$wording.get("fo.footer_menu.payment_methods")&nbsp;<img class="payment-img" src="${common.themeResourcePrefixPath}/img/home/payments.png" alt="Payments">
						</span>
					</div>					
        		</div>
				
				<div class="row">					
                    <div class="span12">
						<div class="pull-left">
							$legalTerms.copyright
						</div>
						<div class="pull-right">
						#foreach($footerMenu in $footerMenus)
							<a href="$footerMenu.url" alt="$footerMenu.name">$footerMenu.name</a>
							#if(!$foreach.last)
							- 
							#end
						#end
						</div>
						<div class="pull-right" style="clear: both;">
							<img src="${common.themeResourcePrefixPath}/img/footer-ico.png" width="40px" height="40px" />
						</div>
                    </div>
        		</div>
        	</div>
        </footer>
