
<script src="${common.themeResourcePrefixPath}/library/jquery-1.8.2/jquery-1.8.2.js" type="text/javascript"></script>
<script src="${common.themeResourcePrefixPath}/library/bootstrap-3.1.0/js/bootstrap.js" type="text/javascript"></script>

